$alert-line-height: 1.2rem;
$anchor-text-hover-decoration: underline;
$side-nav-heading-size: rem-calc(20);

// Footer
$footer-bg-color: #383838;
$footer-font-color: #CCC;
$footer-padding-top: rem-calc(20);
