/*
Syntax error: Undefined mixin 'clearfix'.
        on line 60 of /usr/local/rvm/gems/ruby-2.1.0/gems/zurb-foundation-4.3.2/scss/foundation/components/_grid.scss, in `clearfix'
        from line 60 of /usr/local/rvm/gems/ruby-2.1.0/gems/zurb-foundation-4.3.2/scss/foundation/components/_grid.scss, in `grid-row'
        from line 618 of /var/www/webdev/drupal/sites/all/themes/ncsulib_foundation/scss/hours.scss

Backtrace:
/usr/local/rvm/gems/ruby-2.1.0/gems/zurb-foundation-4.3.2/scss/foundation/components/_grid.scss:60:in `clearfix'
/usr/local/rvm/gems/ruby-2.1.0/gems/zurb-foundation-4.3.2/scss/foundation/components/_grid.scss:60:in `grid-row'
/var/www/webdev/drupal/sites/all/themes/ncsulib_foundation/scss/hours.scss:618
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:268:in `block (3 levels) in visit_mixin'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:268:in `map'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:268:in `block (2 levels) in visit_mixin'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:268:in `block in visit_mixin'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:70:in `perform_arguments'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:263:in `visit_mixin'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:7:in `visit'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/engine.rb:315:in `_render'
/usr/local/rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/engine.rb:262:in `render'
/usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/usr/local/rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/usr/local/rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/usr/local/rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/usr/local/rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/usr/local/rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/usr/local/rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/usr/local/rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/usr/local/rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/usr/local/rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/usr/local/rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/usr/local/rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/usr/local/rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/usr/local/rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/usr/local/rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/usr/local/rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/bin/compass:44:in `call'
/usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.1.0/bin/compass:23:in `load'
/usr/local/rvm/gems/ruby-2.1.0/bin/compass:23:in `<main>'
/usr/local/rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `eval'
/usr/local/rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'clearfix'.\A         on line 60 of /usr/local/rvm/gems/ruby-2.1.0/gems/zurb-foundation-4.3.2/scss/foundation/components/_grid.scss, in `clearfix'\A         from line 60 of /usr/local/rvm/gems/ruby-2.1.0/gems/zurb-foundation-4.3.2/scss/foundation/components/_grid.scss, in `grid-row'\A         from line 618 of /var/www/webdev/drupal/sites/all/themes/ncsulib_foundation/scss/hours.scss"; }
