
<script type="text/javascript">
        jQuery(document).foundation('reflow');
</script>

<div id="search-tabs">
    <!-- Search tabs begin -->
    <dl class="tabs" data-tab>
      <dd class="active"><a href="#search-1">All</a></dd>
      <dd><a href="#search-2">Articles</a></dd>
      <dd><a href="#search-3">Books &amp; Media</a></dd>
      <dd><a href="#search-4">Our Website</a></dd>
    </dl>

    <div class="tabs-content">
        <!-- All -->
        <div class="content active" id="search-1">
            <form accept-charset="utf-8" method="get" action="//search.lib.ncsu.edu" id="searcheverything">
                <input type="text" id="searchall" value="" name="q" class="main-search-field" placeholder="Search books, articles, library website..." title="Search books, articles, library website..." />
                <input type="submit" class="front-page-submit button small" id="all-submit" value="SEARCH" />
            </form>
        </div>

        <!-- Articles -->
        <div class="content" id="search-2">
            <form accept-charset="utf-8" method="get" action="http://ncsu.summon.serialssolutions.com/search" id="search-articles-summon">
                <div class="search-body">
                    <input type="text" id="searcharticle" value="" name="s.q" class="articles-search-field" placeholder="Search for articles in Summon" title="Search for articles in Summon" />
                    <input type="submit" id="article-submit" class="front-page-submit button small" value="SEARCH" />

                    <p class="search-example">EX: tropical deforestation or enter a DOI</p>
                    <select id="searcharticleadvanced" name="searcharticleadvanced" class="has_sb" title="Articles search filters">
                        <option value="anywhere">Anywhere</option>
                        <option value="title">Title</option>
                        <option value="author">Author</option>
                    </select>

                    <label class="access" for="peer-reviewed"><input type="checkbox" value="IsPeerReviewed,true" name="s.fvf[]" id="peer-reviewed" class="article-input" /> Peer-reviewed only</label>
                    <p class="search-more"><a href="/articles/" id="articles-search-more">More search options »</a></p>
                </div>
                <!-- ncsu.summon.serialssolutions.com hidden inputs -->
                <input type="hidden" value="ContentType,Book Chapter,f" name="s.fvf[]" />
                <input type="hidden" class="article-input" value="ContentType,Journal Article" name="s.fvf[]" />
                <input type="hidden" class="article-input" value="addFacetValueFilters(ContentType,Journal / eJournal)" name="s.cmd" />
                <input type="hidden" value="true" name="keep_r" />
            </form>
        </div>

        <!-- Books and Media -->
        <div class="content" id="search-3">
            <form accept-charset="utf-8" method="get" action="//catalog.lib.ncsu.edu/" id="searchbooksform">
                <div class="search-body clearfix">
                    <input type="hidden" value="1" name="Nty">
                    <input type="hidden" value="0" name="N">
                    <input type="hidden" value="" id="sugg" name="sugg">
                    <input type="text" value="" class="books-media-search" id="Ntt" name="Ntt" class="books-media-search-field ac_input" placeholder="Search for ebooks, journals, movies..." title="Search for ebooks, journals, movies..." autocomplete="off">
                    <input type="submit" class="front-page-submit button small prefix" value="SEARCH" id="searchbookssubmit">
                    <p class="search-example">Example: Freakonomics</p>

                    <select id="books-more-options-drop" name="Ntk" class="has_sb" title="Books and media search filters">
                        <option selected="selected" value="Keyword">Anywhere</option>
                        <option value="Title">Title</option>
                        <option value="Journal_Title">Journal Title</option>
                        <option value="Author">Author</option>
                        <option value="Subject">Subject Heading</option>
                        <option value="ISBN">ISBN/ISSN</option>
                        <option value="LC" class="callnum">Call Number</option>
                        <option value="SUDOC" class="callnum">Gov Doc Number</option>
                    </select>

                    <label class="access" for="ncsu"><input type="radio" checked="checked" value="ncsu" name="scope" id="ncsu" /> NC State Only</label></li>
                    <label class="access" for="trln"><input type="radio" value="trln" name="scope" id="trln" /> Triangle Research Libraries</label></li>
                    <label class="access" for="worldcat"><input type="radio" value="worldcat" name="scope" id="worldcat" /> UNC System Libraries &amp; Beyond</label></li>
                    <p class="search-more"><a href="/catalog/" id="books-media-search-more">More search options »</a></p>
                </div>
            </form>
        </div>

        <!-- Website -->
        <div class="content" id="search-4">
            <form accept-charset="utf-8" method="get" action="//search.lib.ncsu.edu/website" id="websitesearch">
                <input type="text" id="searchweb" value="" name="q" class="main-search-field" placeholder="Search the library website" title="Search the library website">
                <input type="submit" class="front-page-submit button small prefix" id="web-submit" value="SEARCH" />
                <p class="search-example">Example: Borrow a Laptop</p>
            </form>
        </div>
    </div>
    <!-- Search tabs end -->

</div>
