<footer>
	<div id="footer">
		<div id="f-address">
			<h2>Contact</h2>
			<h3 itemscope itemtype="http://schema.org/Library" itemprop="name"><link itemprop="logo" href="http://www.lib.ncsu.edu/website/images/logo_small.png"><a href="http://www.lib.ncsu.edu/"itemprop="url">D. H. Hill Library</a></h3>
			<p>
				<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<span itemprop="streetAddress">2 Broughton Drive</span> <br>
					<span itemprop="addressLocality">Raleigh</span>,
					<span itemprop="addressRegion">NC</span> <br>
					<span itemprop="postalCode">27695-7111</span> <br>
				</span>
				<span itemprop="telephone"><a href="tel:9195153364">(919) 515-3364</a></span>
			</p>
			<h3><a href="//www.lib.ncsu.edu/huntlibrary">James B. Hunt Jr. Library</a></h3>
			<p>1070 Partners Way<br>
				Campus Box 7132<br>
				Raleigh, NC 27606<br>
				<a href="tel:9195157110">(919) 515-7110</a>
			</p>
		</div>

		<div id="f-libraries">
			<h2><a href="//webdev.lib.ncsu.edu/libraries">Libraries</a></h2>
			<ul>
				<li><a href="//webdev.lib.ncsu.edu/">D. H. Hill Library</a></li>
				<li><a href="//webdev.lib.ncsu.edu/huntlibrary">James B. Hunt Jr. Library</a></li>
				<li><a href="//webdev.lib.ncsu.edu/design">Design Library</a></li>
				<li><a href="//webdev.lib.ncsu.edu/nrl">Natural Resources Library</a></li>
				<li><a href="//webdev.lib.ncsu.edu/vetmed">Veterinary Medicine Library</a></li>
			</ul>
			<hr>
			<ul id="util-links">
				<li><a href="//webdev.lib.ncsu.edu/copyright">Copyright</a></li>
				<li><a href="//webdev.lib.ncsu.edu/disabilityservices">Disability Services</a></li>
				<li><a href="//webdev.lib.ncsu.edu/privacy">Privacy Statement</a></li>
				<li><a href="//staff.lib.ncsu.edu/">Staff Only</a></li>
			</ul>
		</div>

		<!-- <div id="f-util">
		</div> -->

		<div id="f-social">
			<a class="giving" href="http://www.lib.ncsu.edu/giving"><img src="http://lib.ncsu.edu/sites/all/themes/ncsulibraries/images/giving-to-libraries.jpg" alt="Giving To The Libraries"/></a>
			<h2>Follow NCSU Libraries:</h2>
			<ul>
				<li><a href="https://twitter.com/ncsulibraries"><i class="fa fa-twitter"></i> Twitter</a></li>
				<li><a href="https://www.facebook.com/ncsulibraries"><i class="fa fa-facebook"></i> Facebook</a></li>
				<li><a href="http://www.youtube.com/view_play_list?p=D55CB2CA2013ACF8"><i class="fa fa-youtube"></i> YouTube</a></li>
				<li><a href="http://instagram.com/ncsulibraries"><i class="fa fa-instagram"></i> Instagram</a></li>
				<li><a href="//webdev.lib.ncsu.edu/rss-feeds"><i class="fa fa-rss"></i> Libraries' news</a></li>
			</ul>
		</div>

	</div>
</footer>
<a class="exit-off-canvas"></a>


