<footer role="contentinfo">
	<div id="footer">
		<div id="f-address">
			<h3>Contact</h3>
			<h2 itemscope itemtype="http://schema.org/Library" itemprop="name"><link itemprop="logo" href="//www.lib.ncsu.edu/website/images/logo_small.png"><a href="//www.lib.ncsu.edu/" id="f-contact-hill" itemprop="url">D. H. Hill Library</a></h2>
			<p>
				<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<span itemprop="streetAddress">2 Broughton Drive</span> <br>
					<span itemprop="postOfficeBoxNumber">Campus Box 7111</span> <br>
					<span itemprop="addressLocality">Raleigh</span>,
					<span itemprop="addressRegion">NC</span>
					<span itemprop="postalCode">27695-7111</span> <br>
				</span>
				<span itemprop="telephone"><a href="tel:9195153364" id="f-hill-phone" data-attr="phone">(919) 515-3364</a></span>
			</p>
			<h2><a href="//www.lib.ncsu.edu/huntlibrary" id="f-contact-hunt">James B. Hunt Jr. Library</a></h2>
			<p>1070 Partners Way<br>
				Campus Box 7132<br>
				Raleigh, NC 27606<br>
				<a href="tel:9195157110" id="f-hunt-phone">(919) 515-7110</a>
			</p>
		</div>

		<div id="f-libraries">
			<h3><a href="//www.lib.ncsu.edu/hours/hill/general">Libraries</a></h3>

			<nav role="navigation" aria-label="branch libraries navigation">
				<ul id="f-lib-links">
					<li><a href="//www.lib.ncsu.edu/">D. H. Hill Library</a></li>
					<li><a href="//www.lib.ncsu.edu/huntlibrary">James B. Hunt Jr. Library</a></li>
					<li><a href="//www.lib.ncsu.edu/design">Design Library</a></li>
					<li><a href="//www.lib.ncsu.edu/nrl">Natural Resources Library</a></li>
					<li><a href="//www.lib.ncsu.edu/vetmed">Veterinary Medicine Library</a></li>
				</ul>
			</nav>

			<ul id="f-util-links" role="contentinfo">
				<li><a href="//www.lib.ncsu.edu/copyright">Copyright</a></li>
				<li><a href="//www.lib.ncsu.edu/disabilityservices">Disability Services</a></li>
				<li><a href="//www.lib.ncsu.edu/privacy">Privacy Statement</a></li>
				<li><a href="//staff.lib.ncsu.edu/">Staff Only</a></li>
			</ul>
		</div>

		<div id="f-social">
			<h3>Follow NCSU Libraries:</h3>

			<nav role="navigation" aria-label="social navigation">
				<ul>
					<li><a href="https://twitter.com/ncsulibraries"><i class="fa fa-twitter"></i> Twitter</a></li>
					<li><a href="https://www.facebook.com/ncsulibraries"><i class="fa fa-facebook"></i> Facebook</a></li>
					<li><a href="http://www.youtube.com/view_play_list?p=D55CB2CA2013ACF8"><i class="fa fa-youtube"></i> YouTube</a></li>
					<li><a href="http://instagram.com/ncsulibraries"><i class="fa fa-instagram"></i> Instagram</a></li>
					<li><a href="https://www.flickr.com/photos/ncsulibraries/"><i class="fa fa-flickr"></i> Flickr</a></li>
					<li><a href="//www.lib.ncsu.edu/rss-feeds"><i class="fa fa-rss"></i> Libraries' news</a></li>
				</ul>
			</nav>

			<a class="giving" href="//www.lib.ncsu.edu/giving" title="Giving to the libraries"><img src="//www.lib.ncsu.edu/sites/all/themes/ncsulib_foundation/images/giving-to-libraries.jpg" alt="Giving To The Libraries"/></a>

		</div>

	</div>
</footer>
<a class="exit-off-canvas"></a>

<!-- load this here(last) to prevent conflicts -->
<script type="text/javascript" src="//www.lib.ncsu.edu/sites/all/themes/ncsulib_foundation/scripts/chat-check.js"></script>