		<footer>
			<div id="footer">
				<div id="f-address">
					<h3 itemscope itemtype="http://schema.org/Library" itemprop="name"><link itemprop="logo" href="http://www.lib.ncsu.edu/website/images/logo_small.png"><a href="http://www.lib.ncsu.edu/"itemprop="url">D. H. Hill Library</a></h3>
					<p>
						<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
							<span itemprop="streetAddress">2 Broughton Drive</span> <br>
							<span itemprop="addressLocality">Raleigh</span>,
							<span itemprop="addressRegion">NC</span> <br>
							<span itemprop="postalCode">27695-7111</span> <br>
						</span>
						<span itemprop="telephone"><a href="tel:9195153364">(919) 515-3364</a></span>
					</p>

					<h3><a href="http://www.lib.ncsu.edu/huntlibrary">James B. Hunt Jr. Library</a></h3>
					<p>1070 Partners Way<br>
						Campus Box 7132<br>
						Raleigh, NC 27606<br>
						<a href="tel:9195157110">919-515-7110</a>
					</p>
				</div>

				<div id="f-libraries">
					<h3><a href="/libraries">Libraries</a></h3>
					<ul>
						<li><a href="/">D. H. Hill Library</a></li>
						<li><a href="/huntlibrary">James B. Hunt Jr. Library</a></li>
						<li><a href="/design">Design Library</a></li>
						<li><a href="/nrl">Natural Resources Library</a></li>
						<li><a href="/vetmed">Veterinary Medicine Library</a></li>
					</ul>
				</div>

				<div id="f-social">
					<ul class="inline-list">
						<li><h2><a href="https://twitter.com/ncsulibraries"><i class="icon-twitter"></i></a></h2></li>
						<li><h2><a href="https://www.facebook.com/ncsulibraries"><i class="icon-facebook"></i></a></h2></li>
						<li><h2><a href="/rss-feeds"><i class="icon-rss"></a></i></h2></li>
						<li><h2><a href="http://www.youtube.com/view_play_list?p=D55CB2CA2013ACF8"><i class="icon-youtube"></i></a></h2></li>
						<li><h2><a href="http://www.flickr.com/photos/ncsu_scrc/"><i class="icon-flickr"></a></i></h2></li>
					</ul>
					<a href="http://www.lib.ncsu.edu/giving"><img src="http://lib.ncsu.edu/sites/all/themes/ncsulibraries/images/giving-to-libraries.jpg" alt="Giving To The Libraries"/></a>
				</div>
				<div id="f-util">
					<ul id="util-links">
						<li><a href="/copyright">Copyright</a></li>
						<li><a href="/disabilityservices">Disability Services</a></li>
						<li><a href="/privacy">Privacy Statement</a></li>
						<li><a href="http://staff.lib.ncsu.edu/">Staff Only</a></li>
					</ul>
				</div>
			</div>
		</footer>