<link rel="shortcut icon" href="http://lib.ncsu.edu/sites/all/themes/ncsulibraries/favicon.ico" rel="shortcut icon">
    	<!-- If !Drupal then add static files  -->
    	<meta charset="utf-8" />
    	<meta content="ie=edge, chrome=1" http-equiv="x-ua-compatible" />
    	<meta http-equiv="ImageToolbar" content="false" />
    	<meta name="viewport" content="width=980" />
    	<!-- css -->
    	<link rel="stylesheet" type="text/css" href="/sites/all/themes/ncsulib_foundation/styles/core/ncsulib_foundation.css">
    	<!-- js -->
    	<script src="/sites/all/themes/ncsulib_foundation/scripts/source/scripts.js"></script>
    	<!--[if lt IE 9]>
    	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    	<![endif]-->
