  <link rel="shortcut icon" href="/sites/all/themes/ncsulibraries/favicon.ico" rel="shortcut icon">

  <!-- needed for the skip-link -->
  <style> @import url("/modules/system/system.base.css"); </style>
  <style> @import url("/sites/all/themes/ncsulib_foundation/styles/core/ncsulib_foundation.css");</style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write("<script src='/sites/all/modules/jquery_update/replace/jquery/1.7/jquery.min.js'>\x3C/script>")</script>
  <script src="/sites/all/modules/google_analytics/googleanalytics.js"></script>
  <script>var _gaq = _gaq || [];_gaq.push(["_setAccount", "UA-17138302-1"]);_gaq.push(["_setDomainName", "lib.ncsu.edu"]);_gaq.push(["_trackPageview"]);(function() {var ga = document.createElement("script");ga.type = "text/javascript";ga.async = true;ga.src = "/sites/default/files/googleanalytics/ga.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga, s);})();</script>
  <script src="/sites/all/themes/ncsulib_foundation/scripts/vendor/custom.modernizr.js"></script>
  <script src="/sites/all/themes/ncsulib_foundation/scripts/vendor/jquery-1.10.2.min.js"></script>
  <script src="/sites/all/themes/ncsulib_foundation/scripts/foundation/foundation.js"></script>
  <script src="/sites/all/themes/ncsulib_foundation/scripts/foundation/foundation.abide.js"></script>
  <script src="/sites/all/themes/ncsulib_foundation/scripts/foundation/foundation.alerts.js"></script>
  <script src="/sites/all/themes/ncsulib_foundation/scripts/foundation/foundation.dropdown.js"></script>
  <script src="/sites/all/themes/ncsulib_foundation/scripts/foundation/foundation.forms.js"></script>
  <script src="/sites/all/themes/ncsulib_foundation/scripts/foundation/foundation.orbit.js"></script>
  <script src="/sites/all/themes/ncsulib_foundation/scripts/foundation/foundation.reveal.js"></script>
  <script src="/sites/all/themes/ncsulib_foundation/scripts/foundation/foundation.section.js"></script>
  <script src="/sites/all/themes/ncsulib_foundation/scripts/foundation/foundation.tooltips.js"></script>
  <script src="/sites/all/themes/ncsulib_foundation/scripts/foundation/foundation.topbar.js"></script>
  <script src="/sites/all/themes/ncsulib_foundation/scripts/primary-nav.js"></script>
  <script src="/sites/all/themes/ncsulib_foundation/scripts/search-bar.js"></script>
  <script src="/sites/all/themes/ncsulib_foundation/scripts/mobile-nav.js"></script>
  <script src="/sites/all/themes/ncsulib_foundation/scripts/vendor/jquery.hoverIntent.minified.js"></script>
  <script src="/sites/all/themes/ncsulib_foundation/scripts/vendor/jquery.autocomplete.js"></script>
  <script src="/sites/all/themes/ncsulib_foundation/scripts/vendor/jquery.mockjax.js"></script>
  <script src="/sites/all/themes/ncsulib_foundation/scripts/ncsulib_foundation.js"></script>
  <!-- investigate this -->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->