/*begin footer*/
/* line 2, ../../../scss/layout/_footer.scss */
body {
  background: #383838;
}

/* line 5, ../../../scss/layout/_footer.scss */
footer {
  background: #383838;
  padding-top: 1.25rem;
}
/* line 9, ../../../scss/layout/_footer.scss */
footer p, footer h2, footer h3, footer h4, footer h5, footer i {
  color: #cccccc;
}
/* line 12, ../../../scss/layout/_footer.scss */
footer h2 {
  font-size: 1.4625rem;
}
/* line 15, ../../../scss/layout/_footer.scss */
footer h3 {
  font-size: 1.2375rem;
}
/* line 18, ../../../scss/layout/_footer.scss */
footer h4 {
  font-size: 1.18125rem;
}
/* line 21, ../../../scss/layout/_footer.scss */
footer p, footer li {
  font-size: 0.765rem;
  line-height: 1.3;
}
/* line 25, ../../../scss/layout/_footer.scss */
footer li {
  padding-bottom: 0.3125rem;
}
/* line 28, ../../../scss/layout/_footer.scss */
footer a {
  color: #cccccc;
}
/* line 31, ../../../scss/layout/_footer.scss */
footer ul {
  list-style-type: none;
  margin: 0 0 0.625rem 0;
  padding: 0px;
}
/* line 36, ../../../scss/layout/_footer.scss */
footer hr {
  background: #4d4d4d;
  border: 0px;
  height: 1px;
}
/* line 41, ../../../scss/layout/_footer.scss */
footer a:hover {
  color: #FFF;
}
/* line 45, ../../../scss/layout/_footer.scss */
footer #footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  *zoom: 1;
  padding: 0px 0.625rem;
  padding-bottom: 20px;
}
/* line 145, ../../../scss/foundation/components/_global.scss */
footer #footer:before, footer #footer:after {
  content: " ";
  display: table;
}
/* line 146, ../../../scss/foundation/components/_global.scss */
footer #footer:after {
  clear: both;
}
@media only screen and (max-width: 47.937em) {
  /* line 50, ../../../scss/layout/_footer.scss */
  footer #footer #f-address {
    margin-bottom: 1.25rem;
  }
}
@media only screen and (min-width: 48em) {
  /* line 50, ../../../scss/layout/_footer.scss */
  footer #footer #f-address {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 33.33333%;
    float: left;
    padding-left: 0px;
    padding-bottom: 1.875rem;
  }
}
/* line 62, ../../../scss/layout/_footer.scss */
footer #footer #f-address h3 {
  margin-top: 0.625rem;
}
/* line 66, ../../../scss/layout/_footer.scss */
footer #footer #f-address p {
  line-height: 1.3;
}
/* line 71, ../../../scss/layout/_footer.scss */
footer #footer #f-libraries {
  margin-bottom: 1.25rem;
}
@media only screen and (min-width: 48em) {
  /* line 71, ../../../scss/layout/_footer.scss */
  footer #footer #f-libraries {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 33.33333%;
    float: left;
  }
}
/* line 79, ../../../scss/layout/_footer.scss */
footer #footer #f-lib-links {
  margin-bottom: 1.875rem;
}
@media only screen and (min-width: 48em) {
  /* line 83, ../../../scss/layout/_footer.scss */
  footer #footer #f-social {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 33.33333%;
    float: left;
  }
  /* line 88, ../../../scss/layout/_footer.scss */
  footer #footer #f-social a {
    font-size: 1.125rem;
  }
}
/* line 93, ../../../scss/layout/_footer.scss */
footer #footer #f-social .giving {
  margin-bottom: 1.25rem;
  display: block;
}
/* line 97, ../../../scss/layout/_footer.scss */
footer #footer #f-social i {
  font-weight: normal;
  width: 1.5625rem;
  text-align: center;
  padding-right: 0.5rem;
}
/* line 104, ../../../scss/layout/_footer.scss */
footer #footer #f-social a:hover i {
  color: #FFF;
}

/*end footer*/
