








/* The Grid ---------------------- */
.lt-ie9 .row { width: 940px; max-width: 100%; min-width: 768px; margin: 0 auto; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row.large-collapse .column,
.lt-ie9 .row.large-collapse .columns { padding: 0; }
.lt-ie9 .row.medium-collapse .column,
.lt-ie9 .row.medium-collapse .columns { padding: 0; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row .row.large-collapse { margin: 0; }
.lt-ie9 .row .row.medium-collapse { margin: 0; }

.lt-ie9 .column, .lt-ie9 .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.lt-ie9 .column.large-centered, .columns.large-centered { float: none; margin: 0 auto; }
.lt-ie9 .column.medium-centered, .columns.medium-centered { float: none; margin: 0 auto; }

.lt-ie9 [class*="column"] + [class*="column"]:last-child { float: right; }
.lt-ie9 [class*="column"] + [class*="column"].end { float: left; }

.lt-ie9 .large-1,
.lt-ie9 .row .large-1 { width: 8.33333%; }

.lt-ie9 .large-2,
.lt-ie9 .row .large-2 { width: 16.66667%; }

.lt-ie9 .large-3,
.lt-ie9 .row .large-3 { width: 25%; }

.lt-ie9 .large-4,
.lt-ie9 .row .large-4 { width: 33.33333%; }

.lt-ie9 .large-5,
.lt-ie9 .row .large-5 { width: 41.66667%; }

.lt-ie9 .large-6,
.lt-ie9 .row .large-6 { width: 50%; }

.lt-ie9 .large-7,
.lt-ie9 .row .large-7 { width: 58.33333%; }

.lt-ie9 .large-8,
.lt-ie9 .row .large-8 { width: 66.66667%; }

.lt-ie9 .large-9,
.lt-ie9 .row .large-9 { width: 75%; }

.lt-ie9 .large-10,
.lt-ie9 .row .large-10 { width: 83.33333%; }

.lt-ie9 .large-11,
.lt-ie9 .row .large-11 { width: 91.66667%; }

.lt-ie9 .large-12,
.lt-ie9 .row .large-12 { width: 100%; }


.lt-ie9 .medium-1,
.lt-ie9 .row .medium-1 { width: 8.33333%; }

.lt-ie9 .medium-2,
.lt-ie9 .row .medium-2 { width: 16.66667%; }

.lt-ie9 .medium-3,
.lt-ie9 .row .medium-3 { width: 25%; }

.lt-ie9 .medium-4,
.lt-ie9 .row .medium-4 { width: 33.33333%; }

.lt-ie9 .medium-5,
.lt-ie9 .row .medium-5 { width: 41.66667%; }

.lt-ie9 .medium-6,
.lt-ie9 .row .medium-6 { width: 50%; }

.lt-ie9 .medium-7,
.lt-ie9 .row .medium-7 { width: 58.33333%; }

.lt-ie9 .medium-8,
.lt-ie9 .row .medium-8 { width: 66.66667%; }

.lt-ie9 .medium-9,
.lt-ie9 .row .medium-9 { width: 75%; }

.lt-ie9 .medium-10,
.lt-ie9 .row .medium-10 { width: 83.33333%; }

.lt-ie9 .medium-11,
.lt-ie9 .row .medium-11 { width: 91.66667%; }

.lt-ie9 .medium-12,
.lt-ie9 .row .medium-12 { width: 100%; }

.lt-ie9 .row .large-offset-1 { margin-left: 8.33333%; }
.lt-ie9 .row .large-offset-2 { margin-left: 16.66667%; }
.lt-ie9 .row .large-offset-3 { margin-left: 25%; }
.lt-ie9 .row .large-offset-4 { margin-left: 33.33333%; }
.lt-ie9 .row .large-offset-5 { margin-left: 41.66667%; }
.lt-ie9 .row .large-offset-6 { margin-left: 50%; }
.lt-ie9 .row .large-offset-7 { margin-left: 58.33333%; }
.lt-ie9 .row .large-offset-8 { margin-left: 66.66667%; }
.lt-ie9 .row .large-offset-9 { margin-left: 75%; }
.lt-ie9 .row .large-offset-10 { margin-left: 83.33333%; }

.lt-ie9 .row .medium-offset-1 { margin-left: 8.33333%; }
.lt-ie9 .row .medium-offset-2 { margin-left: 16.66667%; }
.lt-ie9 .row .medium-offset-3 { margin-left: 25%; }
.lt-ie9 .row .medium-offset-4 { margin-left: 33.33333%; }
.lt-ie9 .row .medium-offset-5 { margin-left: 41.66667%; }
.lt-ie9 .row .medium-offset-6 { margin-left: 50%; }
.lt-ie9 .row .medium-offset-7 { margin-left: 58.33333%; }
.lt-ie9 .row .medium-offset-8 { margin-left: 66.66667%; }
.lt-ie9 .row .medium-offset-9 { margin-left: 75%; }
.lt-ie9 .row .medium-offset-10 { margin-left: 83.33333%; }

.lt-ie9 .pull-2 { right: 16.66667%; }
.lt-ie9 .pull-3 { right: 25%; }
.lt-ie9 .pull-4 { right: 33.33333%; }
.lt-ie9 .pull-5 { right: 41.66667%; }
.lt-ie9 .pull-6 { right: 50%; }
.lt-ie9 .pull-7 { right: 58.33333%; }
.lt-ie9 .pull-8 { right: 66.66667%; }
.lt-ie9 .pull-9 { right: 75%; }
.lt-ie9 .pull-10 { right: 83.33333%; }

.lt-ie9 .push-2 { left: 16.66667%; }
.lt-ie9 .push-3 { left: 25%; }
.lt-ie9 .push-4 { left: 33.33333%; }
.lt-ie9 .push-5 { left: 41.66667%; }
.lt-ie9 .push-6 { left: 50%; }
.lt-ie9 .push-7 { left: 58.33333%; }
.lt-ie9 .push-8 { left: 66.66667%; }
.lt-ie9 .push-9 { left: 75%; }
.lt-ie9 .push-10 { left: 83.33333%; }

/* Nicolas Gallagher's micro clearfix */
.lt-ie9 .row { *zoom: 1; }
.lt-ie9 .row:before, .row:after { content: " "; display: table; }
.lt-ie9 .row:after { clear: both; }


/*mobile nav*/
aside.right-off-canvas-menu{
	display: none;
}

/*main column*/
main{
	padding: 50px 0px;
}

/*header*/
header .top-bar{
	/*position: relative;*/
	overflow: visible;
	/*z-index: 9999;*/
}


.right-off-canvas-toggle{
	display: none;
}

header .top-bar .title-area{
	width: 325px !important;
}
header .top-bar .title-area .name{
	width: 100% !important;
}
header .top-bar .top-bar-section{
	float: right;
	margin-top: -68px;
}
header .top-bar .top-bar-section ul.primary-nav{
	background: none !important;
	float: right;
	width: 550px;
}
header .top-bar .top-bar-section ul.primary-nav li{
	/*float: left;*/
	display: inline-block;
}
header .top-bar .top-bar-section ul.primary-nav li:hover{
	background: #333;
}
header .top-bar .top-bar-section ul.primary-nav li a{
	background: none !important;
	padding: 0px 15px;
}
header .top-bar .top-bar-section ul.primary-nav li a:hover{
	background: #333;
}

/*utility nav*/
#utility #utility-bar{
	background: #383838;
	float: left;
}
#utility #utility-bar #home-hours{
	float: left;
	width: 56%;
}
#utility #utility-bar #home-hours #hours-title{
	width: auto;
	float: left;
	padding-right: 15px;
}
#utility #utility-bar #home-hours ul{
	float: left;
	width: auto;
}
#utility #utility-bar #home-hours ul li{
	padding-left: 0px;
}


#utility #utility-bar #utility-links{
	background: #383838;
	display: block;
	float: right;
	width: 40%;
}
#utility #utility-bar #utility-links li{
	list-style-type: none;
	float: left;
	/*margin-right: 15px;*/
}
#utility #utility-bar #utility-links li a{
	color: #FFF;
	font-size: 12px;
}

body .page .main{
	padding-left: 0px;
}


/*feedback form button*/
.feedback-form{
	padding: 0px;
	position: fixed;
	top: 95%;
}
.feedback-form .feedback-yes a,
.feedback-form .feedback-no a{
	background: #AC0000;
	display: block;
	float: left;
	padding: 10px;
	width: auto;
}

#tier-one,
#tier-two{
	/*margin-bottom: 25px;*/
}


/*homepage*/
#searcheverything #searchall,
.search-body #searcharticle,
.search-body #Ntt,
#websitesearch #searchweb{
	height: 4em;
}
#searcheverything #all-submit,
.search-body #article-submit,
.search-body #searchbookssubmit,
#websitesearch #web-submit{
	padding-bottom: 23px;
	padding-top: 23px;
}
body #search-options{
	padding-left: 0px;
}
body #home-quicklinks{
	padding-left: 0px;
}
body #home-quicklinks{
	margin-left: 0px;
}
body #home-quicklinks ul#quicklinks > li{
	padding: 0px;
}
body #home-quicklinks ul#quicklinks li ul li,
body #home-quicklinks ul#quicklinks li ul li:first-child{
	padding-left: 0px;
}



/*footer*/
#footer{
	padding: 30px;
}
#f-address, #f-libraries, #f-social{
	float:  left;
	width: 33%;
}


/*browser warning*/
#browser_warning{
	background: MediumSeaGreen;
	padding: 10px;
	text-align: center;
}
#browser_warning h4{
	color: white;
	margin: 0px;
}
#browser_warning a{
	color: white;
	text-decoration: underline;
}

/*mobile search*/
body #mobile-search-form{
	display: none;
}
body{
	margin: 20px;
}

/*tabs*/
dl.tabs dd a{
	padding: 10px;
}
.tabs-content{
	padding: 20px;
}


#research-tools{
	float: left;
	margin-bottom: 10px;
}
#research-tools h2{
	font-size: 14px;
	padding-top: 5px;
	margin-right: 10px;
}
#research-tools ul li{
	margin-right: 15px;
}


#search-tabs{
	padding-right: 40px
}


#availability,
#available-links{
	display: none;
}
#tier-two #available-links ul{
	margin-top: 5px;
}
#tier-two #available-links ul li{
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

#story-1,
#story-2{
	padding-right: 30px;
}
#home-news,
#home-events,
#home-exhibits{
	margin-bottom: 30px;
}
.happenings-content{
	/*padding-left: 5px;*/
}
