/*global*/
.right-off-canvas-menu{
	display: none;
}

.ie9 #searcheverything .twitter-typeahead{
  	display: inline !important;
  	width: 83% !important;
}
.ie9 #searcheverything .twitter-typeahead #searchall{
  	width: 83% !important;
}
.ie9 .front .tt-dropdown-menu{
	margin-left: -420px;
	margin-top: 50px;
}
.ie9 .tt-dropdown-menu{
  	background: #FFFFFF;
  	border: 1px solid #DDD;
  	left: 1 !important;
  	padding: 10px;
}
.ie9 .tt-cursor{
  	background: #DDD;
}




