
/*****************************************************
 ****************** General Styles *******************
 *****************************************************/

/*body{
    margin:0;
    padding:0;
    text-align:center;}*/

/*****************************************************
 ****************** Utility Bar **********************
 *****************************************************/

div#utility_bar * {
    margin:0;
    padding:0;
    text-align:left;margin:0 auto;
}

div#utility_bar {
    font-family:Arial,Helvetica,sans-serif;
    font-size:10px;
    background:#C00;
    min-height:31px;
    height:31px;
    text-align:left;margin:0 auto;
}

@media only screen and (max-device-width : 768px) {
    div#utility_bar{
        display: none;
    }
}


div#head_in {
    width: 670px;
}


div#head_in{
    height: 31px;
    position: relative;
    overflow: hidden;
    border: none;
}

div#utility_bar div.logo{
    background:url(images/red_brick_old.gif) no-repeat 0px 2px;
    height: 31px;
    width: 165px;
    float: left;
}

div#utility_bar div.logo a{
    width: 165px;
    height:31px;
    overflow:hidden;
    text-indent:-9000px;
    float:left; display: block;
}

div#utility_bar div.logo span a{
    width: 100px;
}

div#utility_bar #topnav {
    padding:6px 0 6px 20px;
    float:left;
    list-style:none;
}

div#utility_bar #topnav li {
    float:left;
    font-size:0.6em;
    text-transform:uppercase;
    padding:3px 8px 3px 7px;
    background:url(images/white_lines.gif) no-repeat right center;
}

div#utility_bar #topnav li.last {
    background:none;
    padding-right:0;
}

div#utility_bar #topnav li a {
    color:#FFF;
    text-decoration:none;
}

div#utility_bar #topnav li a:hover {
    text-decoration:underline;
}

div#utility_bar .sitesearch_form {
    padding:5px 0 0 20px;
    float:left;
}

div#utility_bar .sitesearch_form input#keywords {
    width:150px;
    background: #fff url(images/head_txtbox_shadow.gif) no-repeat;
    border:none;
    padding:3px 4px;
    font-size:1em;
    position: relative;
    top: -7px;
    left: -5px;
}

div#utility_bar .sitesearch_form input.btn_search {
    margin:0 0 0 5px;
}

div#utility_bar .sitesearch_form input.search {
    margin:-20px 0 0 0px;
    background:#ccc;
}
