@import "base/init_for_custom";

#content{
    #subnav{
        .view-content{
            .item-list{
                h3{
                    padding: 5px 0px;
                }
                ul.subject-list{
                    display: none;
                    margin-bottom: 15px;
                    margin-left: 10px;

                    li{
                        margin-bottom: 5px;

                        a{
                            display: block;
                            line-height: 1rem;
                            margin-bottom: 20px;
                        }

                        a.selected{
                            color: #c00;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    #db-search-box{
        // background: #efefef;

        input{
            height: 50px;
        }
        a.button{
            border-radius: 0px 3px 3px 0px;
            height: 50px;
            line-height: 50px;

            i{
                font-size: 1.4rem;
            }
        }
    }

    #core-db.accordion{
        dd.accordion-navigation{
            background: #fff;

            & > a{
                @include awesomify("\f067");
                background: #fff;
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
                padding: 7px;
            }
            &.active > a{
                @include awesomify("\f068");
            }
            & > a:after{
                position: absolute;
                right: 12px;
            }

            h3 a{
                border: 0px;
            }
        }
    }

    .db{
        display: none;

        h3{
            font-size: 1rem;
            margin-bottom: 5px;
        }
    }
}
