@import "base/init_for_custom";

#content{
    #subnav.sidebar{
        .view-content, .view-header{
            .item-list{
                h3{
                    font-size: 1rem;
                    font-weight: normal;
                    padding: 5px 0px;
                    text-transform: none;

                    .subject-title{
                        display: inline-block;
                        width: 85%;
                    }
                    .subject-title:hover{
                        color: $primary-color;
                        cursor: pointer;
                    }
                    span.nav-expand{
                        @include awesomify("\f196");
                        color: $body-font-color;
                        float: right;
                    }
                    span.nav-expand.active{
                        @include awesomify("\f147");
                        // color: $primary-color;
                    }
                    span.nav-expand:hover{
                        cursor: pointer;
                    }
                }

                h3.active{
                    .subject-title{
                        color: $primary-color;
                    }

                    .subject-title:hover{
                        color: $primary-color;
                        cursor: pointer;
                    }
                }

                ul.subject-list{
                    display: none;
                    margin-bottom: 15px;
                    margin-left: 10px;

                    li{
                        margin-bottom: 5px;

                        a{
                            display: block;
                            line-height: 1rem;
                            margin-bottom: 20px;
                        }

                        a:hover,a.selected{
                            color: #c00;
                        }
                    }
                }
            }
        }
    }
    .block-2192,.block-2194,.block-2196{
        margin-bottom: 20px;

        #db-search-box{

            input{
                height: 50px;
            }
            select.postfix{
                // border-radius: 0px 3px 3px 0px;
                height: 50px;
                line-height: 50px;

                appearance: none;
                -webkit-appearance: none !important;
                -moz-appearance: none !important;
                background-color: #fafafa;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+");
                background-position: 100% center;
                background-repeat: no-repeat;
                border-color: #cccccc;
                border-radius: 0;
                border-style: solid;
                border-width: 1px;
                border-right: 0px;
                color: #444444;
                font-family: inherit;
                font-size: 1rem;
                // height: 2.05556rem;
                // line-height: normal;
                padding: 0.44444rem;
            }

            #db-result{
                font-size: 0.8rem;
                margin-bottom: 0px;
            }
        }
    }

    .db{
        display: none;

        &.core{
            display: block;
        }

        h3{
            font-size: 1rem;
            margin-bottom: 5px;
        }
    }
}
