@import "compass/css3";

#content .user-activity-list{

	ol{
		list-style: none;
		margin: 0px;

		li{
			padding: 0px;
			text-align: center;

			> a{
				display: block;
				padding: 25px;

				h2{
					margin-top: 0px;

					i{
						color: #4c83af;
						font-size: 5rem;
					}
					img{
						max-height: 81px;
						width: auto;
					}
				}
			}

			a:hover{
				background: #f5f5f5;
				text-decoration: none;
			}
		}
	}
}

#content .user-activity-list.promoted{
	margin-bottom: 20px;

	ol{

		li{
			height: auto;

			> a:nth-child(odd){
				padding: 25px 25px 25px 0px;
			}
			> a:nth-child(even){
				padding: 25px 0px 25px 25px;
			}

			h2{

				img{
					max-height: 400px;
					width: auto;
				}
			}
		}
	}
}

// staff sidebar
#content .l-sidebar-first{

	.staff-member{
		margin-bottom: 20px;

		.staff-meta{
			padding-left: 0px;

			h4{
				margin-bottom: 5px;
				text-transform: none;
			}

			p{
				font-size: 12px;
			}
		}
	}
}
