@import "../foundation/settings";
$include-html-classes: false;
@import "foundation/components/grid";
@import "foundation/components/buttons";
@import "foundation/components/global";

.sidebar{

	.meta-section{
		margin-bottom: 30px;

		h2{
			margin-bottom: 0px;
		}
	}

	i.fa-comments{
		color: #cc0000;
	}
}


// change size of staff photo section
.one-sidebar.sidebar-first{

    @media #{$medium-up}{
        aside#subnav{
            @include grid-column(4, $pull:8);
        }
        #main-content{
            @include grid-column(8, $push:4);
        }
    }

}