@import "../foundation/settings";
$include-html-classes: false;
@import "foundation/components/grid";
@import "foundation/components/buttons";
@import "foundation/components/global";

.sidebar{

	.meta-section{
		margin-bottom: 30px;

		h2{
			margin-bottom: 0px;
		}
	}

	i.fa-comments{
		color: #cc0000;
	}
}


// change size of staff photo section
.sidebar-first{

    @media #{$medium-up}{
        aside#subnav{
            @include grid-column(4, $pull:8);
        }
        #main-content{
            @include grid-column(8, $push:4);
        }
    }

}

.staff-member{

    h3{
        margin-bottom: 0px;
        margin-top: 0.5rem;
    }
    h6{
        margin-top: 0px;
    }
}

// hide department search box (hack =/)
.views-exposed-form{
    #edit-submit-staff{
        margin-top: 1.3rem;
    }

    #edit-department-wrapper{
        display: none;
    }
}

// Right Sidebar
#content .l-sidebar-second {
    .view-capture-and-promote {
        a {
            &:hover {
                text-decoration: none;
            }
        }
        h3 {
            // margin-top: -90px;
            padding: 10px 10px 0 0px;
            // color: #fff;
            // below text-shadow is repeated to increase intensity of the shadow
            // which improves readability for light-colored background images
            // text-shadow: 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000;;
        }
        p {
            // margin: 10px;
            // color: #E8E4E4;
            // font-style: italic;
            // text-shadow: 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000;
        }
    }
}