ul.medium-block-grid-3{
    h3{

        text-decoration: none;

        p{
            color: #555;
            text-decoration: none;

            a{
                color: #cc0000;
                text-decoration: none;
            }
        }
    }
}