@import "../foundation/settings";
$include-html-classes: false;
@import "foundation/components/global";
@import "foundation/components/grid";

#searchall{
    height: 47px;
}

#all-submit{
    border-radius: 0px;

    @media #{$small-only}{
        @include grid-column(2);
    }
}