//buttons
.view .date-nav-wrapper .date-next,
.view .date-nav-wrapper .date-prev{
    background: #c00;
    color: #fff;
    height: 30px;
    padding: 2px 0px 0px;
}
.calendar-calendar .month-view .stripe{
    background: #900 !important;
    border-radius: 0px;
    display: none;
}
.calendar-calendar .month-view .full td.single-day div.monthview,
.calendar-calendar .week-view .full td.single-day div.weekview,
.calendar-calendar .day-view .full td.single-day div.dayview{
    background: #900;
    border-radius: 0px;
}
.calendar-calendar .month-view .full td.multi-day div.monthview,
.calendar-calendar .week-view .full td.multi-day div.weekview,
.calendar-calendar .day-view .full td.multi-day div.dayview{
    background: #900;
    border-radius: 0px;
}
.calendar-calendar .month-view .full td.multi-day .inner .monthview .continuation,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .continuation{
    font-size: 1.25rem;
    margin-right: 10px;
    margin-top: -1px;
}
.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .continues,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff{
    background: #900;
    border-radius: 0px;
    font-size: 1.25rem;
    margin-right: 11px;
    margin-top: -1px;
}
.calendar-calendar .week-view .full div.calendar-agenda-hour,
.calendar-calendar .day-view .full div.calendar-agenda-hour,
.calendar-calendar .week-view .full div.calendar-agenda-items,
.calendar-calendar .day-view .full div.calendar-agenda-items{
    border-bottom: 1px solid #CCC;
}
.view .date-nav-wrapper .date-next:hover,
.view .date-nav-wrapper .date-next:hover a,
.view .date-nav-wrapper .date-next a:hover,
.view .date-nav-wrapper .date-prev:hover,
.view .date-nav-wrapper .date-prev:hover a,
.view .date-nav-wrapper .date-prev a:hover{
    background: #900;
    text-decoration: none;
}

table tr.even, table tr.alt, table tr:nth-of-type(2n){
    background: #fff;
}

.calendar-calendar .cutoff{
    display: none;
}
.calendar-calendar td a{
    font-size: 0.9rem;
}
.calendar-calendar td .inner div,
.calendar-calendar td .inner div a{
    color: #fff;
}
#content .calendar-calendar td .inner div,
#content .calendar-calendar td .inner div a:hover{

}
.calendar-calendar td span.date-display-single,
.calendar-calendar td span.date-display-start,
.calendar-calendar td span.date-display-end,
.calendar-calendar td div.date-display-range,
.calendar-calendar td span.date-display-separator{
    color: #fff !important;
    font-weight: normal;
}
.calendar-calendar .week-view #single-day-container,
.calendar-calendar .day-view #single-day-container{
    height: 650px;
}

//full week view
.calendar-calendar .week-view .full{

    td .inner div.calendar div,
    td .inner div.calendar div a{
        margin: 0px;
    }

    div.single-day{

        .size-50{
            display: inline-block;
            position: relative;
            top: -12px;
            width: 48%;
        }
        .size-33{
            display: inline-block;
            position: relative;
            top: -12px;
            width: 31%;
        }
        .size-25{
            display: inline-block;
            position: relative;
            top: -12px;
            width: 23%;
        }
        .size-20{
            display: inline-block;
            position: relative;
            top: -12px;
            width: 18%;
        }
        .size-16{
            display: inline-block;
            position: relative;
            top: -12px;
            width: 15%;
        }

        div.weekview, div.dayview{
            background: #900;
            border: 0px;
            border-radius: 0px;
            color: #fff;
            padding: 3px 0px 0px 3px;
        }

    }

}

.calendar-calendar .day-view .full{

    td .inner div.calendar div,
    td .inner div.calendar div a{
        margin: 0px;
    }

    div.single-day{

        .size-50{
            display: inline-block;
            position: relative;
            top: -12px;
            width: 49.8%;
        }
        .size-33{
            display: inline-block;
            position: relative;
            top: -12px;
            width: 33%;
        }
        .size-25{
            display: inline-block;
            position: relative;
            top: -12px;
            width: 24.5%;
        }
        .size-20{
            display: inline-block;
            position: relative;
            top: -12px;
            width: 19.5%;
        }
        .size-16{
            display: inline-block;
            position: relative;
            top: -12px;
            width: 16%;
        }

        div.weekview, div.dayview{
            background: #900;
            border: 0px;
            border-radius: 0px;
            color: #fff;
            padding: 3px 0px 0px 3px;
        }

    }

}