@import "../foundation/settings";
$include-html-classes: false;

.tabs{
	.content{
		display: none;
	}

	.content.active{
		display: block;
	}
}

.tabs-content.vertical, .tabs-content{
	padding: 0px;

	.content, .content-vertical{
		padding: rem-calc(10) 0px 0px 0px;

		ul{
			margin:0px;
			padding: rem-calc(20);

			li{
				list-style-type:none;
				margin-bottom: rem-calc(10);
			}
		}
	}
}

.alpha-content, .subject-content{
	display: none;
}


// mobile style
.alpha-content, .subject-content {
	ul{
		list-style-type: none;
		margin: 0px;

		li{
			padding: 0px 0px rem-calc(10);
		}
	}
}
