@import "../foundation/settings";
$include-html-classes: false;
@import "foundation";
@import "silent_type";

.content {
  @include grid-row($behavior: nest);
}
.field-type-image {
  @media #{$small-only} {
    @include grid-column($columns: 12, $push: 0, $position: false);
  }
  @include grid-column($columns: 5, $push: 7, $position: true);
}
.left-part {
  @media #{$small-only} {
    @include grid-column($columns: 12, $pull: 0, $position: false);
  }
  @include grid-column($columns: 7, $pull: 5, $position: true);
  .hb {
    @include grid-row($behavior: nest);
    .top-row {
      @include grid-row();
      .one, .two, .three {
        font-size: 1.1em;
        font-weight: 700;
        @include grid-column(4);
      }
    }
    .row {
      @include grid-row;
      margin: rem-calc(40 0);
      .library {
        @include grid-column(4);
      }
      .lending-info {

        .lending-period, .number-available{
          @include grid-column(4);
        }
      }

      .lending-info + .lending-info {
        clear: left;
        margin-left: 33.3333333%;

          .lending-period, .number-available{
          @include grid-column(6);
        }
      }

    }
  }
}