$include-html-classes: false;
@import "foundation/components/global";
@import "foundation/components/grid";


.user-activity-content-hidden{
	display: none;
}

.item-list ul.pager{
	display: none;
}

#content #back-to-link{
	float: left;
	font-size: 0.8rem;

	a{
		font-size: 0.76rem;
		font-size: 0.75rem;
	}
}

#main-content{
	section.block.block-views{
		float: left;
		margin-bottom: 30px;
		width: 100%;

		h2{
			float: left;
			margin-top: 0px;
			width: 100%;
		}

		.costs-list .view-content ul{ //one column for cost list
			-webkit-columns: 1;
			-moz-columns: 1;
			-o-columns: 1;
			-ms-columns: 1;
			columns: 1;
		}

		.view-content{

			.item-list{

			  	-webkit-columns: 2;
				-moz-columns: 2;
				-o-columns: 2;
				-ms-columns: 2;
				columns: 2;
				-webkit-column-gap: 10px;
				-moz-column-gap: 10px;
				-o-column-gap: 10px;
				-ms-column-gap: 10px;
				column-gap: 10px;
				-webkit-column-break-inside:avoid;
				-moz-column-break-inside:avoid;
				-o-column-break-inside:avoid;
				-ms-column-break-inside:avoid;
				column-break-inside:avoid;
				float: left;

				ul{
					list-style: disc;
					margin-left: 18px;
					width: 100%;

					li{
						float: left;
						width: 101%;
					}

					li:before{
						content: none;
						margin-left: 0px;
						padding: 0px;
					}
				}
			}

			.device-list{

				li{
					padding-bottom: 10px;

					.device-photo{
						margin-bottom: 10px;
						width: auto;
					}
				}
			}
		}
	}

    .l-sidebar-first{

        .user-activity-experts{
            ul{
                li:nth-child(odd){
                    padding-right: 8px;
                }
                li:nth-child(even){
                    padding-left: 7px;
                }
            }
        }
    }
}







