.views-row .row.event-item{
    margin-top: 30px;
}
/* used when no events are present */
.view-empty {
    margin: 57px 0 0 0px; //66px;
    padding: 0px;
    color: #AAA;
}
.date-display-single, .views-field-field-space, .grey {
    color: rgb(153, 153, 153);
    display: block;
    margin-bottom: 12px;
}
.block {
    line-height: 1;
}
#block-system-main, #node-13445 {
    margin-bottom: 0;
}



#content #main-content{
    margin-bottom: 50px;

    // event page styling
    .event-item{
        .event-photo{
            // padding-left: 0px;

            img{
                width: 100%;
            }
        }
    }

    // workshop pages styling
    .item{

        // margin-left: 0px;
        margin-top: 50px;

        .event-content{
            padding-left: 0px;

            h2{
                padding-top: 0px;
                margin-bottom: 5px;
            }
        }
    }

    .item-list .pager{
        float: left;
        margin-top: 50px;
        width: 100%;
    }

    .block-views.upcoming_events-block_3{
        border-top: 1px solid #ccc;
        margin-top: 50px;

        small{
            color: #555;
            font-size: 100%;
        }

        h4{
            color: #999;
        }
    }

    .view-footer{
        margin-top: 50px;
    }
}
