.views-row .row.event-item{
    margin-bottom: 30px;
}
/* used when no events are present */
.view-empty {
    margin: 57px 0 0 0px; //66px;
    padding: 0px;
    color: #AAA;
}
.date-display-single, .views-field-field-space, .grey {
    color: rgb(153, 153, 153);
}
.block {
    line-height: 1;
}
#block-system-main, #node-13445 {
    margin-bottom: 0;
}

/*calendar styles*/
.page .calendar-calendar th.mini,
.page .calendar-calendar td.mini {
    background: #FFF;
    border: 0px;
    color: #DDD;
    padding: 10px 0px;
    text-align: center;
    width: 14.2857142%;
}
.calendar-calendar td.has-events{

}
.page .calendar-calendar td.has-no-events{
    color: #CCC;
}
.page .calendar-calendar td.mini.today{
    border: 1px solid #DDD;
}
.view .date-nav-wrapper .date-heading h3{
    font-size: 1em;
}
.page .calendar-calendar td.mini a{
    text-decoration: none;
}

.page #subnav .date-nav {
    padding: 0px;
}
.page #subnav .date-nav ul li {
    border-bottom: none;
}
.page #subnav .date-nav .date-prev {
    background: none;
    float: left;
    margin: 0px;
}
.page #subnav .date-nav .date-prev a{
    margin-left: 8px;
}
.page #subnav .date-nav .date-next {
    background: none;
    margin: 0px;
    top: 0px;
    width: 35px;
}
.page #subnav .date-nav .date-next a{
    /*float: left;*/
    margin: 0px;
    float: left;
}
.calendar-calendar th.days{
    background: #fff;
    border: 0px;
}

// event pages styling
#content #main-content .event-date{

    h2{
            background: #cc0000;
            margin-bottom: 0px;
            padding: 8px 0px;
            text-align: center;

        span{
            color: #FFF;
            line-height: 1.3rem;
            font-size: 1.4rem;
            text-transform: uppercase;
        }
    }
    h3 {
            background: #FFF;
            border-bottom: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;
            margin-bottom: 0px;
            padding: 6px 0px 0px;
            text-align: center;

        span{
            color: #555;
            font-size: 2rem;
            line-height: 2rem;
        }
    }
}