@import "../foundation/settings";
$include-html-classes: false;
@import "foundation";
@import "silent_type";
@import "../components/list-styling";
@import "../components/awesomify";

.contact-info {
  .field-label {
    @extend %p;
  }
  .field-items {
    @extend %ul;
    @include styled-list;
    margin-bottom: 0;

    .field-item {
      @extend %li;
    }
  }
}

.date-display-single {
  @include awesomify("\f073");
}

.user-info {
    @include grid-row($behavior: nest);

    .user-photo {
        @include grid-column(5);
    }

    .user-details {
        @include grid-column(7, $collapse: true);

        .user-name {
          display: block;
        }

        .user-title {
          font-size: rem-calc(14);
          font-style: italic;
        }
    }
}