@import "base/init_for_custom";

.contact-info {
  .field-label {
    @extend %p;
  }
  .field-items {
    @extend %ul;
    @include styled-list;
    margin-bottom: 0;

    .field-item {
      @extend %li;
    }
  }
}

.date-display-single {
  @include awesomify("\f073");
}

.user-info {
    @include grid-row($behavior: nest);

    .user-photo {
        @include grid-column(5);
        padding-right: 0px;
    }

    .user-details {
        @include grid-column(7, $collapse: true);
        padding-left: 15px;

        .user-name {
          display: block;
        }

        .user-title {
          font-size: rem-calc(14);
          font-style: italic;
        }
    }
}