.views-row .row.event-item{
    margin-top: 30px;
}
/* used when no events are present */
.view-empty {
    margin: 57px 0 0 0px; //66px;
    padding: 0px;
    color: #AAA;
}
.date-display-single, .views-field-field-space, .grey {
    color: rgb(153, 153, 153);
}
.block {
    line-height: 1;
}
#block-system-main, #node-13445 {
    margin-bottom: 0;
}



#content #main-content{
    // event page styling
    .event-item{
        .event-photo{
            // padding-left: 0px;
        }
    }

    // workshop pages styling
    .item{

        // margin-left: 0px;
        margin-top: 50px;

        .event-date{
            padding-right: 5.5%;

            h2{
                    background: #cc0000;
                    font-size: 0px;
                    margin-bottom: 0px;
                    padding: 0px;
                    text-align: center;

                span{
                    color: #FFF;
                    line-height: 2rem;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                }
            }
            h3 {
                    background: #FFF;
                    border-bottom: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                    border-left: 1px solid #ccc;
                    margin-bottom: 0px;
                    padding: 9px 0px 0px 0px;
                    text-align: center;

                span{
                    color: #555;
                    font-size: 2.5rem;
                    line-height: 2.5rem;
                }
            }
        }

        .event-content{
            padding-left: 0px;

            h3{
                padding-top: 0px;
                margin-bottom: 0px;
            }
        }
    }
}