@import "base/init_for_custom";

.contact-info {
  display: inline-block;
  margin-bottom: 20px;

  .field-label {
    @extend %p;
  }
  .field-items {
    @extend %ul;
    @include styled-list;
    margin-bottom: 0;

    .field-item {
      @extend %li;
    }
  }
}

#event-share{
  margin-bottom: 35px;

  #fb-share-button{
    color: #3765A3;
  }
  #fb-share-button:hover{
    color: #c00;
  }
  #tw-share-button{
    color: #5EA9DD;
  }
  #tw-share-button:hover{
    color: #c00;
  }
}

#content{
  #main-content{

    #event-node{

      .event-meta{
        ul.field-items{
          margin-bottom: 0px;
        }
      }

      small{
        display: block;
        line-height: 1.2rem;
        margin-top: 5px;
      }
    }

  }
}

#event-description{}


.date-display-single {
  @include awesomify("\f073");
}

.user-info {
    @include grid-row($behavior: nest);
    padding-bottom: 10px;

    .user-photo {
        @include grid-column(5);
        padding-right: 0px;
    }

    .user-details {
        @include grid-column(7, $collapse: true);
        padding-left: 15px;

        .user-name {
          display: block;
        }

        .user-title {
          font-size: rem-calc(14);
          font-style: italic;
        }
    }
}
