@import "../foundation/settings";
$include-html-classes: false;
@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/buttons";
@import "foundation/components/button-groups";
@import "foundation/components/inline-lists";
@import "foundation/components/side-nav";

/* begin global styles */
.front #utility{
	margin: 0px;
	padding: 0px;

	@media #{$small-only}{
		margin-bottom: 0px;
	}
}

.pipe{
	font-weight: normal;
	line-height: 1;
	// font-size: 1rem;
	opacity: 0.4;
}
/* end global styles */


/*begin tier one*/
#tier-one{
	@include grid-row;
	margin-top: rem-calc(0);
	margin-bottom: rem-calc(0);

	@media #{$small-only}{
		margin-bottom: 0px;
		margin-top: 0px;
	}
}
#content #search-options{
	@include grid-column(7);
	padding-left: 0px;

	@media #{$small-only}{
		@include grid-column(12);

		padding: 0px;
	}

	h2{
		font-size: 1.8rem;
		margin-top: 0px;
		padding-top: 0px;
	}
}

/*begin tabs */
/*main search*/
#mobile-search-form {
	@media #{$medium-up} { display:none; }
}
#search-tabs{
	@media #{$small-only} { display:none; }
	padding: 0px;

	.tabs-content{
		margin-bottom: 0.5rem;
	}

	p.title a:hover{
		text-decoration: none;
	}

	dl.tabs dd a{
		@media all and (min-width: 768px) and (max-width: 820px){
			padding: rem-calc(10);
		}
	}
}

#searcheverything{
	@include grid-row;
	margin-bottom: 0px;
}
.search-body{
	padding: 0px;
	width: 100%;

	label{
		float: left;
		width: 100%;
	}
}

#searchall{
	@include grid-column(10);
	border-radius: 0px;
	height: 3.5rem;
	font-size: 1rem;
	margin-bottom: 0px;

	@media #{$small-only}{
		@include grid-column(10);
		border-radius: 0px;
		margin-bottom: rem-calc(10);
		padding-left: 10px;
		padding-right: 10px;
	}

	@media all and (min-width: 768px) and (max-width: 820px){
		width: 80%;
	}
}


#all-submit{
	@include grid-column(2, false, false, false, false, false, false, right);
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	height: 3.5rem;

	@media #{$small-only}{
		@include grid-column(2);
	}

	@media all and (min-width: 768px) and (max-width: 820px){
		width: 20%;
	}
}


/*articles*/
#search-articles-summon{
	@include grid-row;
}
#searcharticle{
	@include grid-column(10);
	font-size: 1rem;
	height: 3.5rem;
	margin-bottom: emCalc(10);

	@media #{$small-only}{
		@include grid-column(12);
	}

	@media all and (min-width: 768px) and (max-width: 820px){
		@include grid-column(9);
		margin-bottom: rem-calc(10);
	}
}
#article-submit{
	@include grid-column(2, false, false, false, false, false, false, right);
	margin: 0px 0px rem-calc(5);
	padding-left: 0px;
	padding-right: 0px;
	height: 3.5rem;

	@media #{$small-only}{
		@include grid-column(12);
	}

	@media all and (min-width: 768px) and (max-width: 820px){
		@include grid-column(3);
		margin-bottom: rem-calc(10);
	}
}
.search-example{
	@include grid-column(12);

	@media #{$small-only}{
		@include grid-column(9);
	}

	color: rgba(0, 0, 0, 0.5);
	font-size: 0.7rem;
	padding-left: 0px;
}
#websitesearch .search-example{
	display: inline-block;
	float: none;
	margin-bottom: 0px;
}
#searcharticleadvanced{
	border: 1px solid #DDD;
	margin-bottom: emCalc(15);
}
.search-more{
	float: left;
	margin-bottom: 0px;
	margin-top: 10px;
	padding-left: 0px;
}
/*Books/Media*/
#Ntt{
	@include grid-column(10);
	font-size: 1rem;
	height: 3.5rem;
	margin-bottom: emCalc(10);

	@media #{$small-only}{
		@include grid-column(12);
	}

	@media all and (min-width: 768px) and (max-width: 820px){
		@include grid-column(9);
	}
}
#searchbookssubmit{
	@include grid-column(2);
	height: 3.5rem;
	margin-bottom: emCalc(5);
	padding-left: 0px;
	padding-right: 0px;

	@media #{$small-only}{
		@include grid-column(12);
	}

	@media all and (min-width: 768px) and (max-width: 820px){
		@include grid-column(3);
	}
}

#Ntk{
	border: 1px solid #DDD;
	margin-bottom: emCalc(15);
}


/*search website*/
#searchweb{
	@include grid-column(10);
	font-size: 1rem;
	height: 3.5rem;
	margin-bottom: emCalc(15);

	@media #{$small-only}{
		@include grid-column(12);
	}

	@media all and (min-width: 768px) and (max-width: 820px){
		@include grid-column(9);
	}
}

#web-submit{
	@include grid-column(2);
	height: 3.5rem;
	margin-bottom: rem-calc(10);
	padding-left: 0px;
	padding-right: 0px;

	@media #{$small-only}{
		@include grid-column(12);
	}

	@media all and (min-width: 768px) and (max-width: 820px){
		@include grid-column(3);
	}
}

/*end tabs*/

#content #research-tools{
	h2{
		color: #999;
		font-size: 0.7rem;
		float: left;
		line-height: 1.05rem;
		padding-top: 0px;
		text-transform: uppercase;

		@media #{$small-only}{
			float: none;
		}
	}

	ul{
		@include inline-list;
		margin-bottom: rem-calc(20);
		overflow: visible;

		@media #{$small-only}{
			float: left;
		}

		li{

			@media #{$medium-up}{
				border-left: 1px solid #DDD;
				margin-left: 5px;
				padding-left: 5px;
			}

			&:first-child{
				border-left: 0px solid #DDD;
			}

			a{
				font-size: 0.8rem;
				line-height: 1rem;

				@media #{$small-only}{
					font-size: 0.8rem;
				}
			}
		}

		li:before{
			content: "";
			padding: 0px;
			margin: 0px;
		}
	}
}

/*begin quicklinks*/
#content #home-quicklinks{
	@include grid-column(12);
	padding: 0px;

	@media #{$small-only}{
		margin-bottom: rem-calc(50);
	}

	ul#quicklinks{
		list-style-type: none;
		margin: 0px;

		@media #{$small-only}{
			margin-bottom: rem-calc(30);
		}

		> li{
			@include grid-column(4);
			padding-left: 0px;

			@media all and (min-width: 768px) and (max-width: 820px){
				width: 33%;
			}

			&:last-child{
				padding-right: 0px;
			}
		}

		li{

			@media all and (min-width: 768px) and (max-width: 820px){
				padding-right: 0px;
			}

			@media #{$small-only}{
				margin-left: 0px;
				padding-right: 0px;
				width: 100%;
			}

			h2{
				color: $secondary-color;
				font-size: 0.8rem;
				font-weight: bold;
				margin-bottom: 10px;
				padding-top: 0px;
				text-transform: uppercase;

				@media #{$small-only}{
					// font-size: 1rem;
					margin-top: 10px;
				}
			}

			ul{
				@include side-nav;

				li{
					font-size: 0.84rem;
					margin-bottom: 0px;


					@media #{$small-only}{
						margin-right: 10px;
						padding: 0px 0px 5px 0px;
						padding-right: 10px;
						width: auto;

						&:first-child{
							margin-right: 0px;
							padding-right: 0px;
						}

						&:last-child{
							margin-right: 0px;
							padding-right: 0px;
						}
					}

					a{

						@media #{$small-only}{
							font-size: 1.1rem;
							color: #FFF;
						}

						@media all and (min-width: 768px) and (max-width: 820px){
							font-size: 0.8rem;
						}
					}
				}

				li:first-child{
					@media #{$small-only}{
						@include grid-column(12);
						padding: 0px;
					}
				}
			}
		}

		li:first-child{
			margin-left: 0px;
		}

		li:before{
			content: "";
			padding: 0px;
			margin: 0px;
		}
	}
}
/*end quicklinks*/



/*begin artbox*/
#home-artbox{
	@include grid-column(5);
	padding-right: 0px;

	@media #{$small-only}{
		@include grid-column(12);
		padding: 0px;
		margin-bottom: 50px;
	}

	.orbit-slider{
		height: 244px;

		@media #{$small-only}{
			height: auto;
		}

		li{

			> a{
				display: block;
				position: relative;
				height: 100%;
				text-indent: -9999px;
				width: 100%;
				z-index: 9999;

				img{
					float: left;
				}
			}

			@media #{$small-only}{
				> a{
					position: static;
				}
			}
		}

		li:before{
			content: "";
			padding: 0px;
			margin: 0px;
		}
	}

	.orbit-container{

		#artbox{
			margin-bottom: 0px;
		}

		@media #{$small-only}{
			margin-bottom: 0px;
		}

		.orbit-slides-container{

			li.active{
				position: absolute;
			}

		}

		.orbit-slides-container > *{
			@media #{$small-only}{
				margin-bottom: rem-calc(10);;
			}

		}
	}

	.orbit-bullets-container{
		@media #{$medium-up}{
			height: 33px;
		}

		margin-bottom: 0px;

	}



	.orbit-timer{
		// $orbit-timer-show-progress-bar: false !default;
		// display: none;
	}

	#home-social{
		h2{
			font-size: 1.25rem;
		}

		#social-icons{
			li{
				float: left;
				margin-right: 20px;
				margin-bottom: 20px;

				a{
					color: #555;

					i{
						border-radius: 5px;
						background: #555;
						color: #FFF;
						height: 30px;
						font-size: 1.2rem;
						padding: 6px 0px 0px;
						text-align: center;
						width: 30px;
					}
				}

				a:hover{
					color: #c00;
					text-decoration: none;

					i{
						background: #c00;
					}
				}
			}
		}
	}

}

.touch .orbit-bullets{
	@media #{$small-only}{
			display: block;
	}
}
/*end artbox*/

/*end tier one*/



/*begin tier two*/
#content #tier-two{
	@include grid-row;
	margin-bottom: emCalc(30);

	#available-links{
		margin-bottom: rem-calc(20);
		width: 100%;

		@media #{$small-only}{
			margin-bottom: rem-calc(20);
		}

		h2{
			font-size: 1rem;
			font-weight: bold;
			display: inline;
			padding-top: 0px;
			text-transform: uppercase;

			@media #{$small-only}{
				display: block;
				margin-bottom: rem-calc(10);
			}
		}

		ul{
			display: inline-block;
			margin: 0px;

			li{
				list-style-type: none;
				list-style-position: inherit;
				line-height: 0.75rem;
				float: left;
				margin: emCalc(0) emCalc(10) emCalc(0) emCalc(0) ;
				padding: emCalc(13) 0px 0px 0px;

				@media #{$small-only}{
					padding-top: 0px;
				}

				h2{
					margin-top: rem-calc(5);
					padding-top: 0px;
				}

				a{
					border-left: 1px solid #CCC;
					font-size: 0.9rem;
					margin-top: emCalc(10);
					margin-left: emCalc(0);
					padding: emCalc(3) 0px emCalc(3) emCalc(10);
				}
			}

			li:first-child{
				// margin-left: emCalc(20);
				// padding-top: 0px;

				@media #{$small-only}{
					margin-left: 0px;

					a{
						padding-left: 0px;
					}
				}
				a{
					border: 0px;
					margin-left: 0px;
				}
			}

			li:before{
				content: "";
				padding: 0px;
				margin: 0px;
			}
		}
	}

}
/*begin availability*/
#availability{
	@include grid-row;

	.tabs{
		dd{
			a{
				font-size: 0.7rem;
				line-height: 0.9rem;

				@media all and (min-width: 768px) and (max-width: 820px){
					padding-left: rem-calc(5);
				}

				@media #{$medium-up}{
					padding-right: 0px;
				}
			}
		}

		a{
			color: #555;
			font-weight: bold;
			line-height: 1.6rem;
		}
	}

	.tabs-content{
		.content{
			padding: 0.74rem 0px;

			ul{
				margin: 0px;

				li{
					@include grid-column(6);
					float: left;
					list-style-type: none;
					padding: rem-calc(14) 0px rem-calc(6);
					text-align: center;

					@media #{$small-only}{
						@include grid-column(12);
						padding: 0px;
						text-align: left;
					}

					.item{
						padding-right: rem-calc(10);

						@media #{$small-only}{
							float: left;
							line-height: 3.5rem;
							width: 68%;
						}

						a{
							font-size: 1.3rem;
							line-height: 1rem;
						}
					}

					.count{
						font-size: 2rem;
						font-weight: 300;
						position: relative;
						top: 2px;
					}
				}

				li:before{
					content: "";
					padding: 0px;
					margin: 0px;
				}
			}
		}
	}
}
/*end availability*/
/*end tier two*/


 /*begin tier-three*/
#tier-three{
	margin-bottom: emCalc(0);

	h2.sec-label{
		font-size: 1rem;
		font-weight: bold;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	#hunt-feature{

		@media #{$small-only}{
			margin-bottom: 50px;
		}

		a{
			opacity: 1;
			// transition: opacity 1s;

			#hunt-content{
				background: #d14c28;
				padding: 20px 20px 1px 20px;

				h2{
					color: #fff;
					font-size: 1.3rem;
					font-weight: normal;
					padding: 0px;
				}

				p{
					color: #fff;
					line-height: 1.2rem;
				}
			}
		}
		a:hover{
			opacity: 0.75;
			// transition: opacity 1s;
			text-decoration: none;
		}
	}

	#home-news{

		@media #{$small-only}{
			margin-bottom: 50px;
		}

		h2{
				text-transform: uppercase;

			a{
				font-weight: bold;
				color: #555;
				font-weight: normal;
				line-height: 1rem;
				text-decoration: none;
				text-transform: none;

				i{
					color: #c00;
					// font-size: 0.8rem;
				}
			}
			a:hover{
				color: #c00;
				text-decoration: none;
			}
		}


		#home-news-content{
			a{
				color: $body-font-color;
				display: block;
			}
			a:hover{
				opacity: 0.75;
				text-decoration: none;
			}
			.post-date{
				color: #999;
				font-size: 0.8rem;
			}

			h3{
				font-weight: normal;
			}

			img{
				margin-bottom: 20px;
				width: 100%;
			}
		}
	}
	#home-events{
		h2{
			font-weight: bold;
			text-transform: uppecase;

			a{
				color: #555;
				line-height: 1rem;
				text-transform: none;

				i{
					color: #c00;
					// font-size: 0.8rem;
				}
			}
			a:hover{
				color: #c00;
				text-decoration: none;
			}
		}
		.workshop-item{
			.workshop-date{
				padding-left: 0px;
				padding-right: 15px;
				margin-top: 0px;
			}

			.workshop-title{
				padding-top: 0px;

				a{
					font-size: 1.2rem;
					line-height: 1.2;
				}
			}

			.workshop-month{

				h4{
					padding: 5px 0px;
				}
			}
			.workshop-day{

				h2{
					padding: 5px 0px;
				}
			}
		}
	}
}



/*end tier three*/

// begin Library Stories
#library-stories{
 	background: #407d94;
 	padding-bottom: 0px;
 	padding-top: 0px;
 	width: 100%;

 	&:after {
		visibility: hidden;
		display: block;
		content: "";
		clear: both;
		height: 0;
	}

 	#library-stories-wrapper{
		margin: auto;
		// max-width: 1200px;
 		width: 100%;

 		.block{
 			margin: 0px;
 		}

 		h2.lib-label{
 			a{
 				font-weight: bold;
 				text-transform: uppercase;

 				@media #{$small-only}{
					font-size: 1rem;
				}
 			}
 			a:hover{
 				color: #c00;
 			}
 		}

 		h2.title{
 			a{
 				font-size: 1.5rem;
 				font-weight: bold;
 				text-transform: none;

				@media #{$small-only}{
					font-size: 1.2rem;
 					font-normal: normal;
				}
 			}
 		}

		h2{
			font-size: 1rem;
			font-weight: bold;
			text-transform: uppercase;
		}
	 	h2, p, a{
	 		color: #FFF;
	 	}

	 	img{
	 		padding: 0px 0px 0px;

	 		@media #{$small-only}{
	 			width: 100%;
	 		}
	 	}

 		#library-stories-content{
			background: #407d94;
 			margin-bottom: 50px;
 		}

 		#lib-st-photo{
			// padding: 0px;
			float: left;
			width: 50%;

			img{
				width: 100%;
			}

			@media #{$small-only}{
				float: none;
	 			width: 100%;
	 		}
 		}

 		#lib-st-content{
			float: left;
			padding: 10px 0px 10px 35px;
			width: 50%;

			@media #{$small-only}{
				float: none;
	 			width: 100%;
	 		}

			h2.title{
				font-size: 1.3rem;
				// font-weight: normal;
				margin-bottom: 20px;
				margin-top: 15px;
				text-transform: none;

				a:hover{
					text-decoration: underline;
				}
			}

			p.learn-more{
				a{
					@media #{$small-only}{
						font-size: 1rem;
					}
		 		}
				a:hover{
					text-decoration: underline;
				}
			}
 		}


	 	.views-row{
	 		float: left;
	 		width: 100%;

	 		&:hover{
	 			// opacity: 0.75;
	 		}

	 		@media #{$small-only} {
	 			float: none;
	 			width: 100%;
	 			padding: 0px;
	 			margin-bottom: 30px;
	 		}

	 		a{
	 			font-size: 0.9rem;
	 			@media #{$small-only} {
 					font-size: 1.5rem;
	 			}
	 		}
	 	}

	 	#lib-stories-btn{
			float: right;
			margin-top: 5px;
	 	}
 	}
}



/* Artbox (orbit) overrides */
.orbit-container {
	.orbit-prev, .orbit-next  {
		position: relative;
		left: 95%;
		top: 23px;
	}

	.orbit-prev:hover{
		span{
			border-right-color: #cc0000;
		}
	}
	.orbit-next:hover{
		span{
			border-left-color: #cc0000;
		}
	}


	.orbit-prev:hover, .orbit-next:hover {
		background-color: none;
	}

	.orbit-next>span {
		border-left-color: rgba(114, 114, 114, 0.45);
	}

	.orbit-prev {
		left: 83%;

		>span {
			border-right-color: rgba(114, 114, 114, 0.45);
		}
	}
}
@media #{$small-only} {
	.orbit-container {
		.orbit-prev, .orbit-next  {
			top: -1.9rem;
		}
	 	.orbit-prev {
			left: 87%;
		}
	}
}
