@import "../foundation/settings";
$include-html-classes: false;
@import "foundation/components/global";
@import "foundation/components/grid";


// temporary
#content #main-content .exam-hours-alert{
	background: #f5f5f5;
	color: #cc0000;
	margin-bottom: 20px;
	margin-top: 0px;
	padding: 10px;

	p{
		margin-bottom: 0px;
	}
}
.left-triangle{
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right:20px solid #f5f5f5;
	float: left;
	position: relative;
	left: -26px;
	top: -3px;
}

@media #{$small-only}{
	.exam-hours-alert{
		margin-top: 0px;
		margin-left: 0px;

	}
	.left-triangle{
		display: none;
	}
	.up-triangle{
		width: 0;
		height: 0;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-bottom: 20px solid #f5f5f5;
		position: absolute;
		top: -19px;
	}
}

/*begin sidebar styles*/
#sidebar-left{
	@include grid-column(5);
	padding-right: 0px;

	@media #{$small-only}{
		@include grid-column(12);
	}

	ul#libraries{
		list-style-type: none;
		margin: 0 0 40px 0;
		overflow: visible;

		li{
			border: 0px;
			margin-bottom: 0px;

			a{
				display: block;
				margin: 0;
				padding: 0px 30px 0px 0px;
				text-decoration: none;

				@media #{$small-only}{
					padding: 0px;
				}
			}

			a.nav-active, a.nav-active:hover{
				background: #f0f0f0 url("/sites/all/themes/ncsulib_foundation/images/hours-nav-arrow.png") no-repeat 100% top;
				background-size: auto 100%;

				@media #{$small-only}{
					background: #f0f0f0;
					padding: 0px;
				}

				p{
					color:#555;
				}

				ul.schedule .location{
					text-decoration: none;
				}
			}

			a:hover{
				background: #FFF;
				text-decoration: none;

				ul.schedule{
					background: #f0f0f0;
				}


				ul.schedule .location{

				}
			}

			.location{
				border-left: 1px solid #DDD;
				border-top: 1px solid #DDD;
				float: left;
				font-size: 1.4em;
				height: 68px;
				margin-bottom: 0px;
				padding: 0px 0px 0px 4%;
				width: 73%;

				p.location-title{
					color: $body-font-color;
					font-size: 0.9em;
					display: table-cell;
					height: 68px;
					margin-bottom: 0px;
					vertical-align: middle;
				}
			}

			.availability{
				border-left: 1px solid #DDD;
				border-right: 1px solid #DDD;
				border-top: 1px solid #DDD;
			    display: table-cell;
				height: 68px;
				margin-bottom: 0px;
				min-width: 15px;
				padding: 0px 0% 0px 0px;
			    text-align: center;
			    vertical-align: middle;
			    width: 20%;

			    .hstatus{
					font-size: 1.2em;
					font-weight: normal;
					line-height: 1;
					margin: 0px 0px 0px 0px;
					padding-top: 7px;
					text-transform: uppercase;

					@media #{$small-only}{
						font-size: 1em;
					}

					@media #{$medium-up}{
						font-size: 1.2em;
					}
				}
				.hstatus.open{
					color: #1D8C14;
					font-weight: bold;
				}
				.hstatus.appointment{
					margin: -4px 0px 0px 0px;
				}
				.hstatus.closed{
					color: #999;
					font-weight: bold;
				}
				.time{
					color: #999;
					font-size: 0.8em;
				}
			}

			ul{
				list-style-type: none;
				margin: 0px;

				.schedule{
					padding: 0px 0px 0px 0px;
					position: relative;
					width: 100%;

					p.location-title{
						font-size: 0.6em;
						display: table-cell;
						height: 68px;
						margin-bottom: 0px;
						padding-left: 15px;
						margin-bottom: 0px;
						vertical-align: middle;
					}
				}
			}
		}
	}

	ul#libraries > li:last-child ul{
		border-bottom: 1px solid #DDD;
	}

	ul {
		@media #{$small-only}{
			margin-bottom: 40px;
		}

		list-style-type: none;
		margin: 0px;

		li{
			margin: 0px 0px 10px 0px;

			a{
				padding: 8px 0px 8px 0px;
			}

			img{
				float: left;
				margin: 3px 5px 0px 0px;
			}
		}
	}
}
#page #sidebar-left > ul.schedule .location, #page #sidebar-left > ul.schedule .availability{
	background: #f5f5f5;
}
/*end sidebar styles*/











/*begin main schedule block*/
#page #main{
	@include grid-column(7);
	padding-left: 0px;
	padding-right: 0px;

	@media #{$small-only}{
		@include grid-column(12);
	}
}
/*end main schedule block*/



#schedule-block{
	@include grid-column(12);

	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	margin: 0px 0px 40px 0px;
	padding: 20px 20px 20px;

	#schedules{
		@include grid-column(6);
		padding-left: 0px;

		@media #{$small-only}{
			@include grid-column(12);
			padding: 0px;
		}

		table{
			tr:nth-of-type(2n){
				background: none;
			}
			td{
				padding: 5px 0px
			}
		}
	}
}










/*begin mini calendar*/
#cal{
	@include grid-column(6);
	padding-right: 0px;

	@media #{$small-only}{
		@include grid-column(12);
		padding: 0px;
		padding-top: 15px;
	}


	.hours-calendar{
		@include grid-column(12);

		margin: 0px 0px 0px 0px;
		padding: 0px;

		@media #{$small-only}{
			padding-right: 0px;
		}

		table.mini{
			margin-bottom: 0px;
			position: relative;
			width: 100%;

			tbody{
				border: 0px;
			}

			th.mini, td.mini{
				border-bottom: 0px solid #CCC;
				border-left: 1px solid #CCC;
				border-top: 1px solid #CCC;
				cursor: pointer;
				padding: 5px;
				text-align: center;
				width: 14.2857142%;
			}

			th.cal-label{
				background: #FFF;
				border-bottom: 0px;
				border-left: 1px solid #CCC;
				border-top: 1px solid #CCC;
				color: #555;
				display: table-cell;
				padding: 5px 0px;
				text-align: center;
				text-transform: capitalize;
			}
			th:first-child{
				border-left: 0px;
			}

			td.mini:hover{
				background: #666;
				color: #FFF;
			}

			td.mini.empty{
				background: #fff;
			}

			td.mini.empty:hover{
				background: #FFF;
				cursor: default;
			}
		}
	}
}




#page .hours-calendar{

	.mini td.mini.exception{
		background: #C7B18A;
	}

	.mini td.mini.exam-hours{
		background: #67849C;
	}

	.mini td.mini.adverse-weather{
		background: #990000;
	}

	td.mini.fall{
		background: #e5c051;
	}

	td.mini.spring{
		background: #CCDDAA;
	}

	td.mini.summer{
		background: #E5E1D0;
	}

	td.mini.has-events.today{
		border: 2px solid #666666;
	}

	td.mini.has-events.closed{
		color: #ccc;
	}
}



.view-library-hours-calendar{
	// float: left;
}
#page .view-library-hours-calendar .view-header{
	display: none;
}







#page .view-library-hours-calendar .hours-pager{
	@include grid-column(12);

	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-top: 1px solid #DDD;
	background: #f5f5f5;
	// float: left;
	height: 35px;
	left: 0px;
	padding: 0px;
	position: relative;
	top: 0px;
	width: 100%;
	z-index: 2;

	.date-heading{
		background: #f5f5f5;

		h3{
			font-size: 1em;
			padding-top: 4px;
		}
	}

	ul.page{
		background: none;
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		position: absolute;
		top: 0px;
		width: 100%;
		z-index: 2;
	}

	.date-nav-wrapper{
		margin: 0px;

		.date-nav{
			margin: 0px;
			padding: 0px;
		}
	}

	ul.page{
		li{
			background: none;
		}

		li:before{
			content: "";
			padding: 0px;
			margin: 0px;
		}
	}

	li.date-prev{
		float: left;
		height: 35px;
		margin: 0px;
		padding: 0px;
		position: static;

		a{
			background: #E5E3E3;
			height: 34px;
			display: block;
			margin: 0px;
			padding: 9px 0px 0px 0px;
			text-align: center;
			width: 30px;
		}
	}

	li.date-next{
		float: right;
		height: 35px;
		margin: 0px;
		padding: 0px;
		position: static;

		a{
			background: #E5E3E3;
			height: 34px;
			display: block;
			margin: 0px 0px 0px 0px;
			padding: 9px 0px 0px 0px;
			text-align: center;
			width: 30px;
		}
	}
}

/*end mini calendar*/











/*begin hours schedule*/
.regular-schedule{
	margin: 0px 0px 20px 0px;

	h4{
		padding: 0px;

		span.sem-dates{
			display: block;
			font-size: 0.75em;
			font-weight: normal;

			@media #{$small-only}{
				display: block;
			}

			@media #{$medium-up}{
				display: auto;
			}
		}
	}

	table{
		border: 0px;
		margin-top: .5rem;
		width: 100%;
	}

	.reg-hours{
		border: 1px solid #DDD;
		display: inline-block;
		*display: inline;
		zoom: 1;
		float: left;
		height: 18px;
		margin: 8px 10px 10px 0px;
		width: 18px;

		@media #{$small-only}{
			margin-top: 0px;
		}
	}

	.fall{
		background: #e5c051;
	}

	.spring{
		background: #CCDDAA;
	}

	.summer{
		background: #E5E1D0;
	}
}


#block-views-library-schedule-block{
	float: left;
}
#block-views-library-hours-exceptions-block{
	float: left;
}
.block-views-library-hours-description-block{
	margin-bottom: 40px;
}
/*end hours schedule*/


/*begin exceptions sched*/
.exceptions-schedule{
	margin: 0px 0px 20px 0px;

	h4{
		padding: 0px;
	}

	table{
		border: 0px;
		margin-top: .5rem;
		width: 100%;
	}

	.exception-hours{
		background: #C7B18A;
		border: 1px solid #DDD;
		display: inline-block;
		*display: inline;
		zoom: 1;
		float: left;
		height: 16px;
		margin: 2px 10px 10px 0px;
		width: 16px;

		@media #{$small-only}{
			margin-top: 0px;
		}
	}

	.exam-hours{
		background: #67849C;
		border: 1px solid #DDD;
		display: inline-block;
		*display: inline;
		zoom: 1;
		float: left;
		height: 16px;
		margin: 2px 10px 10px 0px;
		width: 16px;
	}

	.adverse-weather-hours{
		background: #990000;
		border: 1px solid #DDD;
		display: inline-block;
		*display: inline;
		zoom: 1;
		float: left;
		height: 16px;
		margin: 2px 10px 10px 0px;
		width: 16px;
	}
}

/*end exceptions sched*/

/*begin calendar popup*/
#content #main-content .date-popup-wrapper{
	background: #FFF;
	border: 1px solid #DDD;
	box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	min-width: 236px;
	position : absolute;
	text-align: left;
	z-index: 2;

	.date-popup{
		border-radius: 5px;
		padding: 15px;
		position: relative;
		z-index: 2;

		h2{
			margin: 0px 0px 0px 0px;
			padding: 0px;
			white-space: nowrap;
		}

		p{
			color: #555;
			margin: 0px 0px 5px 0px;
			padding: 0px;
			white-space: nowrap;
		}
	}
	// .date-popup:after{
	#popup-ind{
		background: #FFF;
		box-shadow: 3px 5px 6px -2px rgba(0,0,0,0.3);
		content: "";
		height: 15px;
		position: absolute;
		left: 46%;
		top: 90%;
		-webkit-transform:rotate(45deg);
	       -moz-transform:rotate(45deg);
	        -ms-transform:rotate(45deg);
	         -o-transform:rotate(45deg);
	            transform:rotate(45deg);
		width: 15px;
		z-index: 1;
	}
}

/*end calendar popup*/


// begin library meta info
#lib-info{
	@include grid-row;
	float: left;

	#lib-photo{
		@media #{$small-only}{
			@include grid-column(12);
			margin-bottom: 10px;
			padding: 0px;
		}

		@media #{$medium-up}{
			@include grid-column(7);
			padding-left: 0px;
		}
	}

	#lib-meta{
		@media #{$small-only}{
			@include grid-column(12);
			padding: 0px;
		}

		@media #{$medium-up}{
			@include grid-column(5);
			padding-right: 0px;

			h4{
				margin-bottom: 0px;
			}
		}
	}

	.notification{
		float: left;
		margin-top: rem-calc(20);
		width: 100%;
	}
}
// end library meta info


