@import "base/init_for_custom";


/* tables */
table.tablesorter {
    @media #{$small-only} {
        display: block;
    }
    display: none;
    font-family: arial;
    background-color: #CDCDCD;
    margin: 10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}

table.tablesorter thead tr .header {
    background-image: url(/sites/all/themes/ncsulib_foundation/styles/blitzer/images/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}

table.tablesorter tbody tr.odd td {
    background-color: #F0F0F6;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(/sites/all/themes/ncsulib_foundation/styles/blitzer/images/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(/sites/all/themes/ncsulib_foundation/styles/blitzer/images/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}


// old namingopps.css
#hunt-subpagenav {
    width: 162px
}

#hunt-subpagenav li {
    width: 153px
}

div.floor {
    @media #{$small-only} {
        display:none;
    }
    display: block;
    margin-top: 4px;
}

.ui-tabs .ui-tabs-nav {
    height: 45px
}

.main .ui-tabs-panel ul {
    line-height: 1;
    vertical-align: top
}

#content .data-targets{
    li {
        margin: 0 5px 0 0;
        line-height: 1.5;
        text-align: right;
        font-style: italic;
        padding: 0;
        background: none;

        span {
            font-style: normal;
            float: left;
            width: 73%;
            diplay: block;
            text-align: left;
            color: black;
        }

        a {
            padding: 6px 8px;
            font-style: normal;
            color: #737373;
            display: block;
            /*overflow: auto;*/
            font-style: italic;
        }
    }
}

#tabs-1 ul {
    margin: 34px 0 0 46px
}

#tabs-1 ul li a {
    font-size: 1.5em;
    line-height: .9;
    font-weight: 700
}

#tabs {
    border: 0;
    margin-bottom: 0px;
    padding: 0px;
}


.floorplan {
    float: left;
    margin: 0 25px 10px;
}

.main {
    background: #fff;
}

.main .ui-tabs-panel .data-targets {
    overflow: hidden;
    margin-top: 10px;
    background: #eee;
    padding: 3px;
}

.data-targets li a:hover, .data-targets .highlighter {
    background: rgba(255, 0, 0, 0.3);
/*previous yellow color: rgba(255, 208, 22, 0.38)*/
    border-radius: 0em;
    padding: 6px 8px;
    text-decoration: none;
}

.data-targets li a.reserved:hover, .data-targets .highlighter-reserved {
    background: rgba(23, 41, 176, 0.24);
}

.ui-widget-header .ui-state-hover {
    background: #fff;
    color: #c00;
}

#master_wrap_0 {
    margin-bottom: 10px;
}

.main h3 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: #B80D0D;
}

.main .instructions {
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
}

#mapster_wrap_1 img, #mapster_wrap_1 canvas {
    margin-left: 27px;
}

/**
 * jQuery UI overrides
 */
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #B80D0D;
}


.tablesorter td, .tablesorter .header {
    border: 1px solid rgb(207, 207, 207);
}


.main .no-utility-nav li {
    color: #333;
    cursor: pointer;
    display: inline;
    font-size: 85%;
    list-style: none;
    margin-bottom: 0px;
}
.main .no-utility-nav li:after {
    color: #c00;
    content: "\f105";
    font-family: "FontAwesome";
    margin-left: 5px;
    text-decoration: none;
}

.main .no-utility-nav li:hover {
    text-decoration: underline;
}

.main .no-utility-nav {
    @media #{$small-only} {
        display: none;
    }
    height: 36px;
    width: 100%;

}

.main ul {
    @include unstyled-list;
    .no-util-all {
        margin-right: 0;
    }
    .no-util-fp {
        display: none;
    }
}

.main p.note {
    margin-left: 323px;
}

.ui-tabs .ui-tabs-panel {
    padding: 14px 4px 0 4px;
}

.ui-tabs .ui-tabs-nav li {
    top: 6px;
    margin: 0 .2em 1px .2em;
}
.other-ways {

}

.other-ways h3, h3.other-way {
    font-size: 1em;
    text-align: center;
    text-transform: none;
}

// overrides
#content .ui-tabs-anchor {
    font-size: rem-calc(13.5);
    }



/*EO overrides 5.9.16*/
#content #main-content {

    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
        border-radius: 0px;
    }
    .main .no-utility-nav{
        border: 0px;
        width: 100%;
    }

    div.floor{
        width: 100%;

        #tabs{

            .ui-tabs-panel{
                padding: 30px 0px;

                .data-targets{

                    li{
                        margin: 0px;

                        a{
                            line-height: 1.4rem;
                            overflow: auto;
                            padding: 15px;
                            width: 100%;

                            .space-title{
                                float: left;
                                width: 70%;
                            }
                            .space-amt{
                                float: right;
                                text-align: right;
                                width: 30%;
                            }
                        }
                    }
                }
            }
            .ui-widget-header{
                background: none;
                border: none;
                border-bottom: 1px solid #ddd;
                padding: 0px;

                li{
                    margin: 0px;
                }
            }
            .ui-widget-content{
                img{
                    //width: 100%;
                }
            }

            ul.ui-tabs-nav{
                margin-bottom: 0px;
            }

            .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
                background: #f5f5f5;
                border-bottom: 1px solid #ccc;
                border-radius: 0px;
                margin: 0px;
                padding: 0px;
            }
            .ui-state-default a, .ui-widget-content .ui-state-default a, .ui-widget-header .ui-state-default a{
                padding: 10px 15px;
            }
            .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
                background: #fff;
                border-bottom: 0px;
                border-radius: 0px;
                margin: 0px;
                padding: 0px 0px 1px 0px;
            }
            .ui-state-active a, .ui-widget-content .ui-state-active a, .ui-widget-header .ui-state-active a{
                padding: 10px 15px;
            }
        }
        .instructions{
            background: none;
            border: 0px;
            margin: 0px;
        }
    }
}

