@import "base/init_for_custom";

#content #main-content {

  .upcoming_events-block_5 {
    @include grid-column(6);
    padding-left: 0;



    //h2 {
      //@include awesomify("\f073");
    //}


    ul {
      li {

        margin-bottom: rem-calc(20);

        &:before {
          float: left;
        }

        a {
          display: block;
        }

        .item-list h2{
          font-size: 1rem;
          margin-bottom: 5px;
          padding: 0px;
        }

        span {
          display: block;
        }
        span.date-display-single{
          color: #999;
          font-size: 80%;
        }
      }
    }

  }

  .News-block_6 {
    @include grid-column(6);
    padding-right: 0;

    .item-list h2{
      font-size: 1rem;
      margin-bottom: 25px;
      padding: 0px;
    }
  }

}
