@import "base/init_for_custom";

#content #main-content {

  .slideshows-block_4{
    ul.inline-list{
      li{
        margin-left: 0px;
      }
    }
  }


  .orbit-slider-old{
    li{
        margin-left: 0px;
    }
  }

  .upcoming_events-block_5 {
    @include grid-column(6);
    padding-left: 0;



    //h2 {
      //@include awesomify("\f073");
    //}

    .view-content h2{
      font-size: 1rem;
      margin-bottom: 0px;
      padding: 0px;
    }

    ul {
      li {

        margin-bottom: rem-calc(20);

        &:before {
          float: left;
        }

        a {
          display: block;
        }


        span {
          display: block;
        }
        span.date-display-single{
          color: #999;
          font-size: 80%;
        }
      }
    }

  }

  .News-block_6 {
    @include grid-column(6);
    padding-right: 0;

    .view-content h2{
      font-size: 1rem;
      margin-bottom: 25px;
      padding: 0px;
    }
  }

}
