@import "../foundation/settings";
$include-html-classes: false;
@import "foundation";
@import "silent_type";
@import "components/list-styling";


/* tables */
table.tablesorter {
    @media #{$small-only} {
        display: block;
    }
    display: none;
    font-family: arial;
    background-color: #CDCDCD;
    margin: 10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}

table.tablesorter thead tr .header {
    background-image: url(/sites/all/themes/ncsulib_foundation/styles/blitzer/images/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}

table.tablesorter tbody tr.odd td {
    background-color: #F0F0F6;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(/sites/all/themes/ncsulib_foundation/styles/blitzer/images/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(/sites/all/themes/ncsulib_foundation/styles/blitzer/images/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}


// old namingopps.css
#hunt-subpagenav {
    width: 162px
}

#hunt-subpagenav li {
    width: 153px
}

div.floor {
    @media #{$small-only} {
        display:none;
    }
    display: block;
    width: 737px;
    margin-top: 4px;
}

.ui-tabs .ui-tabs-nav {
    height: 47px
}

.main .ui-tabs-panel ul {
    line-height: 1;
    vertical-align: top
}

#content .data-targets{
    li {
        margin: 0 5px 0 0;
        line-height: 1.1;
        text-align: right;
        font-style: italic;
        overflow: auto;
        padding: 0;
        background: none;

        span {
            font-style: normal;
            float: left;
            width: 73%;
            diplay: block;
            text-align: left;
            color: black;
        }

        a {
            padding: 6px 8px;
            font-style: normal;
            color: #737373;
            display: block;
            overflow: auto;
            font-style: italic;
        }
    }
}

#tabs-1 ul {
    margin: 34px 0 0 46px
}

#tabs-1 ul li a {
    font-size: 1.5em;
    line-height: .9;
    font-weight: 700
}

#tabs {
    margin-bottom: 60px;
    overflow: auto;
    background: url(/sites/all/themes/ncsulib_foundation/styles/blitzer/images/noisy_grid.png);
}

// @-moz-document url-prefix() {
//     .ui-tabsui-tabs-navlitop:0
// }
// }

.floorplan {
    float: left;
    margin: 0 25px 10px;
}

.main {
    background: #fff;
}

.main .ui-tabs-panel .data-targets {
    overflow: hidden;
    margin-top: 10px;
    background: #FBFBFB;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FBFBFB), to(#F3F3F3));
    border-radius: .5em;
    padding: 3px;
    border: 2px solid #fff;
    box-shadow: 0 0 4px #000;
}

.data-targets li a:hover, .data-targets .highlighter {
    background: rgba(255, 0, 0, 0.3);
/*previous yellow color: rgba(255, 208, 22, 0.38)*/
    border-radius: .3em;
    padding: 6px 8px;
    text-decoration: none;
}

.data-targets li a.reserved:hover, .data-targets .highlighter-reserved {
    background: rgba(23, 41, 176, 0.24);
}

.ui-widget-header .ui-state-hover {
    background: #fff;
    color: #c00;
}

#master_wrap_0 {
    margin-bottom: 10px;
}

.main h3 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: #B80D0D;
}

.main .instructions {
    margin: -60px 11px 0 21px;
    padding: 10px 10px 10px 20px;
    margin-top: -60px;
    border-left: 1px solid #ACACAC;
    border-right: 1px solid #ACACAC;
    border-bottom: 1px solid #ACACAC;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    line-height: 1;
    background: url(/sites/all/themes/ncsulib_foundation/styles/blitzer/images/arrow-link.png) no-repeat 7px 12px;
}

#mapster_wrap_1 img, #mapster_wrap_1 canvas {
    margin-left: 27px;
}

/**
 * jQuery UI overrides
 */
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #B80D0D;
}

/**
 * jQuery Tablesorter plugin overrides and styles needed to enable switching views between tabs and table
 */
table.tablesorter {
    /*margin-left: 182px;*/
    /*width: 726px;*/
    /*position: absolute;*/
    /*top: 389px;*/
}

.tablesorter td, .tablesorter .header {
    border: 1px solid rgb(207, 207, 207);
}

.extra-height {
    height: 2378px;
}

.main .no-utility-nav li {
    list-style: none;
    display: inline;
    cursor: pointer;
    float: right;
    font-size: 101%;
    color: #6F6F6F;
    border-radius: .3em;
    border: 1px solid;
    padding: 1px 6px 1px 14px;
    background-clip: padding-box;
    background: #e9e9e9 url('/sites/all/themes/ncsulib_foundation/styles/blitzer/images/arrow-link.png') no-repeat 4px 46%;
}

.main .no-utility-nav li:hover {
    color: #000;
    background: rgba(255, 0, 0, 0.63) url('/sites/all/themes/ncsulib_foundation/styles/blitzer/images/arrow-link.png') no-repeat 4px 46%;
}

.main .no-utility-nav {
    @media #{$small-only} {
        display: none;
    }
    border-bottom: 1px solid #CCC;
    height: 36px;

}

.main ul {
    @include unstyled-list;
    .no-util-all {
        margin-right: 0;
    }
    .no-util-fp {
        display: none;
    }
}

.main p.note {
    margin-left: 323px;
}

.ui-tabs .ui-tabs-panel {
    padding: 14px 4px 0 4px;
}

.ui-tabs .ui-tabs-nav li {
    top: 6px;
    margin: 0 .2em 1px .2em;
}
.other-ways {
    position: absolute;
    bottom: 7px;
    right: 7px;
    width: 368px;
}

.other-ways h3, h3.other-way {
    font-size: 1em;
    text-align: center;
    text-transform: none;
}

// overrides
#content .ui-tabs-anchor {
    font-size: rem-calc(13.5);
    }
