$include-html-classes: false;
@import "foundation/components/global";
@import "foundation/components/grid";
@import "base/init_for_custom";
@import "foundation/components/top-bar";





// NEWS LISTING STYLES


.page-node-29403,
.page-node-37965{
    h1{
        display: none;
    }
}

#content {
    #main-content{
        @media #{$medium-up} {
            padding-right: 0px;
        }
        @media #{$small-only} {
            padding-bottom: 30px;
        }

        h2{
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
        }

        img{
            width: 100%;
        }

        // homepage
        .item-list{
            h3{
                padding-top: 0px;
            }
        }

        #feat-news-title{
            color: #ccc;
            font-size: 1rem;
            font-weight: normal;
            padding-left: 5px;

            a{
                color: #42749b;
                padding-left: 5px;
                text-transform: none;
            }
        }

        @media #{$small-only} {
            ul[class*=medium-block-grid]{
                li{
                    padding-left: 0px;
                    padding-right: 0px;
                    margin-bottom: 40px;
                }
                li:last-child{
                    margin-bottom: 0px;
                }
            }
        }

        // main news page news items
        .news-item{
            display: block;

            &:hover{
                text-decoration: none;

                img{
                    opacity: 0.75;
                }
            }

            h2{
                color: $anchor-font-color;
                font-size: 1.3rem;
                font-weight: normal;
                padding-top: 0px;
                text-transform: none;
            }

            p{
                color: $body-font-color;
            }
        }

        // listing page
        .item{
            @media #{$medium-up} {
                margin-top: 50px;
                width: 100%;
            }

            @media #{$small-only} {
                margin-top: 30px;
            }

            h3,h2{
                padding-top: 0px;
            }

            .item-content{
                h2,h3{
                    font-size: 0.9375rem;
                    text-align: left;
                }
            }

        }



        // main news page
        a.views-more-link{
            @include awesomify("\f054");
            padding-left: 10px;
            text-align: right;
        }
        a.views-more-link:after{
            color: #cc0000;
            display: inline-block;
            text-decoration: none;
            font-size:0.7rem;
            font-weight: 100;
        }

        .post-date{
            color: #999999;
            display: block;
            margin-top: 10px;
            font-size: 0.9rem;
            margin-bottom: 10px;
        }
        #focus{
            margin-bottom: 40px;

            #latest-focus{

                @media #{$medium-up} {
                    padding-left: 0px;
                    padding-right: 0px;
                }

                #focus-cover{
                    margin-bottom: 20px;
                }

                #focus-content{
                    padding-right: 0px;
                }

                h2{
                    padding-top: 0px;
                    margin: 0px 0px 10px 0px;
                }

            }
        }

        // listing items
        .view-content{
            margin-bottom: 40px;

            .photo{
                @media #{$small-only} {
                    margin-bottom: 20px;

                    img{
                        width: 100%;
                    }
                }
            }

            .post-content.feat-photo{
                @media #{$medium-up} {
                    @include grid-column(7);
                }
            }
        }

        .upcoming_events-block_8{
            @include grid-column(4, $float: left);
            padding-left: 0px;
            margin-bottom: 60px;

            @media #{$small-only} {
                width: 100%;
            }

            h2{
                padding-top: 0px;
                margin-bottom: 20px;
            }

            .home-news-events{

                h5{
                    font-size: 1.1rem;
                    margin-bottom: 3px;
                }

                .workshop-title{
                    padding-top: 0px;
                    line-height: 1.1;
                    font-size: 1.2rem;
                }

                .workshop-date{
                    float: left;
                    padding-left: 0px;
                    width: 18%;
                    margin-right: 5px;
                    margin-top: 0px;

                    h4,h2,h5{
                        padding-top: 0px;
                    }
                }
                .workshop-month{
                    padding: 4px 0px;
                }
                .workshop-day{
                    padding: 4px 0px;

                    h2{
                        font-family: "UniversLight";
                        font-size: 2.3rem;
                        margin-bottom: 0px;
                    }
                }
                .event-info{
                    float: left;
                }
            }
        }

        .capture_and_promote-block_8{ //library stories
            background: #407D94;
            color: #fff;
            margin-left: -50%;
            margin-bottom: 65px;
            padding: 10px 50% 11px;
            width: 200%;

            .lib-story{
                line-height: 1.4;

                .story-title{

                    a{
                        line-height: 1.4;
                    }
                }

                h2{
                    color: #fff;
                }
                a{
                    color: #fff;
                }

                img{
                    padding-bottom: 10px;
                }
            }

            #lib-stories-btn{
                text-align: right;
                padding: 0px 0px 0px 0px;
            }
        }

        .pager{
            padding-top: 60px;
        }
    }

    .above-footer{
        margin-bottom: -29px;

        #news-form-buttons{
            background: #cc0000;
            margin-left: -50%;
            margin-bottom: -71px;
            padding: 50px 50% 40px;
            width: 200%;

            h2{
                color: #fff;
                font-weight: bold;
                font-size: 1rem;
                margin-bottom: 10px;
                text-transform: uppercase;
            }

            ul{
                li{
                    color: #fff;

                    a{
                        color: #fff;
                    }
                }
                li:before{
                    color: #fff;
                }
            }

            #subscribe{

                input{
                    border-color: #fff;
                    height: 50px;
                }
                a.button{
                    background: #fff;
                    border-color: #fff;
                    color: #cc0000;
                    height: 50px;
                    opacity: 1;
                    padding-top: 9px;
                }
            }

            #archive{
                a{
                    background: #fff;
                    color: #cc0000;
                    opacity: 1;
                }

                h2{
                    font-size: 1rem;
                    font-weight: bold;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                }

                select#archive-select{
                    border: 0px;
                    height: 50px;
                }
            }
        }

        #mc_embed_signup{

            form{
                padding: 0px;

                #mc_embed_signup_scroll{
                    margin-bottom: 30px;

                    label {
                        padding: 0px;

                        h2{
                            font-size: 1rem;
                            font-weight: bold;
                            margin-bottom: 10px;
                            text-transform: uppercase;
                        }
                    }

                    #mce-EMAIL{
                        padding-left: 10px;
                        width: 100%;
                    }
                }

                input#mc-embedded-subscribe.button{
                    background: #fff;
                    border-radius: 0px;
                    color: #cc0000;
                    font-family: FontAwesome;
                    font-weight: normal;
                    opacity: 1;
                    min-width: 0px;
                    width: 100%;
                }
                input#mc-embedded-subscribe.button:after{
                    color: #cc0000;
                    content: "\f105";
                    font-family: FontAwesome;
                    font-size: 1.2rem;
                }
            }
        }
    }

    h2#news-title{
        text-align: center;
        text-transform: uppercase;

        a{
            color: #555;
            font-weight: bold;
        }

        a:hover{
            text-decoration: none;
            color: #cc0000;
        }
    }


    // news search/archive
    aside{
        ul{
            li{
                padding: 5px 0px;
            }
        }

        a.news-button{
            display: block;
            border: 1px solid #ccc;
            background: #f9f9f9;
            color: #990000;
            padding: 14px;
        }

        a.news-button:after {
            content: "\f105";
            color: #990000;
            font-family: FontAwesome;
            font-size: 1.2rem;
            right: 11px;
            position:absolute;
            top:11px;
        }

        select#archive-select{
            height: 50px;
        }

        #views-exposed-form-News-page-2{
            #edit-title-wrapper{
                float: left;
                padding-right: 0px;
                width: 81%;

                input{
                    height: 50px;
                    margin-bottom: 0px;
                    width: 100%;
                }
            }

            .views-exposed-widget.views-submit-button{
                padding: 8px 0px 0px 0px;
                width: 10%;

                input{
                    font-family: FontAwesome;
                    margin-top: 0px;
                    padding: 0px;
                    height: 50px;
                    width: 41px;
                }
                input:after{
                    content: "\f105";
                    color: #990000;
                    font-family: FontAwesome;
                    font-size: 1.2rem;
                    right: 11px;
                    position:absolute;
                    top:11px;
                }
            }
        }
    }
}













// NEWS PAGE STYLES


// drupal tabs should be below nav hover
ul.tabs.primary{
    // display: none;
    z-index: 0;
}

#news-title{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

#post-content{
    margin-bottom: 30px;
}







#content {

    #main-content{

        h1{
            font-size: 3.25rem;

            @media #{$small-only} {
                font-size: 1.8rem;
            }
        }

        .news-block_3{
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            margin-bottom: 20px;
            padding: 10px 10px 0px;

            h2{
                padding-top: 10px;
                font-size: 1rem;
                font-weight: bold;
            }

            .related-news-item{
                h2{
                    font-size: 1.2rem;
                    font-weight: normal;
                }
            }
        }

        #post-sidebar{
            // margin-top: -20px;

            h2{
                font-size: 1rem;
                font-weight: bold;
                text-transform: uppercase;
            }

            #tags{
                margin-bottom: 20px;

                h2{
                    padding-top: 0px;
                }
            }

            .field-items{
                display: inline-block;
                margin-bottom: 20px;
            }
            .field-item{
                float: left;
                margin-right: 3px;
            }
            .field-item:after{
                content: ',';
            }
            .field-item:last-child:after{
                content: '';
            }

            .news-block_4{
                h2{
                    // padding-top: 0px;
                }
            }

            .upcoming_events-block_8{
                @include grid-column(12, $float: left);
                padding-left: 0px;

                @media #{$small-only} {
                    width: 100%;
                }

                h4,h3,h5{
                    padding-top: 0px;
                    padding-bottom: 0px;
                }

                h5{
                    font-size: 1rem;
                    margin-bottom: 3px;
                }

                h3.workshop-title{
                    font-size: 1.1rem;
                    padding-top: 5px;
                    line-height: 1.5rem;
                }

                .workshop-date{
                    float: left;
                    padding-left: 0px;
                    width: 17%;
                }
                .workshop-month{
                    padding: 6px 0px 4px;

                    h4{
                        font-family: "UniversLight";
                        font-size: 1.2rem;
                    }
                }
                .workshop-day{
                    padding: 8px 0px 8px;

                    h2{
                        font-family: "UniversLight";
                        font-size: 2.3rem;
                        padding-top: 0px;
                        font-weight: normal;
                    }
                }
                .event-info{
                    float: left;
                }
            }
        }

        #meta{
            margin-bottom: 20px;
            margin-top: 30px;

            @media #{$small-only} {
                margin-bottom: 10px;
            }


            #social{
                margin-bottom: 20px;
                text-align: right;

                h4{
                    font-size: 0.9rem;
                    // font-weight: bold;
                    float: right;
                    padding-top: 8px;
                    margin-right: 9px;
                    margin-bottom: 0px;
                }

                #social-btns{
                    float: right;

                    a#fb-share-button{
                        color: #48649F;
                    }
                    a#tw-share-button{
                        color: #659FCB;
                    }
                    a#email-button{
                        color: #cc0000;
                    }
                    a#fb-share-button:hover,
                    a#tw-share-button:hover,
                    a#email-button:hover{
                        color: #555;
                    }
                }
            }

            #post-date{
                float: left;
                padding-top: 16px;
            }

            // Individual blog posts
            .user-details{
                margin-bottom: 5px;
            }
        }


        #feature-photo{
            margin-bottom: 35px;

            img{
                width: 100%;
            }

            small{
                display: block;
                margin-top: 7px;
            }
        }

        .caption{
            small{
                float: left;
                margin-top: 5px;
                width: 100%;
            }
        }

        // .left-image{
        //     width: 100%;

        //     img{
        //         float: left;
        //         width: 50%;
        //     }
        // }
        // .right-image{
        //     width: 100%;

        //     img{
        //         float: right;
        //         width: 50%;
        //     }
        // }
        // .center-image{
        //     width: 100%;

        //     img{
        //         margin-bottom: 20px;
        //         width: 100%;
        //     }
        // }


        .caption-text{
            // float:left;
            margin-bottom: 0px;
            // padding: 0px 2%;
            // width: 96%;
        }

        // // .add-caption{
        //     display: block;
        //     padding-bottom: 10px;

        //     &.alignLeft{
        //         float: left;
        //         padding-right: 20px;
        //     }
        //     &.alignRight{
        //         float: right;
        //         padding-left: 20px;
        //     }

        //     p{
        //         margin-bottom: 10px;
        //     }

        // }
    }

    #news-title{
        text-align: center;
        text-transform: uppercase;

        a{
            color: #555;
            font-weight: bold;
        }

        a:hover{
            text-decoration: none;
            color: #cc0000;
        }
    }

}








// NAV
#news-nav{

    &.top-bar, &.top-bar.expanded{

        background: none;

        @media #{$small-only} {
            background: #383838;

            ul{
                background: #383838;
                a{
                    background: #383838;
                    color: #fff;
                }
            }
        }
    }

    .top-bar-section{
        @media #{$medium-up} {
            background: none;

            ul{
                background: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                z-index: 1;

                li{
                    background: none;

                    a{
                        background: none;
                        color: #555;
                        font-size: 1rem;
                    }

                    a:after{
                        border-color: rgba(204, 0, 0, 1) transparent transparent;
                    }

                    ul.dropdown{
                        border: 1px solid #555;
                        background: #f5f5f5;
                        padding: 1px;

                        li{
                            a{
                                // color: #fff;
                            }
                        }
                    }

                    ul.dropdown:before{
                        width: 0px;
                        height: 0px;
                        border-style: solid;
                        border-width: 10px 15px 10px 0;
                        border-color: transparent #dd4397 transparent transparent;
                    }
                }
            }
        }
    }
}

