@import "base/init_for_custom";

#content #main-content{

    // listing page
    .project-list{
        .item{
            .entity{
                margin-bottom: 10px;
            }
        }
    }

    #page-title{
        margin-bottom: 40px;
    }

    #carousel-wrap{
        margin-bottom: 40px;

        .projects-carousel{
            margin-bottom: 10px;
        }

        #carousel-thumbs{
            .thumb{
                border: 2px solid #fff;
                display: inline-block;
                margin: 0px 10px 0px 0px;
            }
            .thumb.active{
                border: 2px solid #c00;
            }
        }
    }

    #proj-authors{
        margin-bottom: 40px;

        .field-item{
            margin-bottom: 10px;
        }
    }


}