@import "../foundation/settings";
$include-html-classes: false;
@import "../foundation";
@import "silent_type";

table {
    border: 0px;
    background: none;
    width: 100%;
}
tr {
    // border-top: 1px solid #DDD;
}
table tr td:first-child{
    padding-left: 0px;
}
table tr td:last-child{
    padding-right: 0px;
}
table tr td {
    background: none;
    padding-bottom: 25px;
    padding-top: 25px;
    vertical-align: top;
}
table tr.even, table tr.alt, table tr:nth-of-type(2n){
    background: none;
}

img {
    @media #{$medium-up}{
        min-width: 160px;
    }
}
.view-header {
    @include grid-row();
    position: absolute;
    top: 0px;

    @media #{$small-only} { display:none; }

    .vml-text {
        @include grid-column(4, $push: 8, $position: true);
        line-height: 1.1;
        @media #{$small-only}{
            @include grid-column(4, $float: right, $collapse: true);
            font-size: rem-calc(12);
            line-height: 1.3;
        }
    }
}
.view-filters {
    @include grid-row();
    margin-top: 30px;
    form {

        #edit-field-types-of-spaces-value-wrapper{
            @include grid-column(6);
            max-height: 160px;

            .form-item{

                .form-type-bef-checkbox{
                    float: left;
                    width: 50%;
                }
            }
        }

        .views-exposed-widget {
            @include grid-column(6);
            margin-bottom: 0px;
            padding: 0px;

            @media #{$small-only} {
                @include grid-column(12);
            }

            label:first-child {
                @extend %h2;
                margin-top: 0;
                display: block;

                @media #{$small-only}{
                    float: none;
                    font-weight: 700;
                }
            }

            #edit-reset {
                margin-top: 0;
                padding: rem-calc(5 10);
                @media #{$small-only}{
                    display: none;
                }
            }
        }

        .views-exposed-widget.views-reset-button{
            width: auto;
        }

        .views-widget-filter-field_types_of_spaces_value{
            display: none;
        }
    }
    .views-widget {
        margin-left: rem-calc(0);

        input[type="checkbox"] {
            float: left;
            margin-right: 10px;
            margin-top: 2px;
        }

        .option {
            display: block;
            margin-left: 24px;
            line-height: 1.3;
        }
    }
}

.views-exposed-form .form-item{
    margin-bottom: 10px;
}
.view-content {
    table {
        @include grid-column(12);
    }

}
.bef-checkboxes label {
    font-weight: 400;
}
.form-item-edit-field-building-name-value-design,
.form-item-edit-field-building-name-value-nrl,
.form-item-edit-field-building-name-value-vetmed,
.form-item-edit-field-building-name-value-cvm {
    display:none;
}
.room-name {
    @extend %h3;
    margin-top: 0;
    display: block;
}
.building-name {
    font-weight: bold;
    margin-bottom: 5px;

    @media #{$small-only} {
        float: left;
        font-weight: 700;
        margin-bottom: 15px;

        &:before {
            content: "Building:  ";
            font-weight: 400;
        }
    }
}

.floor {
    line-height: 1.1;
    margin-bottom: 20px;
}
.capacity {
    margin-bottom: 20px;
}
.space-type{
    margin-bottom: 20px;

    @media #{$small-only} {
        float: left;
    }
}
.views-field-title span{
    display: block;
}
.views-field-title {
    // width: 25%;

    @media #{$small-only} {
        width: 75%;
    }
}
.views-field-body, .views-field-body p {
    font-size: rem-calc(13);
}
.views-field-field-reservation-method {
    text-align: center;
}
@media #{$small-only}{
    .views-field-title span {
        display: inline;
    }
    .views-field-body,
    .views-field-title .capacity,
    .views-field-title .floor,
    .views-field-field-image {
        display: none;
    }
    .views-field-title .room-name {
        display: block;
    }
    .button {
        padding: rem-calc(10 16);
        font-size: rem-calc(13);
    }
    #edit-field-special-access-value-wrapper,
    #edit-field-types-of-spaces-value-wrapper {
        display:none;
    }
}

