.view-id-software.view-display-id-block_2{
    .software-item{
        margin-bottom: 25px;

        .icon{
            img{
                width: 84%;
            }
        }

        .title{
            line-height: 2.5rem;
        }
    }
}