.view-id-software.view-display-id-block_2{
    .software-item{
        margin-bottom: 0px;

        .icon{
            img{
                width: 84%;
            }
        }

        .title{
            p{
                line-height: 2rem !important;
            }
        }
    }
}