@import "../foundation/settings";
$include-html-classes: false;
@import "../foundation";
@import "../components/list-styling";
@import "silent_type";

/**
 * For the Space node content type
 */
body.html main {
    @media #{$medium-up} {
        .field-name-field-image {
            @include grid-column(6, $float: right);
        }
    }
    .building-name {
        display: block;
        float: left;
        line-height: 1.6;
        margin-bottom: 0;
    }
     .room-numbers {

        line-height: 1.8;
        @include unstyled-list;
        margin-bottom: rem-calc(4);

        li {
            display: inline;
        }
    }

    .building-map-hunt {
        margin: rem-calc(0 0 15 103);
        @media #{$small-only} {margin-left: 0;}
    }

    .building-map-hill {
        margin: rem-calc(0 0 15 130);
        @media #{$small-only} {margin-left: 0;}
    }

    .button-reserve {
        @include button($full-width: false);
        @media #{$small-only} {
            display: none;
        }
    }

    .button {
        // @include button($full-width: false);
        float: left;
        clear: left;

        @media #{$small-only} {
            width: 100%;
        }
    }

    .field-name-body {
        clear: left;

        .field-item {
            margin: 0;
            padding: 0;
            list-style: none;
            background: none;
        }
    }
    .room-list {
        line-height: 1.6;
        float: left;
        margin-bottom: rem-calc(10);
    }

    @media #{$small-only} {
        .room-list {
            margin: 0;
        }

        .field-name-field-image {
            max-width: 330px;
            margin: rem-calc(0 0 10 0);
        }
    }
}
