@import "../foundation/settings";
$include-html-classes: false;
@import "foundation/components/grid";
@import "foundation/components/buttons";
@import "foundation/components/global";

.sidebar{

	.meta-section{
		margin-bottom: 30px;

		h2{
			margin-bottom: 0px;
		}
	}


    i.fa-comments{
        color: #cc0000;
    }
}


// change size of staff photo section
.sidebar-first{

    @media #{$medium-up}{
        aside#subnav{
            @include grid-column(4, $pull:8);

            .staff-meta-info{
                p{
                    margin-bottom: 5px;
                }

                p.meta-section{
                    margin-bottom: 30px;

                    h2{
                        margin-bottom: 0px;
                    }
                }
            }
        }

        #main-content{
            @include grid-column(8, $push:4);
        }
    }

}

#content .staff-member{
    @media #{$small-only}{
        width: 100%;

        img{
            width: 100%;
        }
    }

    h3{
        margin-bottom: 0px;
        margin-top: 0.5rem;
        padding-top: 0px;
    }
    h6{
        margin-top: 0px;
        padding-top: 0px;
    }
}

// hide department search box (hack =/)
.views-exposed-form{
    #edit-submit-staff{
        margin-top: 1.3rem;
    }

    #edit-department-wrapper{
        display: none;
    }
}

// Right Sidebar
#content .l-sidebar-second {
    .view-capture-and-promote {
        a {
            &:hover {
                text-decoration: none;
            }
        }
        h3 {
            padding: 10px 10px 0 0px;
        }
        p {}
    }
}

// main content area for staff page
.page-1staff #main-content{
    h2{
        font-size: 1.3125rem;
        font-weight: bold;
    }
}