@import "../foundation/settings";
$include-html-classes: false;

.brand-tile{
	color: #FFF;
	height: 100px;
	padding: 10px;
	text-align: center;

	&.primary-a{
		background: $primary-color;
	}
	&.primary-b{
		background: $primary-color-b;
	}
	&.primary-c{
		background: $primary-color-c;
		border: 1px solid $border-color;
	}

	&.secondary-a{
		background: $secondary-color;
	}
	&.secondary-b{
		background: $secondary-color-b;
	}
	&.secondary-c{
		background: $secondary-color-c;
	}
	&.secondary-d{
		background: $secondary-color-d;
	}
	&.secondary-e{
		background: $secondary-color-e;
	}
	&.secondary-f{
		background: $secondary-color-f;
	}
	&.secondary-g{
		background: $secondary-color-g;
	}
}

.toggle-code{
	display: block;
	font-size: 0.9em;
	margin-top: -10px;
	margin-bottom: 20px;
}


.row.display{
	background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    font-size: 11px;
    line-height: 2rem;
    margin-bottom: 10px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.row.display .columns:nth-child(2),
.row.display .columns.small-centered,
.row.display .columns.large-centered {
    background: #E1E1E1;
}

