@import "../foundation/settings";
$include-html-classes: false;
@import "foundation";

.view-content {
  @include block-grid(1);
  @media #{$medium-only} {
    @include block-grid(3);
  }
  @media #{$large-up} {
    @include block-grid(4);
  }
}

.views-row {
  // make each view row behave like a list-item inside a Foundation block grid
  @extend li;

  border-left: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  height: 344px !important;

  .views-field-field-image,
  .views-field-field-device-image {
    display: table;
    width: 100%;
    height: rem-calc(226);

    .field-content {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
  }
}