@import "base/init_for_custom";

.row {
  margin-bottom: rem-calc(30);
}

.views-row {

  @media #{$small-only}{
    @include grid-column($columns: 9, $center: true);
    padding: rem-calc(20);
  }

  @media #{$medium-up} {
    // @include grid-column(3);te
    // make each view row behave like a list-item inside a Foundation block grid
    padding-bottom: 30px;
  }


  .views-field-title {
    @extend %h4;
  }

  .views-field-field-image,
  .views-field-field-device-image {
    display: table;
    width: 100%;
    height: rem-calc(226);

    .field-content {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
  }

  .views-field-body {
    .field-content {
      @extend %p;

      @media #{$small-only}{
        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .views-field-field-lending-method,
  .views-field-field-device-lending-period {
    padding-top: 10px;
    color: gray;
    font-style: italic;
    font-size: .9em;
  }
}

.view-footer {
  margin-top:rem-calc(20);
}


.views-field-field-device-image{
  height: 200px;
}