.user-activity-content-hidden{
	display: none;
}




// project block (right column)
#content .sidebar .project-item{
	margin-bottom: 40px;

	.project-info{

		h4{
			background: #FFF;
			margin-bottom: 0px;
			margin-left: 5%;
			margin-top: -46px;
			padding: 10px;
			text-decoration: none;
			width: 90%;
		}
	}
}


// staff sidebar
#content .l-sidebar-first{

	.staff-member{
		margin-bottom: 20px;

		.staff-meta{
			padding-left: 0px;

			h4{
				margin-bottom: 5px;
				text-transform: none;
			}

			p{
				font-size: 12px;
			}
		}
	}
}

// workshops sidebar
#content .workshop-item{
	margin-bottom: 30px;

	.workshop-date{
		margin-top: 6px;
		padding-right: 0px;
	}

	.workshop-month{
		background: #cc0000;
		text-align:center;

		h4{
			color: #fff;
			margin-bottom: 0px;
			text-transform: uppercase;
		}
	}

	.workshop-day{
		border-left:1px solid #DDD;
		border-bottom:1px solid #DDD;
		border-right:1px solid #DDD;
		text-align: center;

		h2{
			font-size: 2rem;
			line-height: 2rem;
			margin-bottom: 0px;
			padding: 6px 0px 0px 0px;
		}
	}

	.workshop-title{
		padding-right: 0px;
	}
}



