.user-activity-content-hidden{
	display: none;
}




// project block (right column)
.sidebar .project-item{
	margin-bottom: 40px;
}


// staff sidebar
#content .l-sidebar-first{

	.staff-member{
		margin-bottom: 20px;

		.staff-meta{
			padding-left: 0px;

			h4{
				margin-bottom: 5px;
				text-transform: none;
			}

			p{
				font-size: 12px;
			}
		}
	}
}
