$include-html-classes: false;
@import "foundation/components/global";
@import "foundation/components/grid";


.user-activity-content-hidden{
	display: none;
}

#back-to-link{
	float: left;
	font-size: 0.8rem;
	left: -14px;
	position: relative;
}

#main-content{
	section.block.block-views.contextual-links-region{
		@include grid-row;
		margin-bottom: 30px;

		h2{
			@include grid-column(3);
			font-size: 1rem;
			font-weight: bold;
			margin-top: 4px;
			padding-left: 0px;
		}

		.view{
			@include grid-column(9);
		}

		.user-activity-experts{
			padding-left: 35px;
		}
	}
}



// project block (right column)
#content .sidebar .project-item{
	margin-bottom: 40px;

	.project-photo{
		height: 165px;
		overflow: hidden;
	}

	.project-info{

		// h4{
		// 	background: #FFF;
		// 	margin-bottom: 0px;
		// 	margin-left: 5%;
		// 	margin-top: -46px;
		// 	padding: 10px;
		// 	text-decoration: none;
		// 	width: 90%;
		// }

		h4 {
			width:100%;
			position:relative;
		}

		h4 > a {
		    border-left: 20px solid 111;
		    bottom: 150px;
		    color: #fff;
		    font-size: 1.5rem;
		    left: 0;
		    line-height: 1.14;
		    padding: 11px 0px;
		    position: absolute;
		    text-decoration: none;
		    text-transform: uppercase;
		}
		h4 > a > span {
		    background: 111;
		    padding: 10px 0px;
		}
		h4 > a > span > span {
		    left: -10px;
		    position: relative;
		}
	}

}


// staff sidebar
// #content .l-sidebar-first{

// 	.staff-member{
// 		margin-bottom: 20px;

// 		.staff-meta{
// 			padding-left: 0px;

// 			h4{
// 				margin-bottom: 5px;
// 				text-transform: none;
// 			}

// 			p{
// 				font-size: 12px;
// 			}
// 		}
// 	}
// }

// workshops sidebar
#content .workshop-item{
	margin-bottom: 30px;

	.workshop-date{
		margin-top: 6px;
		padding-right: 0px;
	}

	.workshop-month{
		background: #cc0000;
		text-align:center;

		h4{
			color: #fff;
			margin-bottom: 0px;
			text-transform: uppercase;
		}
	}

	.workshop-day{
		border-left:1px solid #DDD;
		border-bottom:1px solid #DDD;
		border-right:1px solid #DDD;
		text-align: center;

		h2{
			font-size: 2rem;
			line-height: 2rem;
			margin-bottom: 0px;
			padding: 6px 0px 0px 0px;
		}
	}

	.workshop-title{
		padding-right: 0px;
	}
}



