// Non-modular or client styles for asides or sidebars.

#subnav, .l-sidebar-second{
	padding-top: rem-calc(20);

	.side-nav {
		padding: rem-calc(5 0);

		h2,h3,h4,h5,h6{
	        font-size: $side-nav-heading-size;
	        margin-top: 0px;
	        text-transform: uppercase;
	    }

		li{

			a{
				font-size: 0.9em;

				&.active-trail{
					color: $secondary-color-b;
					font-weight: bold;
				}
			}

			ul{
            	list-style-type: none;
				margin-bottom: rem-calc(0);
				margin-left: rem-calc(15);
				margin-top: rem-calc(10);
				padding: 0px;

				li{

					a{
						font-size: rem-calc(14);
					}
				}
			}
		}
	}

	h2, h3 {
		text-transform: uppercase;
		font-size: .9em;
		margin: rem-calc(20 0 5 0);
	}
}



/**
 * Default sidebar box styling, see /articles for an example
 */
.sidebox {
    margin-bottom: 80px;
}
.sidebox h2 {
    font-size: 1.4em;
    padding-bottom: 14px;
}
.sidebox ul li {
    list-style: none;
    padding-bottom: 9px;
}
.sidebox ul {
    margin: 0;
    padding: 0;
}
