// Non-modular or client styles for asides or sidebars.
#content{
	.l-sidebar-first{
		@media #{$medium-up}{
			padding-right: rem-calc(20);
		}
	}

	.l-sidebar-second{
		@media #{$medium-up}{
			padding-left: rem-calc(20);
		}
	}

	.l-sidebar-first,
	.l-sidebar-second,
	.sidebar{
		padding-top: rem-calc(20);

		h2{
	        font-size: 1.1em;
	        font-weight: bold;
	        margin-top: 0px;
	        text-transform: uppercase;

	        a{
	        	font-size: inherit;
	        }
	    }
	    h3{
	    	font-size: 1.1em;
	        font-weight: bold;
	        margin-top: 0px;
	        text-transform: uppercase;

	        a{
	        	font-size: inherit;
	        }
	    }
	    h4,h5,h6{
	        font-size: 1em;
	        margin-top: 0px;
	        text-transform: none;

	        a{
	        	font-size: inherit;
	        }
	    }

	    p,a{
	    	font-size: 0.875rem !important; //rem-calc(14);
	    	line-height: 1.2rem;
	    }
	    p{
	    	a{
	    		display: inline-block;
	    		line-height: 1.3;
	    		padding-top: 5px;

	    		img{
	    			width: 100%;
	    		}
	    	}
	    }

		ul, .side-nav, .menu {
			padding: rem-calc(0);
			margin-left: 0px;

			li{
				line-height: 1.1rem;
				margin-bottom: 15px;

				a{
					// font-size: 0.875rem;

					&.active-trail{
						color: $secondary-color-b;
						font-weight: bold;
					}
				}

				a:hover{
					text-decoration: underline;
				}

				ul{
	            	list-style-type: none;
					margin-bottom: rem-calc(0);
					margin-left: rem-calc(15);
					margin-top: rem-calc(10);
					padding: 0px;

					li{

						a{
							font-size: 90%;
						}
					}
				}
			}

			li:before{
				content: none;
				padding: 0px;
				margin: -4px;
			}
		}
	}

	ul.menu{
		margin: 0px;
		padding: 0px;

		li{
			list-style-type: none;
		}
	}

	ul[class*="-block-grid-"]{

		> li{
			padding-bottom: 0px;
		}
	}

}



/**
 * Default sidebar box styling, see /articles for an example
 */
#content {
	.sidebox {
	    margin-bottom: 80px;
	}
	.sidebox h2 {
	    font-size: 1.4em;
	    padding-bottom: 14px;
	}
	.sidebox ul li {
	    list-style: none;
	    padding-bottom: 9px;
	}
	.sidebox ul {
	    padding: 0;
	}
}
