/* Captions*/

p.caption {
    float: right;
    font-size: 0.9em;
    font-style: italic;
    margin: 15px;
    padding-top: 5px;
    text-align: left;

    img {
        display: block;
        margin-bottom: 5px;
    }
}

.float-right,
.flow-right,
div.right-image,
img.alignright {
    float: right;
    margin-left: rem-calc(20);
    margin-bottom: 20px;

    @media #{$small-only}{
        display: block;
        float: none;
        margin-left: 0px;
        width: 100%;
    }
}
.float-left,
.flow-left,
.left-image,
img.alignleft {
    float: left;
    margin-right: rem-calc(20);
    margin-bottom: 20px;

    @media #{$small-only}{
        display: block;
        float: none;
        margin-left: 0px;
        width: 100%;
    }
}
img.alignleft,
img.alignright{
    width: 50% !important;

    @media #{$small-only}{
        display: block;
        float: none;
        margin-left: 0px;
        width: 100%;
    }
}
p.float-left,
p.flow-left,
p.left-image{
    float: none;
}
// div.right-image,
// img.right-image,
// div.left-image,
// img.left-image{
//     max-width: 50%
// }

.caption-wrap.left-image-wrap{
    float: left;
    margin: 25px 25px 25px 0px;
    width: 50%;

    @media #{$small-only}{
        display: block;
        float: none;
        margin-left: 0px;
        width: 100%;
    }

    img{
        margin: 0px;
        padding: 0px;
        max-width: 100%;
        width: 100%;
    }
}
.caption-wrap.right-image-wrap{
    float: right;
    margin: 25px 0px 25px 25px;
    width: 50%;

    @media #{$small-only}{
        display: block;
        float: none;
        margin-left: 0px;
        width: 100%;
    }

    img{
        margin: 0px;
        padding: 0px;
        max-width: 100%;
        width: 100%;
    }
}
.caption-wrap.center-image-wrap{
    float: left;
    margin: 25px 0px;
    text-align: center;
    width: 100%;

    img{
        margin: 0px;
        padding: 0px;
        max-width: 100%;
        // width: 100%;
    }
}

.featured-image {
    clear: right;
    float: right;
    padding: 2px;
    margin: 0 0 15px 15px;
    width: 40%;

    @media #{$small-only}{
        display: block;
        float: none;
        margin-left: 0px;
        width: 100%;
    }

    p {
        font-style: italic;
        font-size: 0.9em;
        padding-top: 5px;
        text-align: left;
        width: 100%;
        line-height: 1.2;
    }


    img {
        width: 100%;
    }

}

.caption-inner{
    background: none;
    border: 0px;
    float: right;
    max-width: 50%;
    padding-left: 0px;
}


