/* Captions*/

p.caption {
    float: right;
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
    margin: 15px;
    // width: 100%;

    img {
        display: block;
        margin-bottom: 5px;
    }
}

.float-right, .flow-right {
    float: right;
    margin-left: rem-calc(20);
}
.float-left, .flow-left {
    float: left;
    margin-right: rem-calc(20);
}

.featured-image {
    clear: right;
    float: right;
    padding: 2px;
    margin: 0 0 15px 15px;
    width: 40%;

    @media #{$small-only}{
        float: none;
        margin-left: 0px;
        width: 100%;
    }

    p{
        font-style: italic;
        font-size: 0.9em;
        text-align: center;
        width: 100%;
    }

    .right-image {
        float: right;
        clear: right;
        margin: 20px 0 20px 20px;
    }

    img{
        width: 100%;
    }

}
