/*begin footer*/
body{
	background: $footer-bg-color;
}
footer {
	background: $footer-bg-color;
	margin-top: 20px;
	padding-top: $footer-padding-top;

	p,h2,h3,h4,h5,i{
		color: $footer-font-color;
	}
	h2{
		color: #777;
		font-size: 1rem;
		font-weight: bold;
		text-transform: uppercase;
	}
	h3 {
		font-size: (($h3-font-size)*.90);
	}
	h4 {
		font-size: (($h4-font-size)*.90);
	}
	p, li {
		font-size: (($paragraph-font-size)*.90);
		line-height: 1.3;
	}
	li {
		list-style-position: outside;
		padding-bottom: rem-calc(5);
	}
	a{
		color: $footer-font-color;
	}
	ul {
		list-style-type: none;
		margin: 0 0 rem-calc(10) 0;
		padding: 0px;
	}
	hr{
		background: darken($footer-font-color, 50%);
		border: 0px;
		height: 1px;
	}
	a:hover{
		color: #FFF;
	}

	#footer{
		@include grid-row;
		padding: 0px rem-calc(10);
		padding-bottom: 20px;

		#f-address{

			@media #{$small-only} {
				margin-bottom: rem-calc(20);
			}

			@media #{$medium-up}{
				@include grid-column(4);
				padding-left: 0px;
				padding-bottom: rem-calc(30);
			}

			h3{
				margin-bottom: rem-calc(5);
				margin-top: rem-calc(20);
			}

			p {
				line-height: 1.3;
			}
		}

		#f-libraries{
			@media #{$medium-up}{
				@include grid-column(4);
			}
			margin-bottom: rem-calc(20);

			h2{

				a{
					color: #777;
				}
			}
		}

		#f-lib-links{
			margin-bottom: rem-calc(30);
		}

		#f-social{

			@media #{$medium-up} {
				@include grid-column(4);

				a {
					font-size: (($paragraph-font-size)*1.25);
				}
			}

			.giving {
				margin-bottom: rem-calc(20);
				display: block;
			}
			i {
				font-weight: normal;
				width: rem-calc(25);
				text-align: center;
				padding-right: rem-calc(8);
			}

			a:hover i {
				color: #FFF;
			}
		}
	}
}
/*end footer*/


