/*begin footer*/
footer {
	background: $footer-bg-color;
	padding-top: $footer-padding-top;

	p,h2,h3,h4,h5, i{
		color: $footer-font-color;
	}
	a{
		color: $footer-font-color;
	}
	a:hover{
		color: #FFF;
	}

	#footer{
		@include grid-row;
		padding: 0px emCalc(15);
		padding-bottom: 20px;



		#f-address{
			@media #{$small} {
				@include grid-column(4);
				border-right: 1px solid darken($footer-font-color, 30%);
				height: 300px;
				padding-left: 0px;
				padding-bottom: emCalc(30);
			}
		}

		#f-libraries{
			@media #{$small} {
				@include grid-column(4);
				border-right: 1px solid darken($footer-font-color, 30%);
				height: 300px;
			}
			padding-bottom: emCalc(30);

			ul{
				list-style-type: none;
				margin: 0px;
				padding: 0px;
			}
		}

		#f-social{
			@media #{$small} {
				@include grid-column(4);
				height: 300px;
			}
			padding-bottom: emCalc(30);

			i{
				font-weight: normal;
			}

			@media #{$small}{
				a{
					font-size: 1.5em;
				}
			}
			a:hover i{
				color: #FFF;
			}
		}

		#f-util{
			@include grid-row;

			ul#util-links{
				@include grid-column(12);
				margin-left: 0px;
				padding: 15px 0px;
				text-align: center;


				li{
					border-left: 1px solid darken($footer-font-color, 20%);
					display: inline-block;
					line-height: 0.8em;
					margin: 0px 5px;
					padding: 0px 0px 0px 10px;

					a{
						font-size: 0.8em;
					}
				}
				li:first-child{
					border-left: 0px;
					margin-left: 0px;
					padding-left: 0px;
				}
			}
		}
	}
}
/*end footer*/


