div.workbench-info-block{
    display: none;
}

// htdocs
#page, .page{
    background: #FFF;
    margin-bottom: 40px;
}

.l-main {
    background-color: #fff;
}

h1{ font-size: $h1-font-size; margin-top: 0px; }
h2{ font-size: $h2-font-size;}
h3{ font-size: $h3-font-size;}
h4{ font-size: $h4-font-size;}
h5{ font-size: $h5-font-size;}
h6{ font-size: $h6-font-size;}

a:hover, a:focus{
    text-decoration: $anchor-text-hover-decoration;
}

// begin page styles
html #content{
    background: #FFF;
    margin: 0px;
    padding: rem-calc(50 0 30 0);

    @media #{$small-only}{
        padding-top: 0px;
        margin-top: 0px;
    }
}

// main
.main {}

.content .featured-image{
    @media #{$small}{
        margin-left: 0px;
    }

    p{
        background: none;
        color: #555;
        padding: 15px 0px;
    }

    img{
        width: 100%;
    }
}
// end page styles

.skip-link {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:scroll;
    z-index:-999;
}
.skip-link:focus, .skip-link:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}






// begin global UI style overwrite
dl.tabs{
    dd.active{
        border-left: 0px solid $border-color;
        border-bottom: 1px solid #FFF;

        @media #{$small-only}{
            border-left: 1px solid $border-color;
        }
    }
    dd:first-child{
        border-left: 1px solid $border-color;
    }
    dd{
        border-bottom: 1px solid $border-color;
        border-right: 1px solid $border-color;
        border-top: 1px solid $border-color;

        @media #{$small-only}{
            border-left: 1px solid $border-color;
        }

        a{
            padding: rem-calc(12);
        }
    }
}

div.tabs-content{
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-top: 1px solid $border-color;
    padding: 0px rem-calc(16);
}

dl.tabs.vertical{
    dd.active{
        border-bottom: 1px solid $border-color;
        border-right: 1px solid #FFF;
        position: relative;

        @media #{$small-only}{
            border-bottom: 0px;
            border-right: 1px solid $border-color;
            top: 1px;
        }
    }
    dd:first-child{
        border-left: 1px solid $border-color;
        border-right: 0px;
        border-top: 1px solid $border-color;
    }
    dd{
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        border-top: 0px solid $border-color;

        @media #{$small-only}{
            border-bottom: 0px solid $border-color;
            border-top: 1px solid $border-color;
            float: left;
        }

        a{
            padding: rem-calc(12);
        }
    }
}

// accordions
.accordion{
    margin-bottom: rem-calc(30);

    dd{
        border-bottom: 1px solid $border-color;

        a{
            border-left: 1px solid $border-color;
            border-right: 1px solid $border-color;
        }

        .content{
            border-left: 1px solid $border-color;
            border-right: 1px solid $border-color;
            border-top: 1px solid $border-color;
        }
    }

    dd:first-child{
        border-top: 1px solid $border-color;
    }
}

// end global UI style overwrite

// hacky way to prevent mobile devices from zooming in on input elements
@media #{$small}{
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"] { font-size: 1em !important; border-radius: 0px;}
}
// ensure there is no border radius on iOS devices
input[type="submit"]{
    border-radius: 0px;
}

body .panel.callout{
    border: 0px solid #CCC;
    background: #f5f5f5;
}

// begin subnav
dl.sub-nav{
    background: none;
    border-bottom: 1px solid $border-color;
    left: 0;
    margin: 0px 0px rem-calc(20) 0px;
    padding-bottom: rem-calc(10);
    text-align: center;

    @media #{$small-only}{
        margin-left: -1rem;
    }

    dd{
        display: inline-block;
        float: none;
        margin-bottom: 0px;
    }
}
// end subnav


// code
code{
    background: $secondary-color;
    display: inline-block;
    line-height: 1.5em;
    margin-bottom: rem-calc(30);
    padding: rem-calc(20);
    width: 100%;
}

/*sidenav*/
.side-nav{

    h2,h3,h4,h5,h6{
        font-size: $side-nav-heading-size;
        margin-top: 0px;
        text-transform: uppercase;
    }

    li{

        ul{
            margin-top: rem-calc(7);
            list-style-type: none;

            li{
                a{
                    font-size: rem-calc(14);
                }
            }
        }
    }
}
/*sidenav*/


// top bar
.top-bar-section .has-form{
    padding-top: 10px;
}


