/*begin nav styles*/
body.nav-expanded{
	left: -83%;
	padding-top: 0px;

	.top-bar.expanded{
		overflow: visible;
	}
	nav.top-bar .top-bar-section{
		position: absolute;
		top: 0px;
		width: 100%;
		z-index: 9999;

		ul#my-menu{
			background: lighten($primary-color-b, 15%);
			position: absolute;

			@media #{$small} {
				background: lighten($topbar-bg, 4%);
			}

			li a{
				background: lighten($primary-color-b, 15%);

				@media #{$small} {
					background: lighten($topbar-bg, 4%);
				}
			}

			li ul{
				background: lighten($primary-color-b, 10%);

				@media #{$small} {
					background: lighten($topbar-bg, 4%);
				}

				li{
					background: lighten($primary-color-b, 10%);

					@media #{$small} {
						background: lighten($topbar-bg, 4%);
					}

					a{
						background: lighten($primary-color-b, 10%);

						@media #{$small} {
							background: lighten($topbar-bg, 4%);
						}
					}
				}
			}
		}
	}
}
body.is-sticky{
	padding-top: $topbar-height + 30;
}
body.nav-open{
	padding-top: 0px;
}
/*end nav styles*/


/*begin header*/
header{
	margin-top: -3px; /* fix the spacing problem with the University nav iframe */
	background: $primary-color;
	margin-bottom: emCalc(30);
	margin-top: emCalc(-3);

	nav.top-bar{
		@include grid-row;

		.title-area .name{
			padding-left: emCalc(15);
			padding-top: emCalc(14);
			width: 248px;

			@media #{$small} {
				padding-top: 12px;
				width: 261px;
			}
			@media #{$medium} {
				padding-top: 6px;
				width: 348px;
			}

			.name a{
				display: block;
				height: 100%;
			}
		}
		.top-bar-section{
			@media #{$small} {
				padding-right: emCalc(0);
			}
			ul#my-menu{
				background: $topbar-dropdown-bg;
				padding-bottom: emCalc(20);
				@media #{$small} {
					background: $primary-color;
					padding-bottom: emCalc(0);
				}

				li{
					@media #{$small} {
						border: none;
						margin-top: 13px;
						max-width: 250px;
					}

					background: $primary-color;

				}
				li > a{
					@media #{$small} {
						padding: 0px emCalc(20);
						line-height: $topbar-height - 13;
					}
					text-transform: uppercase;
				}
				li > a:after{
					border: 0px;
					padding: 0px;
				}
				li:hover > a, li:hover{
					@media #{$small} {
						background: $topbar-dropdown-bg;
					}
				}
				li ul{
					@media #{$small} {
						background: $topbar-dropdown-bg;
						display: none;
						height: 100px;
						left: 0;
						opacity: 0.95;
						padding: emCalc(20);
						position: absolute;
						width: 100%;
						z-index: 999;
					}

					li{
						background: $topbar-dropdown-bg;
						display: block;
						margin-top: 0px;
						padding: 0px emCalc(25);

						@media #{$small} {
							left: 49%;
							position: relative;
						}

					}
					li:last-child{
						border-bottom: none;
					}
					li:hover{
						@media #{$small} {
							background: none;
						}
					}
					li a{
						background: none;
						font-size: 0.875em;
						line-height: 1.6em;
						margin-top: emCalc(0);
						padding: 0px;
						@media #{$small} {
							padding: emCalc(1) emCalc(10);
						}
						text-transform: capitalize;
					}
					li a:hover{
						@media #{$small} {
							background: darken($topbar-dropdown-bg, 15%);
						}
					}
				}
				li:hover ul{
					display: block;
				}
			}
		}
	}
}
header.sticky{
	position: fixed;
	top: 0px;
	z-index: 99;
}

header#minimum-bar{
	height: 45px;

	.top-bar{
		height: 45px;

		.name{
			height: 45px;
			padding: 5px 0px 0px emCalc(15);
			width: 248px;
		}

		.top-bar-section a{
			line-height: 45px;
		}
	}
}
/*end header*/

