body.is-sticky{
	padding-top: $topbar-height + 30;
}
body.nav-open{
	padding-top: 0px;
}
body.nav-expanded{
	left: -80%;
	position: absolute;

	#mobile-nav{
		float: right;
		left: 100%;
		position: absolute;
		top: 0px;
	}
}
/*end nav styles*/

/*begin mobile nav*/
#mobile-nav{
	background: $topbar-dropdown-bg;
	display: none;
	padding: 0 10%;
	width: 80%;

	#primary-nav-mobile{

		ul#primary-nav{
			border-bottom: 1px solid darken($topbar-link-color, 65%);
			float: none;
			list-style-type: none;
			margin: 10% 0 0 0;

			li{

				a{
					color: darken($topbar-link-color, 20%);
					display: block;
					font-size: 1.3em;
					padding: 0px 0px emCalc(20);
					text-transform: uppercase;
				}

				a:hover{
					text-decoration: none;
				}
			}
		}
	}

	#utility-links{
		ul{
			float: none;
			list-style-type: none;
			margin: 10% 0 0 0;

			li{

				a{
					color: darken($topbar-link-color, 20%);
					display: block;
					font-size: 0.9em;
					padding: 0px 0px emCalc(15);
					text-transform: uppercase;
				}
			}
		}
	}
}


/*begin header*/
header{
	margin-top: -3px; /* fix the spacing problem with the University nav iframe */
	background: $primary-color;
	margin-top: emCalc(-3);

	nav.top-bar{
		@include grid-row;

		.title-area .name{
			padding-left: emCalc(15);
			padding-top: emCalc(22);
			width: 200px;

			@media #{$mobile}{
				float: left;
			}

			@media #{$small} {
				padding-top: emCalc(14);
				width: 250px;
			}
			@media #{$medium} {
				padding-top: emCalc(6);
				width: 348px;
			}

			.name a{
				display: block;
				height: 100%;
			}
		}

		#search-toggle{
			display: none;
			float: right;
			text-align: center;

			@media #{$mobile}{
				display: block;
			}

			a{
				display: block;
				height: $topbar-height;
				padding-top: emCalc(21);
				width: 44px;
			}

			i{
				color: #FFF;
				font-size: 1.5em;
				font-weight: 100;
			}
		}

		#nav-toggle{
			@media #{$small}{
				display: none;
			}
			float: right;
			text-align: center;

			a{
				display: block;
				height: $topbar-height;
				padding-top: emCalc(21);
				width: 44px;
			}

			a:hover, a:focus, a:active{
				background: none;
			}

			i{
				color: #FFF;
				font-size: 1.5em;
				font-weight: 100;
			}
		}

		.top-bar-section{
			@media #{$small} {
				padding-right: emCalc(0);
			}
			ul#primary-nav{
				background: $topbar-dropdown-bg;
				float: right;
				padding-bottom: emCalc(20);

				@media #{$small} {
					background: $primary-color;
					padding-bottom: emCalc(0);
				}

				li{
					@media #{$small} {
						border: none;
						margin-top: 13px;
						max-width: 250px;
					}

					background: $primary-color;

				}
				li > a{
					@media #{$small} {
						padding: 0px emCalc(20);
						line-height: $topbar-height - 13;
					}
					text-transform: uppercase;

				}

				li > a:hover{
					background: none;
					// background: $topbar-dropdown-bg;
					text-decoration: none;
				}

				li > a:after{
					border: 0px;
					padding: 0px;
				}
				li a.open{
					@media #{$small} {
						background: $topbar-dropdown-bg;
					}
				}
			}
		}
	}
}
body.front header nav.top-bar #search-toggle{
	display: none;
}

header.sticky{
	position: fixed;
	top: 0px;
	z-index: 99;
}

header#minimum-bar{
	height: 45px;

	.top-bar{
		height: 45px;

		.name{
			height: 45px;
			padding: 5px 0px 0px emCalc(15);
			width: 248px;
		}

		.top-bar-section a{
			line-height: 45px;
		}
	}
}
/*end header*/

/*begin dropdown menus*/
#primary-nav-menus{
	background: $topbar-dropdown-bg;
	opacity: 0.96;
	position: absolute;
	width: 100%;
	z-index: 13;

	.primary-menu-list{
		@include grid-row;
		display: none;
		padding: 25px 0px;

		ul{
			@include grid-column(3, null, null, null, 6);
			margin: 0px;
			padding: 0px;

			li{
				display: block;
				margin-top: 0px;
				padding: 0px 0px;
			}
			li:last-child{
				border-bottom: none;
			}
			li:hover{
				@media #{$small} {
					background: none;
				}
			}
			li a{
				background: none;
				color: #FFF;
				display: block;
				font-size: 0.875em;
				line-height: 1.6em;
				margin-top: emCalc(0);
				padding: 0px;
				@media #{$small} {
					padding: emCalc(0) emCalc(10);
				}
				text-transform: capitalize;
			}
			li a:hover{
				@media #{$small} {
					text-decoration: underline;
					/*background: darken($topbar-dropdown-bg, 15%);*/
				}
			}
		}
	}

	.primary-menu-list.open{
		display: block;
	}
}
/*end dropdown menus*/

/*begin utility*/
#utility{
	background: $topbar-dropdown-bg;
	margin-bottom: emCalc(15);

	@media #{$small}{
		margin-bottom: emCalc(20);
	}

	#utility-bar{
		@include grid-row;

		#home-hours{
			float: left;
			padding-left: 0px;
			width: 100%;

			@media #{$mobile}{
				padding: emCalc(5) emCalc(15);
			}

			@media #{$small}{
				background: $topbar-dropdown-bg;
				float: left;
				margin-left: emCalc(14);
				width: auto;
			}

			p#hours-title{
				color: #aaa;
				float: left;
				font-size: 0.8em;
				font-weight: bold;
				line-height: emCalc(27);
				margin-bottom: 0px;
				margin-right: 5px;
				padding-left: emCalc(0);

				@media #{$mobile}{
					height: 40px;
					line-height: emCalc(20);
					margin-right: 5%;
					padding-left: 0px;
					width: 18%;
				}

				a{
					color: #aaa;
				}

				a:hover{
					text-decoration: underline;
				}
			}
			ul{
				@media #{$mobile}{
					padding-right: 0px;
					width: 77%;
				}
				display: inline;
				float: left;
				list-style-type: none;
				margin: 0px 0px 0px 0px;
				padding-right: emCalc(10);

				li{
					@media #{$medium}{
						float: left;
						padding: 5px 0px;
					}
					padding: 4px 0px;

					a{
						@media #{$medium}{
							border-left: 1px solid #FFF;
							margin: 0px 0px 0px 10px;
						}
						color: #FFF;
						display: block;
						font-size: 0.8em;
						line-height: 1em;
						padding: 0px 0px 0px 10px;
					}
					a:hover{
						text-decoration: underline;
					}

					@media #{$mobile}{
						.hours{
							float: right;
							font-weight: bold;
						}
					}
				}
				li:first-child a{
					border-left: 0px;
					margin-left: 0px;
				}
			}
		}

		#utility-search{
			// @include grid-column(6);
			padding-left: emCalc(15);

			#search-form{
				margin: 0px;
			}

			@media #{$mobile}{
				display: none;
				padding: emCalc(15);
				width: 100%;
			}

			@media #{$medium}{
				padding-right: 0px;
				width: 45%;
			}

			#search-all{
				@media #{$mobile}{
					border-radius: 0px;
					height: 50px;
					margin-bottom: emCalc(10);
					width: 100%;
				}

				@media #{$small}{
					float: left;
					height: 25px;
					margin-bottom: 0px;
					padding: 0px 10px;
					transition: height 0.5s, width 0.5s;
					-moz-transition: height 0.5s, width 0.5s;
					-webkit-transition: height 0.5s, width 0.5s;
					transition-delay: 0.25s;
					-moz-transition-delay: 0.25s; /* Safari */
					-webkit-transition-delay: 0.25s; /* Safari */
					width: 235px;
				}
			}
			#search-all:focus, #search-all.active{
				@media #{$small}{
					height: 40px;
					width: 290px;
				}
				@media #{$medium}{
					height: 40px;
					width: 335px;
				}
			}

			#search-submit{
				@include button;

				@media #{$mobile}{
					float: right;
					margin: 0px 0px emCalc(9) 0px;
				}

				@media #{$small}{
					background: #990000;
					border: 0px;
					color: #FFF;
					float: left;
					font-size: 0.7em;
					font-weight: normal;
					height: 25px;
					margin-bottom: 0px;
					padding: 0px 10px;
					transition: height 0.5s;
					-moz-transition: height 0.5s;
					-webkit-transition: height 0.5s;
					transition-delay: 0.25s;
					-moz-transition-delay: 0.25s; /* Safari */
					-webkit-transition-delay: 0.25s; /* Safari */
				}
			}
			#search-all:focus + #search-submit, #search-submit.active{
				@media #{$small}{
					height: 40px;
				}
			}
			#search-submit:hover{
				background: darken(#990000, 10%);
			}
		}

		#utility-links{
			@include grid-column(12);
			padding-left: 0px;

			@media #{$mobile}{
				display: none;
			}

			@media #{$small}{
				float: right;
				width: auto;
			}

			ul{
				list-style-type: none;
				float: right;
				margin: 0px;

				li{
					float: left;
					margin-top: emCalc(4);

					a{
						border-left: 1px solid #555555;
						color: #CCC;
						display: block;
						font-size: emCalc(12);
						margin-left: emCalc(10);
						padding: 0px 0px 0px emCalc(10);
					}
					a:hover{
						text-decoration: underline;
					}
				}
				li:first-child a{
					border-left: 0px;
				}
			}
		}
	}
}
/*end utility*/

