/*begin tier one*/
#tier-one{
	@include grid-row;
}
/*begin tabs */
/*main search*/
#search-tabs{
	@include grid-column(12);
	padding: 0px;

	h2{
		color: $primary-color;
		font-size: emCalc(22);
	}

	@media #{$small}{
		@include grid-column(6);
		padding-left: 0px;
	}
	p.title a:hover{
		text-decoration: none;
	}
}
#searcheverything{
	@include grid-row;
}
.search-body{
	padding: 0px;
	width: 100%;

	label{
		float: left;
		width: 100%;
	}
}
#searchall{
	@include grid-column(12);

	@media #{$mobile}{
		margin-bottom: emCalc(10);
	}

	@media #{$small}{
		@include grid-column(10);
	}

	height: 3.5em;
	margin-bottom: 0px;
}
#all-submit{

	@media #{$mobile}{
		@include grid-column(5, false, false, false, false, false, false, right);
		@include button($button-tny);
		margin: 0px;
	}

	@media #{$small}{
		@include grid-column(2);
		font-size: 0.7em;
		height: 49px;
		padding: 0px;
	}

	height: 3.79em;
	margin-bottom: 0px;
}
#research-options{
	@include grid-row;
	font-size: 0.75em;
	margin-bottom: emCalc(20);
	margin-top: emCalc(10);
	padding-left: 5px;

	h6{
		display: inline;
		float: left;
		font-weight: bold;
		line-height: 1.5em;
		margin-right: emCalc(10);

		@media #{$mobile}{
			@include grid-column(12);
			padding-left: 0px;
		}
	}

	ul{
		@include inline-list;
		margin-left: 5px;
		margin-top: 5px;
		// display: inline-block;

		li{
			border-left: 1px solid #DDD;
			margin-left: emCalc(10);
			padding-left: emCalc(10);
		}

		li:first-child{
			border-left: 0px;
			margin-left: 0px;
			padding-left: 0px;
		}
	}
}
/*articles*/
#search-articles-summon{
	@include grid-row;
}
#searcharticle{
	@include grid-column(12);

	@media #{$small}{
		@include grid-column(10);
	}
	height: 3.5em;
	margin-bottom: emCalc(5);
}
#article-submit{
	@media #{$mobile}{
		@include grid-column(5, false, false, false, false, false, false, right);
		@include button($button-tny);
		margin: 0px;
	}

	@media #{$small}{
		@include grid-column(2);
		font-size: 0.7em;
		height: 49px;
		padding: 0px;
	}
	margin-bottom: emCalc(5);
	height: 3.79em;
}
.search-example{
	@include grid-column(12);

	@media #{$small}{
		@include grid-column(9);
	}

	color: rgba(0, 0, 0, 0.5);
	font-size: 0.7em;
	padding-left: 0px;
}
#websitesearch .search-example{
	display: inline-block;
	float: none;
	margin-bottom: 0px;
}
#searcharticleadvanced{
	@include grid-column(12);

	@media #{$small}{
		@include grid-column(3);
	}

	border: 1px solid #DDD;
	margin-bottom: emCalc(15);
	padding: 5px;
}
.search-more{
	float: left;
	margin-bottom: 0px;
	padding-left: 0px;
}
/*Books/Media*/
#books-media-search{
	@include grid-column(12);

	@media #{$small}{
		@include grid-column(10);
	}
	height: 3.5em;
	margin-bottom: emCalc(5);
}
#searchbookssubmit{
	@include grid-column(12);

	@media #{$small}{
		@include grid-column(2);
		font-size: 0.7em;
		height: 49px;
		padding: 0px;
	}

	height: 3.79em;
	margin-bottom: emCalc(5);
}
#books-more-options-drop{
	@include grid-column(12);

	@media #{$small}{
		@include grid-column(3);
	}

	border: 1px solid #DDD;
	margin-bottom: emCalc(15);
	padding: 5px;
}
/*search website*/
#searchweb{
	@include grid-column(12);

	@media #{$small}{
		@include grid-column(10);
	}

	height: 3.5em;
	margin-bottom: emCalc(5);
}
#web-submit{
	@include grid-column(12);

	@media #{$small}{
		@include grid-column(2);
		font-size: 0.7em;
		height: 49px;
		padding: 0px;
	}

	margin-bottom: emCalc(5);
	height: 3.79em;
}

/*end tabs*/

/*begin quicklinks*/
#home-quicklinks{
	@include inline-list;
	list-style-type: none;
	margin: 0px;

	li{
		margin-left: 0px;
		margin-left: emCalc(45);

		h5{
			font-weight: bold;
			margin-bottom: 0px;
		}
	}

	li:first-child{
		margin-left: 0px;
	}

	ul{
		@include side-nav;

		li{
			margin-bottom: 0px;
		}
	}
}
/*end quicklinks*/

/*begin artbox*/
#home-artbox{
	@include grid-column(12);

	@media #{$mobile}{
		margin-bottom: emCalc(30);
		padding: 0px;
	}

	@media #{$small}{
		@include grid-column(6);
		padding-right: 0px;
	}

	.orbit-container .orbit-timer{
		top: 0px;
		width: 100%;
	}

	.orbit-container .orbit-prev,
	.orbit-container .orbit-next{
		height: 45px;
		margin-top: -50px;
		width: 30px;
	}
	.orbit-container .orbit-prev span{
		left: -8px;
	}
}
/*end artbox*/

/*end tier one*/

/*begin tier two*/
#tier-two{
	@include grid-row;
	margin-bottom: emCalc(30);

	h4 a{
		border-left: 1px solid #555;
		font-size: 0.5em;
		margin-left: emCalc(10);
		padding-left: emCalc(10);
	}

	h4 a:first-child{
		border: 0px;
		margin-left: 0px;
	}
}
/*begin availability*/
#availability{
	@include grid-row;

	.active .title{
		background: #f5f5f5;
		@media #{$small}{
			border-right: 0px;
		}

		a{
			color: #555;
			font-weight: bold;
		}

		a:hover{
			background: #f5f5f5;
			cursor: default;
			text-decoration: none;
		}
	}

	.title{
		background: #fff;
		border-bottom: 1px solid #CCC;
		font-size: 0.7em;

		a{
			color: $primary-color;
		}

		a:hover{
			background: #DDD;
		}
	}

	.content{
		background: #f5f5f5;

		ul{
			@include grid-row;
			list-style-type: none;
			margin: 0px;
			text-align: center;

			li{
				line-height: 1em;
				padding-top: 8px;

				@media #{$mobile}{
					height: 45px;
					text-align: left;
				}

				@media #{$small}{
					@include grid-column(4);
					display: inline-block;
				}

				.item{
					padding-right: 5px;
					position: relative;
					top: -3px;
				}

				.item a{
					text-transform: uppercase;
					@media #{$mobile}{
						font-size: 1em;
					}
					@media #{$small}{
						font-size: 1em;
					}
				}

				.item-count{
					color: #999;

					@media #{$mobile}{
						float: right;
					}
				}

				.count{
					color: #555;
					font-size: 2em;
				}
			}
		}
	}

	.section-container.vertical-tabs > section.active,
	.section-container.vertical-tabs > .section.active{
		padding-left: emCalc(139);
	}
}
/*end availability*/
/*end tier two*/


 /*begin tier-three*/
#tier-three{
	@include grid-row;
	margin-bottom: emCalc(40);
}

#story-1, #story-2{
	@include grid-column(12);
	margin-bottom: emCalc(20);
	padding: 0px;

	@media #{$small}{
		@include grid-column(4);
		padding-left: 0px;
		padding-right: emCalc(18);
	}

	.story-photo{
		margin-bottom: emCalc(15);
	}

	h2 {
		font-size: emCalc(28);
		line-height: 1.2em;

		a{
			color: inherit;
		}

		a:hover{
			color: $primary-color;
		}
	}
}
#story-2{
	@media #{$small}{
		padding-left: emCalc(7);
		padding-right: emCalc(10);
	}
}

#happenings{
	@include grid-column(12);
	padding: 0px;

	@media #{$small}{
		@include grid-column(4);
		padding-right: 0px;
	}

	#home-news, #home-events, #home-exhibits{
		float: left;
		margin-bottom: emCalc(25);
	}

	.happenings-photo{
		@include grid-column(6);
		padding-left: 0px;
		padding-right: 0px;
	}

	.happenings-content{
		@include grid-column(6);
		padding-right: 0px;

		h2{
			font-size: emCalc(26);
			line-height: 1em;
			margin-bottom: 5px;
			margin-top: 0px;
			text-transform: uppercase;

			a{
				color: inherit;
			}

			a:hover{
				color: $primary-color;
			}
		}

		p{
			font-size: 0.8em;
			line-height: 1.2em;
		}
	}
}

 /*end tier three*/



