@import "../components/list-styling";

/* begin global styles*/
div.workbench-info-block{
    display: none;
}

// htdocs
#page, .page{
    background: #FFF;
    margin-bottom: 40px;
}

.l-main {
    background-color: #fff;
}

@media #{$medium-up}{
    .one-sidebar.sidebar-second #main-content{
        padding-right: 40px;
    }
    .one-sidebar.sidebar-first #main-content{
        padding-left: 40px;
    }
    .two-sidebars #main-content{
        padding-left: 30px;
        padding-right: 30px;
    }
}

#content{

    h1{ font-size: $h1-font-size; margin-top: 0px; }
    h2{
        // color: $primary-color;
        font-size: $h2-font-size;

        a{
            color: #4C83AF;
        }
    }
    h3{
        font-size: $h3-font-size;
        font-weight: bold;

        a{
            color: #4C83AF;
        }
    }
    h4, h4.subheader{
        font-size: $h4-font-size*0.75;
        text-transform: uppercase;

        a{
            color: #4C83AF;
        }
    }
    h5{
        font-size: $h5-font-size;

        a{
            color: #4C83AF;
        }
    }
    h6{
        font-size: $h6-font-size;

        a{
            color: #4C83AF;
        }
    }
    p{
        margin-bottom: 1.4rem;
    }
    a{
        font-family: inherit;
    //     font-size: inherit;
        font-weight: normal;
    //     line-height: 1.6;
        text-rendering: optimizelegibility;
    }
    a:focus, select:focus, textarea:focus{
      outline-width: 1px !important;
      outline-style: dotted !important;
      outline-color: #999 !important;
    }
    a:hover{
        text-decoration: $anchor-text-hover-decoration;
    }

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 35px;
        height: 0;
        overflow: hidden;

        @media #{$small-only}{
            margin-bottom: 20px;
        }

        iframe {
            position: absolute;
            top:0;
            left: 0;
            // width: 100%;
            // height: 100%;
            @media #{$small-only}{
                height: 100% !important;
                width: 100% !important;
            }
        }
    }


}

// scope to content area
main {
    ul{
        @include styled-list;
    }
}





// begin page styles
html #content{
    background: #FFF;
    margin: 0px;
    padding: rem-calc(50 0 30 0);

    @media #{$small-only}{
        padding-top: rem-calc(20);
        margin-top: 0px;
    }
}

// end page styles

.skip-link {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:scroll;
    z-index:-999;
}
.skip-link:focus, .skip-link:active{
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}


//alert text
.alert-text{
    color: $primary-color;
}

// only when logged in to Drupal admin
body.page-admin .contextual-links-region{
    float: left;
    width: 100%;
}

// weird issue where a block floats over other content when logged into Drupal
// body.lo \gged-in .contextual-links-region{
    // float: left;
// }



