// Non-modular or client styles for the .l-content region.

div.workbench-info-block{
	display: none;
}

#page, .page{
	margin-bottom: 40px;
}
.l-main {
	background-color: #fff;
}

h1{
	margin-top: 0px;
}

// begin page styles
.content .featured-image{
	@media #{$mobile}{
		margin-left: 0px;
	}

	p{
		background: none;
		color: #555;
		padding: 15px 0px;
	}

	img{
		width: 100%;
	}
}
// end page styles
