/* NCSU Branding */
#ncsu_branding_container {
	background-color: #C00;  /* Other choices: #000, #a30d01, #5a5952, #000, #CC0000, #666; */
	height: 31px;
	margin-bottom: 0px;
}
#ncsu_branding {
	text-align: center;
	height: 31px;
}

#ncsu_logo {
	vertical-align: middle;
}
#anniversary_logo {
	 vertical-align: middle;
	 padding-left: 5px;
	 padding-right: 50px;
	 border-left: 1px solid #fff;

}
#ncsu_branding ul, #ncsu_branding ul li {
	display: inline;
}
#ncsu_branding li {
	font-size: 10px;
 	padding: 0 3px 0 5px;
	border-left: 1px solid #fff;
}
#ncsu_branding li.first {
	border-left-width: 0;
}
#ncsu_branding li a {
	color: #f7f6ee;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}
#ncsu_branding li a:hover {
	color: white;
}
/* End NCSU branding */
