@media print {
	// global
	body{
		margin: 0mm 0mm;
	}

    a[href]:after{
        content: '';
    }

    header,#utility{
        display: none;
    }

	.ncstate-utility-bar{
		display: none;
	}
    #utility-search{
        display: none;
    }

	// homepage
	#search-tabs,
	footer,
	.orbit-prev,
	.orbit-next,
	.feedback-form,
	#nav-toggle,
	#primary-nav,
    #tier-one,
    #tier-two{
		display: none;
	}

    // content
    #content{
        margin-top: 0px;

        #main-content{
            h1#page-title{
                font-size: 45px;
            }
            img{
                // display: none;
            }
        }
        ul.breadcrumbs{
            display: none;
        }
    }
    #social{
        display: none;
    }

    // tables
    table { page-break-inside:auto }

	// logo
	.name{
		display: none;
	}
	#logo{
		height: 40px;
	}

	// tabs
	.tabs-content > .content{
		display: block;
	}

	// orbit slider
	.orbit-container{

		.orbit-slides-container{
			height: auto !important;

			li{
				margin: 0px;
				position: relative;
			}
		}

		.orbit-slides-container > *{
			transform: none;
		}
	}

    // sidebars
    #post-sidebar,
    #subnav,
    .l-sidebar-first,
    .l-sidebar-second,
    .sidebar{
        display: none;
    }

    // drupal admin stuff
    .element-invisible,
    ul.tabs.primary,
    #toolbar.toolbar{
        display: none;
    }

    @page{
        margin: 7% 5%;
    }


}

