div#utility_bar * {
    margin:0;
    padding:0;
    text-align:left;margin:0 auto;
}

div#utility_bar {
    font-family:Arial,Helvetica,sans-serif;
    font-size:10px;
    background:#C00;
    min-height:31px;
    height:31px;
    text-align:left;margin:0 auto;

    @media #{$small-only}{
        display: none;
    }

    div#head_in {
        border: none;
        height: 31px;
        overflow: hidden;
        position: relative;
        width: 625px;
    }

    div.logo{
        background:url(/sites/all/themes/ncsulib_foundation/templates/includes/branding-bar/images/red_brick_old.gif) no-repeat 0px 2px;
        height: 31px;
        width: 165px;
        float: left;

        span a{
            width: 100px;
        }

        a{
            float:left; display: block;
            height:31px;
            overflow:hidden;
            text-indent:-9000px;
            width: 165px;
        }
    }

    #topnav {
        padding:6px 0 6px 20px;
        float:left;
        list-style:none;

        li {
            float:left;
            font-size:0.6em;
            text-transform:uppercase;
            padding:3px 8px 3px 7px;
            background:url(images/white_lines.gif) no-repeat right center;

            a {
                color:#FFF;
                text-decoration:none;
            }

            a:hover {
                text-decoration:underline;
            }
        }

        li.last {
            background:none;
            padding-right:0;
        }
    }
}



