html.js{
    margin-top: 0px !important;

    @media #{$small-only}{
        margin-top: 0px !important;
    }
}

div#toolbar{
    z-index: 9999;
}

body {

    &.logged-in{ //offset for drupal admin bar

        .ncstate-utility-bar{
            position: unset;
            top: 24px;
        }
    }

    .ncstate-utility-bar{
        background: $primary-color;
        height: 35px;
        margin-bottom: 00px;
        // position: absolute;
        // top: -40px;

        @media #{$small-only}{
            display: none;
        }

        input{
            margin: 0px;
        }
    }
}