.feedback-form {
  position: fixed;
  right: rem-calc(-84);
  @include rotate(270deg);
  margin: 0;
  overflow: hidden;
  padding: 10px;
  top: 57%;
  z-index: 9999;

  span {
    margin: 0;
    padding: 0;
    &.feedback-yes {
      border-right: 1px solid #fff;
      a:hover {
        background-color: #ac0000;
      }
    }
    a {
      padding: rem-calc(10 10 30 10);
      border-radius: 0.3em 0.3em 0 0;
      background-color: #ac0000;
      color: #fff;
      @include single-transition(background-color);

      &:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 1);
      }
    }
  }
}

@media #{$small-only} {
  .feedback-form {
    top: 77%;
    font-size: rem-calc(14);
  }
}
