.feedback-form {
  position: fixed;
  right: rem-calc(-73);
  @include rotate(270deg);
  margin: 0;
  overflow: hidden;
  padding: 5px;
  top: 57%;
  z-index: 9999;

  span {
    margin: 0;
    padding: 0;
    &.feedback-yes {
      a:hover {
        background-color: #ac0000;
      }
    }
    a {
      border-radius: 0px;
      background-color: #ac0000;
      color: #fff;
      font-size: 0.9rem;
      padding: rem-calc(5 5 30 5);
      @include single-transition(background-color);

      &:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 1);
      }
    }
  }
}

@media #{$small-only} {
  .feedback-form {
    top: 77%;
    font-size: rem-calc(14);
  }
}
