form.webform-client-form{

	input[type="text"],
	input[type="password"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="month"],
	input[type="week"],
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="time"],
	input[type="url"],
	textarea,
	select{
		width: auto;
	}

	/*form*/
	.webform-component{
	    margin: 0px 0px 20px 0px;

	    label:first-child {
	        font-weight: 700;
	        font-size: 17px;
	        margin-bottom: 13px;
	    }
	    .description {
	        font-style: italic;
	        padding: 7px;
	    }
	}
    .webform-component.webform-component-markup{
		// margin-bottom: -25px;
    }

	/* Adjust margin for form elements below */
	input[type="file"],
	input[type="checkbox"],
	input[type="radio"],
	select {
	  margin: 0;
	}


	// drupal form submit button
	.views-exposed-form .views-exposed-widget .form-submit{
	    margin-top: 1.85rem;
	}
}

/*arrange form module overrides*/
.webform-container-inline{

    select{
        width: auto;
    }
}
