// red bullets for content
@mixin styled-list{
	// if you want to add this to your list (for htdocs)
	line-height: 1.6em !important;
    list-style: none outside none !important;
    margin-left: 0.9rem !important;

    li{
    	list-style-position: outside !important;
        margin-bottom: 5px !important;

        ul{

        	li:before{
        		color: $secondary-color !important;
        	}
        }
    }

    >*:before{
        color: #CC0000 !important;
        content: "\f105" !important;
        font-family: "FontAwesome" !important;
        margin-left: -0.8em !important;
        padding-right: 0.5em !important;
    }
}

// Completely unstyle ul's
@mixin unstyled-list {
    margin-left: 0px !important;

    li:before{
        content: none !important;
        padding: 0px !important;
        margin: 0px !important;
    }
}

.styled-list{
	@include styled-list;
}



// white list these
#main-content ul.tabs.primary,
#main-content ul.contextual-links,
#main-content ul.inline-list,
#main-content ul.vcard,
#main-content .panel ul,
#main-content ul[class*='small-block-grid'],
#main-content ul[class*='medium-block-grid'],
#main-content ul[class*='large-block-grid'],
#main-content ul.pagination,
body.page-node main ul.unstyle-list,
body.html main ul.unstyle-list,
ul.unstyle-list,
ul.pager{
	@include unstyled-list;
}
