// project block (right column)
#content .sidebar .project-item{
	margin-bottom: 30px;

	.project-photo{
		// margin-bottom: 10px;
		// width: 100%;
		height: 100px;
		overflow: hidden;

	}

	h3 {
		margin-bottom: 5px;
		position:relative;
		width:100%;
	}

}
