// project block (right column)
#content .sidebar .project-item{
	margin-bottom: 30px;

	.project-photo{
		height: 165px;
		overflow: hidden;
	}

	.project-info{

		h4 {
			width:100%;
			position:relative;
		}

		h4 > a {
		    border-left: 20px solid #111;
		    color: #fff;
		    font-size: 1rem;
		    left: -5px;
		    line-height: 1.14;
		    padding: 11px 0px;
		    position: absolute;
		    text-decoration: none;
		    text-transform: uppercase;
		    top: -150px;
		}
		h4 > a > span {
		    background: #111;
		    padding: 10px 0px;
		}
		h4 > a > span > span {
		    left: -10px;
		    position: relative;
		}
	}

}
