#ask_us{
    background: #FFF url('/sites/default/files/files/images/ask_us_red.png') no-repeat center -20px;
    background-size: 75%;
    border: 1px solid #CCC;
    padding: 10px;
    text-align: right;
    width: 100%;

    a{
        margin-bottom: 0px;
        margin-top: 134px;
        padding: 5px 11px;
    }
}