.page-node-462,
.page-node-507,
.page-node-508,
.page-node-509,
.page-node-27285{

    #sitewide-notice{
        display: none;
    }
}
#sitewide-notice{
    width:100%;
    background-color:#fff;
    padding-top:20px;

    .alert-box{
        margin-bottom: 0px;

        @media #{$small-only}{
            padding-right: 0.875rem
        }
    }

    .notice-icon{
        @include grid-column(1);

        @media #{$small-only}{
            display: none;
        }
    }
    .success{
        .notice-icon:before {
            content: "\f0a4";
            font-family: "FontAwesome";
            font-size: 3rem;
            line-height: 3.5rem;
        }
    }
    .alert{
        .notice-icon:before {
            content: "\f071";
            font-family: "FontAwesome";
            font-size: 3rem;
            line-height: 3.5rem;
        }
    }
    .notice-body{
        @include grid-column(11);

        h1,h2,h3,h4,h5,h6{
            margin-top: 0px;
            padding-top: 0px;
        }

        @media #{$small-only}{
            width: 100%;

            h1,h2,h3,h4,h5,h6{
                font-size: 1.5rem;
            }
        }
    }
    .notice-date{
        bottom: 5px;
        font-style: italic;
        position: absolute;
        right: 10px;
        text-align: right;

        p{
            font-size: 0.65rem;
            margin:0px;

            h1,h2,h3,h4,h5,h6{
            margin-top: 0px;
            padding-top: 0px;
        }
        }
    }
}