/* DV: By the Numbers */
/**
 * This file is used for extending existing type styles into custom css
 */
/* Typography resets */
/* Default Link Styles */
/* Default paragraph styles */
/* Default header styles */
/* Helpful Typography Defaults */
/* Lists */
/* Unordered Lists */
/* Ordered Lists */
/* Definition Lists */
/* Abbreviations */
/* Blockquotes */
/* Microformats */
/* line 7, ../../../scss/custom/bythenumbers.scss */
.view {
  width: 100%;
  margin: 0;
  max-width: 62.5rem;
  overflow: hidden;
  *zoom: 1;
}
@media only screen and (min-width: 48em) {
  /* line 10, ../../../scss/custom/bythenumbers.scss */
  .view .views-row.dataviews {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 33.33333%;
    float: left;
    background-clip: content-box;
    margin-bottom: 1.875rem;
  }
}
