/* line 1, ../../../scss/custom/events.scss */
.event-item {
  margin-bottom: 30px;
}

/* used when no events are present */
/* line 5, ../../../scss/custom/events.scss */
.view-empty {
  margin: 57px 0 0 66px;
  color: #AAA;
}

/* line 9, ../../../scss/custom/events.scss */
.date-display-single, .views-field-field-space, .grey {
  color: #999999;
}

/* line 12, ../../../scss/custom/events.scss */
.block {
  line-height: 1;
}

/* line 15, ../../../scss/custom/events.scss */
#block-system-main, #node-13445 {
  margin-bottom: 0;
}

/*calendar styles*/
/* line 21, ../../../scss/custom/events.scss */
.page .calendar-calendar th.mini,
.page .calendar-calendar td.mini {
  background: #FFF;
  border: 0px;
  padding: 10px 0px;
  text-align: center;
  width: 14.2857142%;
}

/* line 28, ../../../scss/custom/events.scss */
.page .calendar-calendar td.mini.today {
  border: 1px solid #DDD;
}

/* line 31, ../../../scss/custom/events.scss */
.view .date-nav-wrapper .date-heading h3 {
  font-size: 1em;
}

/* line 34, ../../../scss/custom/events.scss */
.page .calendar-calendar td.mini a {
  text-decoration: none;
}

/* line 38, ../../../scss/custom/events.scss */
.page #subnav .date-nav {
  padding: 0px;
}

/* line 41, ../../../scss/custom/events.scss */
.page #subnav .date-nav ul li {
  border-bottom: none;
}

/* line 44, ../../../scss/custom/events.scss */
.page #subnav .date-nav .date-prev {
  background: none;
  float: left;
  margin: 0px;
}

/* line 49, ../../../scss/custom/events.scss */
.page #subnav .date-nav .date-prev a {
  margin-left: 8px;
}

/* line 52, ../../../scss/custom/events.scss */
.page #subnav .date-nav .date-next {
  background: none;
  margin: 0px;
  top: 0px;
}

/* line 57, ../../../scss/custom/events.scss */
.page #subnav .date-nav .date-next a {
  /*float: left;*/
  margin: 0px;
  padding: 0 8px 0px 1px;
}

/* line 62, ../../../scss/custom/events.scss */
.calendar-calendar th.days {
  background: #fff;
  border: 0px;
}
