/**
 * This file is used for extending existing type styles into custom css
 */
/* Typography resets */
/* Default Link Styles */
/* Default paragraph styles */
/* Default header styles */
/* Helpful Typography Defaults */
/* Lists */
/* Unordered Lists */
/* Ordered Lists */
/* Definition Lists */
/* Abbreviations */
/* Blockquotes */
/* Microformats */
/* line 6, ../../../scss/custom/events--classes.scss */
.views-row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  *zoom: 1;
  margin-bottom: 0.625rem;
}
/* line 145, ../../../scss/foundation/components/_global.scss */
.views-row:before, .views-row:after {
  content: " ";
  display: table;
}
/* line 146, ../../../scss/foundation/components/_global.scss */
.views-row:after {
  clear: both;
}

/* line 10, ../../../scss/custom/events--classes.scss */
.views-field-title {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 33.33333%;
  float: left;
}

/* line 13, ../../../scss/custom/events--classes.scss */
.views-field-field-time {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 33.33333%;
  float: left;
}

/* line 16, ../../../scss/custom/events--classes.scss */
.views-field-field-space {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 33.33333%;
  float: left;
}
