/* begin global styles */
/* line 11, ../../../scss/custom/home.scss */
.front #utility {
  margin: 0px;
  padding: 0px;
}
@media only screen and (max-width: 47.937em) {
  /* line 11, ../../../scss/custom/home.scss */
  .front #utility {
    margin-bottom: 0px;
  }
}

/* end global styles */
/*begin tier one*/
/* line 24, ../../../scss/custom/home.scss */
#tier-one {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  *zoom: 1;
  margin-top: 0;
  margin-bottom: 1.875rem;
}
/* line 145, ../../../scss/foundation/components/_global.scss */
#tier-one:before, #tier-one:after {
  content: " ";
  display: table;
}
/* line 146, ../../../scss/foundation/components/_global.scss */
#tier-one:after {
  clear: both;
}
@media only screen and (max-width: 47.937em) {
  /* line 24, ../../../scss/custom/home.scss */
  #tier-one {
    margin-top: 0px;
  }
}

/* line 33, ../../../scss/custom/home.scss */
#search-options {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 50%;
  float: left;
  padding-left: 0px;
}
@media only screen and (max-width: 47.937em) {
  /* line 33, ../../../scss/custom/home.scss */
  #search-options {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
    padding: 0px;
  }
}
/* line 43, ../../../scss/custom/home.scss */
#search-options h2 {
  margin-top: 0px;
}

/*begin tabs */
/*main search*/
/* line 50, ../../../scss/custom/home.scss */
#search-tabs {
  padding: 0px;
}
/* line 53, ../../../scss/custom/home.scss */
#search-tabs p.title a:hover {
  text-decoration: none;
}
@media all and (min-width: 768px) and (max-width: 820px) {
  /* line 57, ../../../scss/custom/home.scss */
  #search-tabs dl.tabs dd a {
    padding: 0.625rem;
  }
}

/* line 64, ../../../scss/custom/home.scss */
#searcheverything {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  *zoom: 1;
  margin-bottom: 0px;
}
/* line 145, ../../../scss/foundation/components/_global.scss */
#searcheverything:before, #searcheverything:after {
  content: " ";
  display: table;
}
/* line 146, ../../../scss/foundation/components/_global.scss */
#searcheverything:after {
  clear: both;
}

/* line 68, ../../../scss/custom/home.scss */
.search-body {
  padding: 0px;
  width: 100%;
}
/* line 72, ../../../scss/custom/home.scss */
.search-body label {
  float: left;
  width: 100%;
}

/* line 77, ../../../scss/custom/home.scss */
#searchall {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 83.33333%;
  float: left;
  height: 3.5em;
  margin-bottom: 0px;
}
@media only screen and (max-width: 47.937em) {
  /* line 77, ../../../scss/custom/home.scss */
  #searchall {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 83.33333%;
    float: left;
    border-radius: 0px;
    font-size: 1rem;
    margin-bottom: 0.625rem;
  }
}
@media all and (min-width: 768px) and (max-width: 820px) {
  /* line 77, ../../../scss/custom/home.scss */
  #searchall {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 75%;
    float: left;
  }
}

/* line 94, ../../../scss/custom/home.scss */
#all-submit {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 16.66667%;
  float: right;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  height: 4.3em;
}
@media only screen and (max-width: 47.937em) {
  /* line 94, ../../../scss/custom/home.scss */
  #all-submit {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 16.66667%;
    float: left;
    height: 5.1em;
  }
}
@media all and (min-width: 768px) and (max-width: 820px) {
  /* line 94, ../../../scss/custom/home.scss */
  #all-submit {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 25%;
    float: left;
  }
}

/* line 111, ../../../scss/custom/home.scss */
#mobile-search-form {
  margin-bottom: 0.9375rem;
}

/*articles*/
/* line 116, ../../../scss/custom/home.scss */
#search-articles-summon {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  *zoom: 1;
}
/* line 145, ../../../scss/foundation/components/_global.scss */
#search-articles-summon:before, #search-articles-summon:after {
  content: " ";
  display: table;
}
/* line 146, ../../../scss/foundation/components/_global.scss */
#search-articles-summon:after {
  clear: both;
}

/* line 119, ../../../scss/custom/home.scss */
#searcharticle {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 83.33333%;
  float: left;
  height: 3.5em;
  margin-bottom: 0.625rem;
}
@media only screen and (max-width: 47.937em) {
  /* line 119, ../../../scss/custom/home.scss */
  #searcharticle {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
  }
}
@media all and (min-width: 768px) and (max-width: 820px) {
  /* line 119, ../../../scss/custom/home.scss */
  #searcharticle {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 75%;
    float: left;
    margin-bottom: 0.625rem;
  }
}

/* line 133, ../../../scss/custom/home.scss */
#article-submit {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 16.66667%;
  float: right;
  margin: 0px 0px 0.3125rem;
  padding-left: 0px;
  padding-right: 0px;
  height: 4.3em;
}
@media only screen and (max-width: 47.937em) {
  /* line 133, ../../../scss/custom/home.scss */
  #article-submit {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
  }
}
@media all and (min-width: 768px) and (max-width: 820px) {
  /* line 133, ../../../scss/custom/home.scss */
  #article-submit {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 25%;
    float: left;
    margin-bottom: 0.625rem;
  }
}

/* line 149, ../../../scss/custom/home.scss */
.search-example {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.7em;
  padding-left: 0px;
}
@media only screen and (max-width: 47.937em) {
  /* line 149, ../../../scss/custom/home.scss */
  .search-example {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 75%;
    float: left;
  }
}

/* line 160, ../../../scss/custom/home.scss */
#websitesearch .search-example {
  display: inline-block;
  float: none;
  margin-bottom: 0px;
}

/* line 165, ../../../scss/custom/home.scss */
#searcharticleadvanced {
  border: 1px solid #DDD;
  margin-bottom: 0.9375rem;
  padding: 5px;
}

/* line 170, ../../../scss/custom/home.scss */
.search-more {
  float: left;
  margin-bottom: 0px;
  padding-left: 0px;
}

/*Books/Media*/
/* line 176, ../../../scss/custom/home.scss */
#books-media-search {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 83.33333%;
  float: left;
  height: 3.5em;
  margin-bottom: 0.625rem;
}
@media only screen and (max-width: 47.937em) {
  /* line 176, ../../../scss/custom/home.scss */
  #books-media-search {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
  }
}
@media all and (min-width: 768px) and (max-width: 820px) {
  /* line 176, ../../../scss/custom/home.scss */
  #books-media-search {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 75%;
    float: left;
  }
}

/* line 189, ../../../scss/custom/home.scss */
#searchbookssubmit {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 16.66667%;
  float: left;
  height: 4.3em;
  margin-bottom: 0.3125rem;
  padding-left: 0px;
  padding-right: 0px;
}
@media only screen and (max-width: 47.937em) {
  /* line 189, ../../../scss/custom/home.scss */
  #searchbookssubmit {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
  }
}
@media all and (min-width: 768px) and (max-width: 820px) {
  /* line 189, ../../../scss/custom/home.scss */
  #searchbookssubmit {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 25%;
    float: left;
  }
}

/* line 204, ../../../scss/custom/home.scss */
#books-more-options-drop {
  border: 1px solid #DDD;
  margin-bottom: 0.9375rem;
  padding: 5px;
}

/*search website*/
/* line 210, ../../../scss/custom/home.scss */
#searchweb {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 83.33333%;
  float: left;
  height: 3.5em;
  margin-bottom: 0.9375rem;
}
@media only screen and (max-width: 47.937em) {
  /* line 210, ../../../scss/custom/home.scss */
  #searchweb {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
  }
}
@media all and (min-width: 768px) and (max-width: 820px) {
  /* line 210, ../../../scss/custom/home.scss */
  #searchweb {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 75%;
    float: left;
  }
}

/* line 223, ../../../scss/custom/home.scss */
#web-submit {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 16.66667%;
  float: left;
  height: 4.3em;
  margin-bottom: 0.625rem;
  padding-left: 0px;
  padding-right: 0px;
}
@media only screen and (max-width: 47.937em) {
  /* line 223, ../../../scss/custom/home.scss */
  #web-submit {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
  }
}
@media all and (min-width: 768px) and (max-width: 820px) {
  /* line 223, ../../../scss/custom/home.scss */
  #web-submit {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 25%;
    float: left;
  }
}

/*end tabs*/
/* line 242, ../../../scss/custom/home.scss */
#research-tools h2 {
  font-size: 0.8em;
  font-weight: bold;
}
/* line 247, ../../../scss/custom/home.scss */
#research-tools ul {
  margin: 0 auto 1.0625rem auto;
  margin-left: -1.375rem;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
/* line 41, ../../../scss/foundation/components/_inline-lists.scss */
#research-tools ul > li {
  list-style: none;
  float: left;
  margin-left: 1.375rem;
  display: block;
}
/* line 46, ../../../scss/foundation/components/_inline-lists.scss */
#research-tools ul > li > * {
  display: block;
}
@media only screen and (max-width: 47.937em) {
  /* line 252, ../../../scss/custom/home.scss */
  #research-tools ul li a {
    font-size: 0.8em;
  }
}

/*begin quicklinks*/
/* line 262, ../../../scss/custom/home.scss */
#home-quicklinks {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
  padding: 0px;
}
@media only screen and (max-width: 47.937em) {
  /* line 262, ../../../scss/custom/home.scss */
  #home-quicklinks {
    margin-bottom: 3.125rem;
  }
}
/* line 270, ../../../scss/custom/home.scss */
#home-quicklinks ul#quicklinks {
  list-style-type: none;
  margin: 0px;
}
@media only screen and (max-width: 47.937em) {
  /* line 270, ../../../scss/custom/home.scss */
  #home-quicklinks ul#quicklinks {
    margin-bottom: 1.875rem;
  }
}
/* line 278, ../../../scss/custom/home.scss */
#home-quicklinks ul#quicklinks > li {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 33.33333%;
  float: left;
  padding-left: 0px;
}
@media only screen and (max-width: 47.937em) {
  /* line 283, ../../../scss/custom/home.scss */
  #home-quicklinks ul#quicklinks li {
    margin-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
}
/* line 292, ../../../scss/custom/home.scss */
#home-quicklinks ul#quicklinks li h2 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0px;
}
@media only screen and (max-width: 47.937em) {
  /* line 292, ../../../scss/custom/home.scss */
  #home-quicklinks ul#quicklinks li h2 {
    font-size: 2em;
    font-weight: normal;
    margin-top: 10px;
  }
}
/* line 304, ../../../scss/custom/home.scss */
#home-quicklinks ul#quicklinks li ul {
  display: block;
  margin: 0;
  padding: 0.875rem 0;
  list-style-type: none;
  list-style-position: inherit;
  font-family: Arial, sans-serif;
}
/* line 62, ../../../scss/foundation/components/_side-nav.scss */
#home-quicklinks ul#quicklinks li ul li {
  margin: 0 0 0.4375rem 0;
  font-size: 1rem;
}
/* line 66, ../../../scss/foundation/components/_side-nav.scss */
#home-quicklinks ul#quicklinks li ul li a:not(.button) {
  display: block;
  color: #4c83af;
}
/* line 70, ../../../scss/foundation/components/_side-nav.scss */
#home-quicklinks ul#quicklinks li ul li a:not(.button):hover, #home-quicklinks ul#quicklinks li ul li a:not(.button):focus {
  color: #4c83af;
}
/* line 73, ../../../scss/foundation/components/_side-nav.scss */
#home-quicklinks ul#quicklinks li ul li.active > a:first-child:not(.button) {
  color: #383838;
  font-weight: normal;
  font-family: Arial, sans-serif;
}
/* line 79, ../../../scss/foundation/components/_side-nav.scss */
#home-quicklinks ul#quicklinks li ul li.divider {
  border-top: 1px solid;
  height: 0;
  padding: 0;
  list-style: none;
  border-top-color: white;
}
/* line 307, ../../../scss/custom/home.scss */
#home-quicklinks ul#quicklinks li ul li {
  margin-bottom: 0px;
}
@media only screen and (max-width: 47.937em) {
  /* line 307, ../../../scss/custom/home.scss */
  #home-quicklinks ul#quicklinks li ul li {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 50%;
    float: left;
    padding: 0px;
    width: auto;
    border-right: 1px solid #CCC;
    margin-right: 10px;
    padding-right: 10px;
  }
  /* line 320, ../../../scss/custom/home.scss */
  #home-quicklinks ul#quicklinks li ul li:first-child {
    border-right: 0px;
    margin-right: 0px;
    padding-right: 0px;
  }
  /* line 326, ../../../scss/custom/home.scss */
  #home-quicklinks ul#quicklinks li ul li:last-child {
    border-right: 0px;
    margin-right: 0px;
    padding-right: 0px;
  }
}
@media only screen and (max-width: 47.937em) {
  /* line 333, ../../../scss/custom/home.scss */
  #home-quicklinks ul#quicklinks li ul li a {
    color: #FFF;
  }
}
@media only screen and (max-width: 47.937em) {
  /* line 341, ../../../scss/custom/home.scss */
  #home-quicklinks ul#quicklinks li ul li:first-child {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
    padding: 0px;
  }
}
/* line 350, ../../../scss/custom/home.scss */
#home-quicklinks ul#quicklinks li:first-child {
  margin-left: 0px;
}

/*end quicklinks*/
/*begin artbox*/
/* line 360, ../../../scss/custom/home.scss */
#home-artbox {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 50%;
  float: left;
  padding-right: 0px;
}
@media only screen and (max-width: 47.937em) {
  /* line 360, ../../../scss/custom/home.scss */
  #home-artbox {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
    padding: 0px;
  }
}
/* line 369, ../../../scss/custom/home.scss */
#home-artbox .orbit-bullets-container {
  height: 30px;
}

/*end artbox*/
/*end tier one*/
/*begin tier two*/
/* line 381, ../../../scss/custom/home.scss */
#tier-two {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  *zoom: 1;
  margin-bottom: 1.875rem;
}
/* line 145, ../../../scss/foundation/components/_global.scss */
#tier-two:before, #tier-two:after {
  content: " ";
  display: table;
}
/* line 146, ../../../scss/foundation/components/_global.scss */
#tier-two:after {
  clear: both;
}
/* line 385, ../../../scss/custom/home.scss */
#tier-two #available-links {
  width: 100%;
}
@media only screen and (max-width: 47.937em) {
  /* line 385, ../../../scss/custom/home.scss */
  #tier-two #available-links {
    margin-bottom: 1.875rem;
  }
}
/* line 392, ../../../scss/custom/home.scss */
#tier-two #available-links h2 {
  display: inline;
}
/* line 396, ../../../scss/custom/home.scss */
#tier-two #available-links ul {
  display: inline-block;
  margin: 0px;
}
/* line 400, ../../../scss/custom/home.scss */
#tier-two #available-links ul li {
  list-style-type: none;
  line-height: 1em;
  float: left;
  margin-left: 0.625rem;
  padding: 0.8125rem 0px 0px 0px;
}
@media only screen and (max-width: 47.937em) {
  /* line 400, ../../../scss/custom/home.scss */
  #tier-two #available-links ul li {
    padding-top: 0px;
  }
}
/* line 411, ../../../scss/custom/home.scss */
#tier-two #available-links ul li h2 {
  margin-top: 0.3125rem;
}
/* line 415, ../../../scss/custom/home.scss */
#tier-two #available-links ul li a {
  border-left: 1px solid #CCC;
  font-size: 0.95em;
  margin-top: 0.625rem;
  margin-left: 0;
  padding: 0.1875rem 0px 0.1875rem 0.625rem;
}
@media only screen and (max-width: 47.937em) {
  /* line 424, ../../../scss/custom/home.scss */
  #tier-two #available-links ul li:first-child {
    margin-left: 0px;
  }
  /* line 431, ../../../scss/custom/home.scss */
  #tier-two #available-links ul li:first-child a {
    padding-left: 0px;
  }
}
/* line 435, ../../../scss/custom/home.scss */
#tier-two #available-links ul li:first-child a {
  border: 0px;
  margin-left: 0px;
}

/*begin availability*/
/* line 445, ../../../scss/custom/home.scss */
#availability {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  *zoom: 1;
}
/* line 145, ../../../scss/foundation/components/_global.scss */
#availability:before, #availability:after {
  content: " ";
  display: table;
}
/* line 146, ../../../scss/foundation/components/_global.scss */
#availability:after {
  clear: both;
}
/* line 450, ../../../scss/custom/home.scss */
#availability .tabs dd a {
  font-size: 0.7em;
}
@media all and (min-width: 768px) and (max-width: 820px) {
  /* line 450, ../../../scss/custom/home.scss */
  #availability .tabs dd a {
    padding-left: 0.3125rem;
  }
}
@media only screen and (min-width: 48em) {
  /* line 450, ../../../scss/custom/home.scss */
  #availability .tabs dd a {
    padding-right: 0px;
  }
}
/* line 463, ../../../scss/custom/home.scss */
#availability .tabs a {
  color: #555;
  font-weight: bold;
  line-height: 1.6em;
  height: 38px;
}
/* line 472, ../../../scss/custom/home.scss */
#availability .tabs-content .content {
  padding: 0px;
}
/* line 474, ../../../scss/custom/home.scss */
#availability .tabs-content .content ul {
  margin: 0px;
}
/* line 477, ../../../scss/custom/home.scss */
#availability .tabs-content .content ul li {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 33.33333%;
  float: left;
  float: left;
  list-style-type: none;
  padding: 0.8125rem 0px 0.875rem;
  text-align: center;
}
@media only screen and (max-width: 47.937em) {
  /* line 477, ../../../scss/custom/home.scss */
  #availability .tabs-content .content ul li {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
    text-align: left;
  }
}
/* line 489, ../../../scss/custom/home.scss */
#availability .tabs-content .content ul li .item {
  padding-right: 0.625rem;
}
/* line 492, ../../../scss/custom/home.scss */
#availability .tabs-content .content ul li .item a {
  font-size: 1.3em;
  line-height: 1em;
}
/* line 498, ../../../scss/custom/home.scss */
#availability .tabs-content .content ul li .count {
  font-size: 2em;
  font-weight: 300;
  position: relative;
  top: 2px;
}

/*end availability*/
/*end tier two*/
/*begin tier-three*/
/* line 514, ../../../scss/custom/home.scss */
#tier-three {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  *zoom: 1;
  margin-bottom: 2.5rem;
}
/* line 145, ../../../scss/foundation/components/_global.scss */
#tier-three:before, #tier-three:after {
  content: " ";
  display: table;
}
/* line 146, ../../../scss/foundation/components/_global.scss */
#tier-three:after {
  clear: both;
}

/* line 519, ../../../scss/custom/home.scss */
#story-1, #story-2 {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 33.33333%;
  float: left;
  margin-bottom: 1.25rem;
  padding-left: 0px;
}
@media only screen and (max-width: 47.937em) {
  /* line 519, ../../../scss/custom/home.scss */
  #story-1, #story-2 {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
    padding: 0px;
  }
}
/* line 529, ../../../scss/custom/home.scss */
#story-1 .story-photo, #story-2 .story-photo {
  margin-bottom: 0.9375rem;
}
/* line 533, ../../../scss/custom/home.scss */
#story-1 h2, #story-2 h2 {
  font-size: 1.75rem;
  line-height: 1.2em;
}
/* line 537, ../../../scss/custom/home.scss */
#story-1 h2 a, #story-2 h2 a {
  color: inherit;
}
/* line 541, ../../../scss/custom/home.scss */
#story-1 h2 a:hover, #story-2 h2 a:hover {
  color: #cc0000;
}

/* line 548, ../../../scss/custom/home.scss */
#happenings {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 33.33333%;
  float: left;
}
@media only screen and (max-width: 47.937em) {
  /* line 548, ../../../scss/custom/home.scss */
  #happenings {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
    padding: 0px;
  }
}
/* line 556, ../../../scss/custom/home.scss */
#happenings #home-news, #happenings #home-events, #happenings #home-exhibits {
  float: left;
  margin-bottom: 1.5625rem;
}
/* line 561, ../../../scss/custom/home.scss */
#happenings .happenings-photo {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 50%;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 567, ../../../scss/custom/home.scss */
#happenings .happenings-content {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 50%;
  float: left;
  padding-right: 0px;
}
/* line 571, ../../../scss/custom/home.scss */
#happenings .happenings-content h2 {
  font-size: 1.375rem;
  line-height: 1em;
  margin-bottom: 5px;
  margin-top: 0px;
  text-transform: uppercase;
}
/* line 578, ../../../scss/custom/home.scss */
#happenings .happenings-content h2 a {
  color: inherit;
}
/* line 582, ../../../scss/custom/home.scss */
#happenings .happenings-content h2 a:hover {
  color: #cc0000;
}
/* line 587, ../../../scss/custom/home.scss */
#happenings .happenings-content p {
  font-size: 0.85em;
  line-height: 1.35em;
  margin-bottom: 0px;
}

/*end tier three*/
