/**
 * This file is used for extending existing type styles into custom css
 */
/* Typography resets */
/* Default Link Styles */
/* Default paragraph styles */
/* Default header styles */
/* Helpful Typography Defaults */
/* Lists */
/* Unordered Lists */
/* Ordered Lists */
/* Definition Lists */
/* Abbreviations */
/* Blockquotes */
/* Microformats */
/**
 * For the Space node content type
 * -Charlie Morris
 */
/* line 10, ../../../scss/custom/space.scss */
.space-attributes {
  margin-bottom: 10px;
}

/* line 13, ../../../scss/custom/space.scss */
.space-photo {
  width: 480px;
  height: auto;
  margin: 0 0 10px 50px;
  float: right;
}

/* line 19, ../../../scss/custom/space.scss */
a.reserve-button {
  margin-bottom: 35px;
}

/* line 22, ../../../scss/custom/space.scss */
#page .description p {
  line-height: 1.7;
}

/* line 25, ../../../scss/custom/space.scss */
.not-reservable {
  color: #B3B3B3;
  font-style: italic;
}

/* line 29, ../../../scss/custom/space.scss */
.field-item {
  margin: 4px 6px 3px 0;
  padding: 0 0 2px 18px;
  list-style: none;
  background: url(/sites/all/themes/ncsulibraries/images/graybullet.png) 5px 5px no-repeat;
  line-height: 1.4;
}

/* line 36, ../../../scss/custom/space.scss */
.description {
  margin-top: 36px;
}

/* line 39, ../../../scss/custom/space.scss */
.field-name-body .field-item {
  margin: 0;
  padding: 0;
  list-style: none;
  background: none;
}
