/**
 * This file is used for extending existing type styles into custom css
 */
/* Typography resets */
/* Default Link Styles */
/* Default paragraph styles */
/* Default header styles */
/* Helpful Typography Defaults */
/* Lists */
/* Unordered Lists */
/* Ordered Lists */
/* Definition Lists */
/* Abbreviations */
/* Blockquotes */
/* Microformats */
/**
 * For the Space node content type
 */
@media only screen and (min-width: 48em) {
  /* line 10, ../../../scss/custom/space.scss */
  .field-name-field-image {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 50%;
    float: right;
  }
}
/* line 14, ../../../scss/custom/space.scss */
.building-name {
  display: block;
  float: left;
  line-height: 1.6;
  margin-bottom: 0;
}

/* line 20, ../../../scss/custom/space.scss */
.room-numbers {
  margin-left: 6.0625rem;
}
/* line 23, ../../../scss/custom/space.scss */
.room-numbers li {
  display: inline;
}

/* line 28, ../../../scss/custom/space.scss */
.field-name-body {
  clear: left;
}
/* line 31, ../../../scss/custom/space.scss */
.field-name-body .field-item {
  margin: 0;
  padding: 0;
  list-style: none;
  background: none;
}

/* line 38, ../../../scss/custom/space.scss */
.room-list {
  line-height: 1.6;
  float: left;
}

@media only screen and (max-width: 47.937em) {
  /* line 45, ../../../scss/custom/space.scss */
  .room-list {
    margin-bottom: 0;
  }

  /* line 49, ../../../scss/custom/space.scss */
  .field-name-field-image {
    max-width: 330px;
    margin: 0 0 0.625rem 0;
  }
}
