/* line 4, ../../../scss/custom/styleguide.scss */
.brand-tile {
  color: #FFF;
  height: 100px;
  padding: 10px;
  text-align: center;
}
/* line 10, ../../../scss/custom/styleguide.scss */
.brand-tile.primary-a {
  background: #cc0000;
}
/* line 13, ../../../scss/custom/styleguide.scss */
.brand-tile.primary-b {
  background: black;
}
/* line 16, ../../../scss/custom/styleguide.scss */
.brand-tile.primary-c {
  background: white;
  border: 1px solid #cccccc;
}
/* line 21, ../../../scss/custom/styleguide.scss */
.brand-tile.secondary-a {
  background: #383838;
}
/* line 24, ../../../scss/custom/styleguide.scss */
.brand-tile.secondary-b {
  background: #666666;
}
/* line 27, ../../../scss/custom/styleguide.scss */
.brand-tile.secondary-c {
  background: #cccccc;
}
/* line 30, ../../../scss/custom/styleguide.scss */
.brand-tile.secondary-d {
  background: #e1e1e1;
}
/* line 33, ../../../scss/custom/styleguide.scss */
.brand-tile.secondary-e {
  background: #5c5541;
}
/* line 36, ../../../scss/custom/styleguide.scss */
.brand-tile.secondary-f {
  background: #666633;
}
/* line 39, ../../../scss/custom/styleguide.scss */
.brand-tile.secondary-g {
  background: #a20000;
}

/* line 44, ../../../scss/custom/styleguide.scss */
.toggle-code {
  display: block;
  font-size: 0.9em;
  margin-top: -10px;
  margin-bottom: 20px;
}

/* line 52, ../../../scss/custom/styleguide.scss */
.row.display {
  background: none repeat scroll 0 0 #EEEEEE;
  border: 1px solid #C6C6C6;
  font-size: 11px;
  line-height: 2rem;
  margin-bottom: 10px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* line 64, ../../../scss/custom/styleguide.scss */
.row.display .columns:nth-child(2),
.row.display .columns.small-centered,
.row.display .columns.large-centered {
  background: #E1E1E1;
}
