/* line 259, ../../../scss/foundation/components/_global.scss */
meta.foundation-version {
  font-family: "/5.1.0/";
}

/* line 264, ../../../scss/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen and (max-width: 47.937em)/";
  width: 0em;
}

/* line 269, ../../../scss/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:48em)/";
  width: 48em;
}

/* line 274, ../../../scss/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

/* line 279, ../../../scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 284, ../../../scss/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 289, ../../../scss/foundation/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* line 294, ../../../scss/foundation/components/_global.scss */
html, body {
  height: 100%;
}

/* line 80, ../../../scss/foundation/components/_top-bar.scss */
meta.foundation-mq-topbar {
  font-family: "/only screen and (min-width:48em)/";
  width: 48em;
}

/* line 110, ../../../scss/foundation/components/_type.scss */
.text-left {
  text-align: left !important;
}

/* line 111, ../../../scss/foundation/components/_type.scss */
.text-right {
  text-align: right !important;
}

/* line 112, ../../../scss/foundation/components/_type.scss */
.text-center {
  text-align: center !important;
}

/* line 113, ../../../scss/foundation/components/_type.scss */
.text-justify {
  text-align: justify !important;
}

@media only screen and (max-width: 47.937em) {
  /* line 116, ../../../scss/foundation/components/_type.scss */
  .small-only-text-left {
    text-align: left !important;
  }

  /* line 117, ../../../scss/foundation/components/_type.scss */
  .small-only-text-right {
    text-align: right !important;
  }

  /* line 118, ../../../scss/foundation/components/_type.scss */
  .small-only-text-center {
    text-align: center !important;
  }

  /* line 119, ../../../scss/foundation/components/_type.scss */
  .small-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen {
  /* line 123, ../../../scss/foundation/components/_type.scss */
  .small-text-left {
    text-align: left !important;
  }

  /* line 124, ../../../scss/foundation/components/_type.scss */
  .small-text-right {
    text-align: right !important;
  }

  /* line 125, ../../../scss/foundation/components/_type.scss */
  .small-text-center {
    text-align: center !important;
  }

  /* line 126, ../../../scss/foundation/components/_type.scss */
  .small-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 48em) and (max-width: 64em) {
  /* line 130, ../../../scss/foundation/components/_type.scss */
  .medium-only-text-left {
    text-align: left !important;
  }

  /* line 131, ../../../scss/foundation/components/_type.scss */
  .medium-only-text-right {
    text-align: right !important;
  }

  /* line 132, ../../../scss/foundation/components/_type.scss */
  .medium-only-text-center {
    text-align: center !important;
  }

  /* line 133, ../../../scss/foundation/components/_type.scss */
  .medium-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 48em) {
  /* line 137, ../../../scss/foundation/components/_type.scss */
  .medium-text-left {
    text-align: left !important;
  }

  /* line 138, ../../../scss/foundation/components/_type.scss */
  .medium-text-right {
    text-align: right !important;
  }

  /* line 139, ../../../scss/foundation/components/_type.scss */
  .medium-text-center {
    text-align: center !important;
  }

  /* line 140, ../../../scss/foundation/components/_type.scss */
  .medium-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  /* line 144, ../../../scss/foundation/components/_type.scss */
  .large-only-text-left {
    text-align: left !important;
  }

  /* line 145, ../../../scss/foundation/components/_type.scss */
  .large-only-text-right {
    text-align: right !important;
  }

  /* line 146, ../../../scss/foundation/components/_type.scss */
  .large-only-text-center {
    text-align: center !important;
  }

  /* line 147, ../../../scss/foundation/components/_type.scss */
  .large-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 151, ../../../scss/foundation/components/_type.scss */
  .large-text-left {
    text-align: left !important;
  }

  /* line 152, ../../../scss/foundation/components/_type.scss */
  .large-text-right {
    text-align: right !important;
  }

  /* line 153, ../../../scss/foundation/components/_type.scss */
  .large-text-center {
    text-align: center !important;
  }

  /* line 154, ../../../scss/foundation/components/_type.scss */
  .large-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  /* line 158, ../../../scss/foundation/components/_type.scss */
  .xlarge-only-text-left {
    text-align: left !important;
  }

  /* line 159, ../../../scss/foundation/components/_type.scss */
  .xlarge-only-text-right {
    text-align: right !important;
  }

  /* line 160, ../../../scss/foundation/components/_type.scss */
  .xlarge-only-text-center {
    text-align: center !important;
  }

  /* line 161, ../../../scss/foundation/components/_type.scss */
  .xlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) {
  /* line 165, ../../../scss/foundation/components/_type.scss */
  .xlarge-text-left {
    text-align: left !important;
  }

  /* line 166, ../../../scss/foundation/components/_type.scss */
  .xlarge-text-right {
    text-align: right !important;
  }

  /* line 167, ../../../scss/foundation/components/_type.scss */
  .xlarge-text-center {
    text-align: center !important;
  }

  /* line 168, ../../../scss/foundation/components/_type.scss */
  .xlarge-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) and (max-width: 99999999em) {
  /* line 172, ../../../scss/foundation/components/_type.scss */
  .xxlarge-only-text-left {
    text-align: left !important;
  }

  /* line 173, ../../../scss/foundation/components/_type.scss */
  .xxlarge-only-text-right {
    text-align: right !important;
  }

  /* line 174, ../../../scss/foundation/components/_type.scss */
  .xxlarge-only-text-center {
    text-align: center !important;
  }

  /* line 175, ../../../scss/foundation/components/_type.scss */
  .xxlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) {
  /* line 179, ../../../scss/foundation/components/_type.scss */
  .xxlarge-text-left {
    text-align: left !important;
  }

  /* line 180, ../../../scss/foundation/components/_type.scss */
  .xxlarge-text-right {
    text-align: right !important;
  }

  /* line 181, ../../../scss/foundation/components/_type.scss */
  .xxlarge-text-center {
    text-align: center !important;
  }

  /* line 182, ../../../scss/foundation/components/_type.scss */
  .xxlarge-text-justify {
    text-align: justify !important;
  }
}
/* line 110, ../../../scss/foundation/components/_type.scss */
.text-left {
  text-align: left !important;
}

/* line 111, ../../../scss/foundation/components/_type.scss */
.text-right {
  text-align: right !important;
}

/* line 112, ../../../scss/foundation/components/_type.scss */
.text-center {
  text-align: center !important;
}

/* line 113, ../../../scss/foundation/components/_type.scss */
.text-justify {
  text-align: justify !important;
}

@media only screen and (max-width: 47.937em) {
  /* line 116, ../../../scss/foundation/components/_type.scss */
  .small-only-text-left {
    text-align: left !important;
  }

  /* line 117, ../../../scss/foundation/components/_type.scss */
  .small-only-text-right {
    text-align: right !important;
  }

  /* line 118, ../../../scss/foundation/components/_type.scss */
  .small-only-text-center {
    text-align: center !important;
  }

  /* line 119, ../../../scss/foundation/components/_type.scss */
  .small-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen {
  /* line 123, ../../../scss/foundation/components/_type.scss */
  .small-text-left {
    text-align: left !important;
  }

  /* line 124, ../../../scss/foundation/components/_type.scss */
  .small-text-right {
    text-align: right !important;
  }

  /* line 125, ../../../scss/foundation/components/_type.scss */
  .small-text-center {
    text-align: center !important;
  }

  /* line 126, ../../../scss/foundation/components/_type.scss */
  .small-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 48em) and (max-width: 64em) {
  /* line 130, ../../../scss/foundation/components/_type.scss */
  .medium-only-text-left {
    text-align: left !important;
  }

  /* line 131, ../../../scss/foundation/components/_type.scss */
  .medium-only-text-right {
    text-align: right !important;
  }

  /* line 132, ../../../scss/foundation/components/_type.scss */
  .medium-only-text-center {
    text-align: center !important;
  }

  /* line 133, ../../../scss/foundation/components/_type.scss */
  .medium-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 48em) {
  /* line 137, ../../../scss/foundation/components/_type.scss */
  .medium-text-left {
    text-align: left !important;
  }

  /* line 138, ../../../scss/foundation/components/_type.scss */
  .medium-text-right {
    text-align: right !important;
  }

  /* line 139, ../../../scss/foundation/components/_type.scss */
  .medium-text-center {
    text-align: center !important;
  }

  /* line 140, ../../../scss/foundation/components/_type.scss */
  .medium-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  /* line 144, ../../../scss/foundation/components/_type.scss */
  .large-only-text-left {
    text-align: left !important;
  }

  /* line 145, ../../../scss/foundation/components/_type.scss */
  .large-only-text-right {
    text-align: right !important;
  }

  /* line 146, ../../../scss/foundation/components/_type.scss */
  .large-only-text-center {
    text-align: center !important;
  }

  /* line 147, ../../../scss/foundation/components/_type.scss */
  .large-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 151, ../../../scss/foundation/components/_type.scss */
  .large-text-left {
    text-align: left !important;
  }

  /* line 152, ../../../scss/foundation/components/_type.scss */
  .large-text-right {
    text-align: right !important;
  }

  /* line 153, ../../../scss/foundation/components/_type.scss */
  .large-text-center {
    text-align: center !important;
  }

  /* line 154, ../../../scss/foundation/components/_type.scss */
  .large-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  /* line 158, ../../../scss/foundation/components/_type.scss */
  .xlarge-only-text-left {
    text-align: left !important;
  }

  /* line 159, ../../../scss/foundation/components/_type.scss */
  .xlarge-only-text-right {
    text-align: right !important;
  }

  /* line 160, ../../../scss/foundation/components/_type.scss */
  .xlarge-only-text-center {
    text-align: center !important;
  }

  /* line 161, ../../../scss/foundation/components/_type.scss */
  .xlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) {
  /* line 165, ../../../scss/foundation/components/_type.scss */
  .xlarge-text-left {
    text-align: left !important;
  }

  /* line 166, ../../../scss/foundation/components/_type.scss */
  .xlarge-text-right {
    text-align: right !important;
  }

  /* line 167, ../../../scss/foundation/components/_type.scss */
  .xlarge-text-center {
    text-align: center !important;
  }

  /* line 168, ../../../scss/foundation/components/_type.scss */
  .xlarge-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) and (max-width: 99999999em) {
  /* line 172, ../../../scss/foundation/components/_type.scss */
  .xxlarge-only-text-left {
    text-align: left !important;
  }

  /* line 173, ../../../scss/foundation/components/_type.scss */
  .xxlarge-only-text-right {
    text-align: right !important;
  }

  /* line 174, ../../../scss/foundation/components/_type.scss */
  .xxlarge-only-text-center {
    text-align: center !important;
  }

  /* line 175, ../../../scss/foundation/components/_type.scss */
  .xxlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) {
  /* line 179, ../../../scss/foundation/components/_type.scss */
  .xxlarge-text-left {
    text-align: left !important;
  }

  /* line 180, ../../../scss/foundation/components/_type.scss */
  .xxlarge-text-right {
    text-align: right !important;
  }

  /* line 181, ../../../scss/foundation/components/_type.scss */
  .xxlarge-text-center {
    text-align: center !important;
  }

  /* line 182, ../../../scss/foundation/components/_type.scss */
  .xxlarge-text-justify {
    text-align: justify !important;
  }
}
/* line 5, ../../../scss/custom/techlending.scss */
.view-content {
  display: block;
  padding: 0;
  margin: 0 -0.9375rem;
  *zoom: 1;
}
/* line 130, ../../../scss/foundation/components/_global.scss */
.view-content:before, .view-content:after {
  content: " ";
  display: table;
}
/* line 131, ../../../scss/foundation/components/_global.scss */
.view-content:after {
  clear: both;
}
/* line 36, ../../../scss/foundation/components/_block-grid.scss */
.view-content > li, .view-content > .views-row {
  display: block;
  height: auto;
  float: left;
  padding: 0 0.9375rem 1.875rem;
}
/* line 47, ../../../scss/foundation/components/_block-grid.scss */
.view-content > li, .view-content > .views-row {
  width: 100%;
  padding: 0 0.9375rem 1.875rem;
  list-style: none;
}
/* line 54, ../../../scss/foundation/components/_block-grid.scss */
.view-content > li:nth-of-type(n), .view-content > .views-row:nth-of-type(n) {
  clear: none;
}
/* line 55, ../../../scss/foundation/components/_block-grid.scss */
.view-content > li:nth-of-type(1n+1), .view-content > .views-row:nth-of-type(1n+1) {
  clear: both;
}
@media only screen and (min-width: 48em) and (max-width: 64em) {
  /* line 5, ../../../scss/custom/techlending.scss */
  .view-content {
    display: block;
    padding: 0;
    margin: 0 -0.9375rem;
    *zoom: 1;
  }
  /* line 130, ../../../scss/foundation/components/_global.scss */
  .view-content:before, .view-content:after {
    content: " ";
    display: table;
  }
  /* line 131, ../../../scss/foundation/components/_global.scss */
  .view-content:after {
    clear: both;
  }
  /* line 36, ../../../scss/foundation/components/_block-grid.scss */
  .view-content > li, .view-content > .views-row {
    display: block;
    height: auto;
    float: left;
    padding: 0 0.9375rem 1.875rem;
  }
  /* line 47, ../../../scss/foundation/components/_block-grid.scss */
  .view-content > li, .view-content > .views-row {
    width: 33.33333%;
    padding: 0 0.9375rem 1.875rem;
    list-style: none;
  }
  /* line 54, ../../../scss/foundation/components/_block-grid.scss */
  .view-content > li:nth-of-type(n), .view-content > .views-row:nth-of-type(n) {
    clear: none;
  }
  /* line 55, ../../../scss/foundation/components/_block-grid.scss */
  .view-content > li:nth-of-type(3n+1), .view-content > .views-row:nth-of-type(3n+1) {
    clear: both;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 5, ../../../scss/custom/techlending.scss */
  .view-content {
    display: block;
    padding: 0;
    margin: 0 -0.9375rem;
    *zoom: 1;
  }
  /* line 130, ../../../scss/foundation/components/_global.scss */
  .view-content:before, .view-content:after {
    content: " ";
    display: table;
  }
  /* line 131, ../../../scss/foundation/components/_global.scss */
  .view-content:after {
    clear: both;
  }
  /* line 36, ../../../scss/foundation/components/_block-grid.scss */
  .view-content > li, .view-content > .views-row {
    display: block;
    height: auto;
    float: left;
    padding: 0 0.9375rem 1.875rem;
  }
  /* line 47, ../../../scss/foundation/components/_block-grid.scss */
  .view-content > li, .view-content > .views-row {
    width: 25%;
    padding: 0 0.9375rem 1.875rem;
    list-style: none;
  }
  /* line 54, ../../../scss/foundation/components/_block-grid.scss */
  .view-content > li:nth-of-type(n), .view-content > .views-row:nth-of-type(n) {
    clear: none;
  }
  /* line 55, ../../../scss/foundation/components/_block-grid.scss */
  .view-content > li:nth-of-type(4n+1), .view-content > .views-row:nth-of-type(4n+1) {
    clear: both;
  }
}

/* line 15, ../../../scss/custom/techlending.scss */
.views-row {
  border-left: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  height: 344px !important;
}
/* line 24, ../../../scss/custom/techlending.scss */
.views-row .views-field-field-image,
.views-row .views-field-field-device-image {
  display: table;
  width: 100%;
  height: 14.125rem;
}
/* line 29, ../../../scss/custom/techlending.scss */
.views-row .views-field-field-image .field-content,
.views-row .views-field-field-device-image .field-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
