/**
 * This file is used for extending existing type styles into custom css
 */
/* Typography resets */
/* line 159, ../../../scss/custom/_silent_type.scss */
.views-row .views-field-title,
.views-row .views-field-body .field-content {
  margin: 0;
  padding: 0;
}

/* Default Link Styles */
/* Default paragraph styles */
/* line 177, ../../../scss/custom/_silent_type.scss */
.views-row .views-field-body .field-content {
  font-family: inherit;
  font-weight: normal;
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}
/* line 185, ../../../scss/custom/_silent_type.scss */
.views-row .views-field-body .lead.field-content {
  font-size: 1.16875rem;
  line-height: 1.6;
}
/* line 187, ../../../scss/custom/_silent_type.scss */
.views-row .views-field-body .field-content aside {
  font-size: 0.875rem;
  line-height: 1.35;
  font-style: italic;
}

/* Default header styles */
/* line 195, ../../../scss/custom/_silent_type.scss */
.views-row .views-field-title {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #555555;
  text-rendering: optimizeLegibility;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
/* line 215, ../../../scss/custom/_silent_type.scss */
.views-row .views-field-title {
  font-size: 1rem;
}

/* Helpful Typography Defaults */
/* Lists */
/* Unordered Lists */
/* Ordered Lists */
/* Definition Lists */
/* Abbreviations */
/* Blockquotes */
/* Microformats */
@media only screen and (min-width: 48em) {
  /* line 391, ../../../scss/custom/_silent_type.scss */
  .views-row .views-field-title {
    line-height: 1.2;
  }

  /* line 395, ../../../scss/custom/_silent_type.scss */
  .views-row .views-field-title {
    font-size: 1.3125rem;
  }
}
@media only screen and (max-width: 47.937em) {
  /* line 6, ../../../scss/custom/techlending.scss */
  .views-row {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 75%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
    padding: 1.25rem;
  }
}
@media only screen and (min-width: 48em) {
  /* line 6, ../../../scss/custom/techlending.scss */
  .views-row {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 25%;
    float: left;
    padding-bottom: 10px;
  }
}
/* line 25, ../../../scss/custom/techlending.scss */
.views-row .views-field-field-image,
.views-row .views-field-field-device-image {
  display: table;
  width: 100%;
  height: 14.125rem;
}
/* line 30, ../../../scss/custom/techlending.scss */
.views-row .views-field-field-image .field-content,
.views-row .views-field-field-device-image .field-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
@media only screen and (max-width: 47.937em) {
  /* line 42, ../../../scss/custom/techlending.scss */
  .views-row .views-field-body .field-content p {
    margin-bottom: 0;
  }
}
/* line 50, ../../../scss/custom/techlending.scss */
.views-row .views-field-field-lending-method,
.views-row .views-field-field-device-lending-period {
  padding-top: 10px;
  color: gray;
  font-style: italic;
  font-size: .9em;
}

/* line 58, ../../../scss/custom/techlending.scss */
.view-footer {
  margin-top: 1.25rem;
}
