/* line 259, ../../../scss/foundation/components/_global.scss */
meta.foundation-version {
  font-family: "/5.1.0/";
}

/* line 264, ../../../scss/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen and (max-width: 47.937em)/";
  width: 0em;
}

/* line 269, ../../../scss/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:48em)/";
  width: 48em;
}

/* line 274, ../../../scss/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

/* line 279, ../../../scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 284, ../../../scss/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 289, ../../../scss/foundation/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* line 294, ../../../scss/foundation/components/_global.scss */
html, body {
  height: 100%;
}

/* line 80, ../../../scss/foundation/components/_top-bar.scss */
meta.foundation-mq-topbar {
  font-family: "/only screen and (min-width:48em)/";
  width: 48em;
}

/* line 110, ../../../scss/foundation/components/_type.scss */
.text-left {
  text-align: left !important;
}

/* line 111, ../../../scss/foundation/components/_type.scss */
.text-right {
  text-align: right !important;
}

/* line 112, ../../../scss/foundation/components/_type.scss */
.text-center {
  text-align: center !important;
}

/* line 113, ../../../scss/foundation/components/_type.scss */
.text-justify {
  text-align: justify !important;
}

@media only screen and (max-width: 47.937em) {
  /* line 116, ../../../scss/foundation/components/_type.scss */
  .small-only-text-left {
    text-align: left !important;
  }

  /* line 117, ../../../scss/foundation/components/_type.scss */
  .small-only-text-right {
    text-align: right !important;
  }

  /* line 118, ../../../scss/foundation/components/_type.scss */
  .small-only-text-center {
    text-align: center !important;
  }

  /* line 119, ../../../scss/foundation/components/_type.scss */
  .small-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen {
  /* line 123, ../../../scss/foundation/components/_type.scss */
  .small-text-left {
    text-align: left !important;
  }

  /* line 124, ../../../scss/foundation/components/_type.scss */
  .small-text-right {
    text-align: right !important;
  }

  /* line 125, ../../../scss/foundation/components/_type.scss */
  .small-text-center {
    text-align: center !important;
  }

  /* line 126, ../../../scss/foundation/components/_type.scss */
  .small-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 48em) and (max-width: 64em) {
  /* line 130, ../../../scss/foundation/components/_type.scss */
  .medium-only-text-left {
    text-align: left !important;
  }

  /* line 131, ../../../scss/foundation/components/_type.scss */
  .medium-only-text-right {
    text-align: right !important;
  }

  /* line 132, ../../../scss/foundation/components/_type.scss */
  .medium-only-text-center {
    text-align: center !important;
  }

  /* line 133, ../../../scss/foundation/components/_type.scss */
  .medium-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 48em) {
  /* line 137, ../../../scss/foundation/components/_type.scss */
  .medium-text-left {
    text-align: left !important;
  }

  /* line 138, ../../../scss/foundation/components/_type.scss */
  .medium-text-right {
    text-align: right !important;
  }

  /* line 139, ../../../scss/foundation/components/_type.scss */
  .medium-text-center {
    text-align: center !important;
  }

  /* line 140, ../../../scss/foundation/components/_type.scss */
  .medium-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  /* line 144, ../../../scss/foundation/components/_type.scss */
  .large-only-text-left {
    text-align: left !important;
  }

  /* line 145, ../../../scss/foundation/components/_type.scss */
  .large-only-text-right {
    text-align: right !important;
  }

  /* line 146, ../../../scss/foundation/components/_type.scss */
  .large-only-text-center {
    text-align: center !important;
  }

  /* line 147, ../../../scss/foundation/components/_type.scss */
  .large-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 151, ../../../scss/foundation/components/_type.scss */
  .large-text-left {
    text-align: left !important;
  }

  /* line 152, ../../../scss/foundation/components/_type.scss */
  .large-text-right {
    text-align: right !important;
  }

  /* line 153, ../../../scss/foundation/components/_type.scss */
  .large-text-center {
    text-align: center !important;
  }

  /* line 154, ../../../scss/foundation/components/_type.scss */
  .large-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  /* line 158, ../../../scss/foundation/components/_type.scss */
  .xlarge-only-text-left {
    text-align: left !important;
  }

  /* line 159, ../../../scss/foundation/components/_type.scss */
  .xlarge-only-text-right {
    text-align: right !important;
  }

  /* line 160, ../../../scss/foundation/components/_type.scss */
  .xlarge-only-text-center {
    text-align: center !important;
  }

  /* line 161, ../../../scss/foundation/components/_type.scss */
  .xlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) {
  /* line 165, ../../../scss/foundation/components/_type.scss */
  .xlarge-text-left {
    text-align: left !important;
  }

  /* line 166, ../../../scss/foundation/components/_type.scss */
  .xlarge-text-right {
    text-align: right !important;
  }

  /* line 167, ../../../scss/foundation/components/_type.scss */
  .xlarge-text-center {
    text-align: center !important;
  }

  /* line 168, ../../../scss/foundation/components/_type.scss */
  .xlarge-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) and (max-width: 99999999em) {
  /* line 172, ../../../scss/foundation/components/_type.scss */
  .xxlarge-only-text-left {
    text-align: left !important;
  }

  /* line 173, ../../../scss/foundation/components/_type.scss */
  .xxlarge-only-text-right {
    text-align: right !important;
  }

  /* line 174, ../../../scss/foundation/components/_type.scss */
  .xxlarge-only-text-center {
    text-align: center !important;
  }

  /* line 175, ../../../scss/foundation/components/_type.scss */
  .xxlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) {
  /* line 179, ../../../scss/foundation/components/_type.scss */
  .xxlarge-text-left {
    text-align: left !important;
  }

  /* line 180, ../../../scss/foundation/components/_type.scss */
  .xxlarge-text-right {
    text-align: right !important;
  }

  /* line 181, ../../../scss/foundation/components/_type.scss */
  .xxlarge-text-center {
    text-align: center !important;
  }

  /* line 182, ../../../scss/foundation/components/_type.scss */
  .xxlarge-text-justify {
    text-align: justify !important;
  }
}
/* line 110, ../../../scss/foundation/components/_type.scss */
.text-left {
  text-align: left !important;
}

/* line 111, ../../../scss/foundation/components/_type.scss */
.text-right {
  text-align: right !important;
}

/* line 112, ../../../scss/foundation/components/_type.scss */
.text-center {
  text-align: center !important;
}

/* line 113, ../../../scss/foundation/components/_type.scss */
.text-justify {
  text-align: justify !important;
}

@media only screen and (max-width: 47.937em) {
  /* line 116, ../../../scss/foundation/components/_type.scss */
  .small-only-text-left {
    text-align: left !important;
  }

  /* line 117, ../../../scss/foundation/components/_type.scss */
  .small-only-text-right {
    text-align: right !important;
  }

  /* line 118, ../../../scss/foundation/components/_type.scss */
  .small-only-text-center {
    text-align: center !important;
  }

  /* line 119, ../../../scss/foundation/components/_type.scss */
  .small-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen {
  /* line 123, ../../../scss/foundation/components/_type.scss */
  .small-text-left {
    text-align: left !important;
  }

  /* line 124, ../../../scss/foundation/components/_type.scss */
  .small-text-right {
    text-align: right !important;
  }

  /* line 125, ../../../scss/foundation/components/_type.scss */
  .small-text-center {
    text-align: center !important;
  }

  /* line 126, ../../../scss/foundation/components/_type.scss */
  .small-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 48em) and (max-width: 64em) {
  /* line 130, ../../../scss/foundation/components/_type.scss */
  .medium-only-text-left {
    text-align: left !important;
  }

  /* line 131, ../../../scss/foundation/components/_type.scss */
  .medium-only-text-right {
    text-align: right !important;
  }

  /* line 132, ../../../scss/foundation/components/_type.scss */
  .medium-only-text-center {
    text-align: center !important;
  }

  /* line 133, ../../../scss/foundation/components/_type.scss */
  .medium-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 48em) {
  /* line 137, ../../../scss/foundation/components/_type.scss */
  .medium-text-left {
    text-align: left !important;
  }

  /* line 138, ../../../scss/foundation/components/_type.scss */
  .medium-text-right {
    text-align: right !important;
  }

  /* line 139, ../../../scss/foundation/components/_type.scss */
  .medium-text-center {
    text-align: center !important;
  }

  /* line 140, ../../../scss/foundation/components/_type.scss */
  .medium-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  /* line 144, ../../../scss/foundation/components/_type.scss */
  .large-only-text-left {
    text-align: left !important;
  }

  /* line 145, ../../../scss/foundation/components/_type.scss */
  .large-only-text-right {
    text-align: right !important;
  }

  /* line 146, ../../../scss/foundation/components/_type.scss */
  .large-only-text-center {
    text-align: center !important;
  }

  /* line 147, ../../../scss/foundation/components/_type.scss */
  .large-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 151, ../../../scss/foundation/components/_type.scss */
  .large-text-left {
    text-align: left !important;
  }

  /* line 152, ../../../scss/foundation/components/_type.scss */
  .large-text-right {
    text-align: right !important;
  }

  /* line 153, ../../../scss/foundation/components/_type.scss */
  .large-text-center {
    text-align: center !important;
  }

  /* line 154, ../../../scss/foundation/components/_type.scss */
  .large-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  /* line 158, ../../../scss/foundation/components/_type.scss */
  .xlarge-only-text-left {
    text-align: left !important;
  }

  /* line 159, ../../../scss/foundation/components/_type.scss */
  .xlarge-only-text-right {
    text-align: right !important;
  }

  /* line 160, ../../../scss/foundation/components/_type.scss */
  .xlarge-only-text-center {
    text-align: center !important;
  }

  /* line 161, ../../../scss/foundation/components/_type.scss */
  .xlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) {
  /* line 165, ../../../scss/foundation/components/_type.scss */
  .xlarge-text-left {
    text-align: left !important;
  }

  /* line 166, ../../../scss/foundation/components/_type.scss */
  .xlarge-text-right {
    text-align: right !important;
  }

  /* line 167, ../../../scss/foundation/components/_type.scss */
  .xlarge-text-center {
    text-align: center !important;
  }

  /* line 168, ../../../scss/foundation/components/_type.scss */
  .xlarge-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) and (max-width: 99999999em) {
  /* line 172, ../../../scss/foundation/components/_type.scss */
  .xxlarge-only-text-left {
    text-align: left !important;
  }

  /* line 173, ../../../scss/foundation/components/_type.scss */
  .xxlarge-only-text-right {
    text-align: right !important;
  }

  /* line 174, ../../../scss/foundation/components/_type.scss */
  .xxlarge-only-text-center {
    text-align: center !important;
  }

  /* line 175, ../../../scss/foundation/components/_type.scss */
  .xxlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) {
  /* line 179, ../../../scss/foundation/components/_type.scss */
  .xxlarge-text-left {
    text-align: left !important;
  }

  /* line 180, ../../../scss/foundation/components/_type.scss */
  .xxlarge-text-right {
    text-align: right !important;
  }

  /* line 181, ../../../scss/foundation/components/_type.scss */
  .xxlarge-text-center {
    text-align: center !important;
  }

  /* line 182, ../../../scss/foundation/components/_type.scss */
  .xxlarge-text-justify {
    text-align: justify !important;
  }
}
/**
 * This file is used for extending existing type styles into custom css
 */
/* Typography resets */
/* line 159, ../../../scss/custom/_silent_type.scss */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* Default Link Styles */
/* Default paragraph styles */
/* line 177, ../../../scss/custom/_silent_type.scss */
.views-row .views-field-body .field-content {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}
/* line 185, ../../../scss/custom/_silent_type.scss */
.views-row .views-field-body .lead.field-content {
  font-size: 1.21875rem;
  line-height: 1.6;
}
/* line 187, ../../../scss/custom/_silent_type.scss */
.views-row .views-field-body .field-content aside {
  font-size: 0.875rem;
  line-height: 1.35;
  font-style: italic;
}

/* Default header styles */
/* line 195, ../../../scss/custom/_silent_type.scss */
.views-row .views-field-title {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #555555;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}
/* line 215, ../../../scss/custom/_silent_type.scss */
.views-row .views-field-title {
  font-size: 1.125rem;
}

/* Helpful Typography Defaults */
/* Lists */
/* Unordered Lists */
/* Ordered Lists */
/* Definition Lists */
/* Abbreviations */
/* Blockquotes */
/* Microformats */
@media only screen and (min-width: 48em) {
  /* line 391, ../../../scss/custom/_silent_type.scss */
  .views-row .views-field-title {
    line-height: 1.4;
  }

  /* line 395, ../../../scss/custom/_silent_type.scss */
  .views-row .views-field-title {
    font-size: 1.4375rem;
  }
}
/*
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/
/* line 406, ../../../scss/custom/_silent_type.scss */
.print-only {
  display: none !important;
}

@media print {
  /* line 408, ../../../scss/custom/_silent_type.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 443, ../../../scss/custom/_silent_type.scss */
  p {
    orphans: 3;
    widows: 3;
  }

  /* line 451, ../../../scss/custom/_silent_type.scss */
  .hide-on-print {
    display: none !important;
  }

  /* line 452, ../../../scss/custom/_silent_type.scss */
  .print-only {
    display: block !important;
  }

  /* line 453, ../../../scss/custom/_silent_type.scss */
  .hide-for-print {
    display: none !important;
  }

  /* line 454, ../../../scss/custom/_silent_type.scss */
  .show-for-print {
    display: inherit !important;
  }
}
@media only screen and (max-width: 47.937em) {
  /* line 6, ../../../scss/custom/techlending.scss */
  .views-row {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 75%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    float: none;
    padding: 1.25rem;
  }
}
@media only screen and (min-width: 48em) {
  /* line 6, ../../../scss/custom/techlending.scss */
  .views-row {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 25%;
    float: left;
    padding-bottom: 10px;
  }
}
/* line 25, ../../../scss/custom/techlending.scss */
.views-row .views-field-field-image,
.views-row .views-field-field-device-image {
  display: table;
  width: 100%;
  height: 14.125rem;
}
/* line 30, ../../../scss/custom/techlending.scss */
.views-row .views-field-field-image .field-content,
.views-row .views-field-field-device-image .field-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
@media only screen and (max-width: 47.937em) {
  /* line 42, ../../../scss/custom/techlending.scss */
  .views-row .views-field-body .field-content p {
    margin-bottom: 0;
  }
}
/* line 50, ../../../scss/custom/techlending.scss */
.views-row .views-field-field-lending-method,
.views-row .views-field-field-device-lending-period {
  padding-top: 10px;
  color: gray;
  font-style: italic;
  font-size: .9em;
}

/* line 58, ../../../scss/custom/techlending.scss */
.view-footer {
  margin-top: 1.25rem;
}
