/*begin side nav*/
#page #sidebar-left #block-menu-menu-scrc{
    margin: 0px 0px 20px 0px;
}
/*end side nav*/


/*begin contact us*/

/*end contact us*/

/*begin scrc search box 8.23.13*/
#scrc-form-wrapper{
    float: left;
    margin: 0px 0px 30px 0px;
    width: 100%;
}
#scrc-search-form{
    float: left;
    margin: 0px 0px 0px 0px;
    width: 100%;
}
#scrc-search{
    border: 1px solid #ddd;
    color: #555;
    float: left;
    font-size: 1.3em;
    font-style: italic;
    height: 21px;
    line-height: 1em;
    margin: 0px 0px 5px 0px;
    padding: 2%;
    width: 582px;
}
#scrc-search.active, #scrc-search:focus{
    color: #555;
    font-style: normal;
}
#scrc-submit{
    background: #940200;
    border: 0px;
    color: #FFF;
    cursor: pointer;
    float: right;
    height: 51px;
    margin: 0px 0px 0px -1px;
    width: 88px;
}
.workbench-info-block{
    float: left;
    width: 100%;
    display: none;
}
/*end scrc search box*/


/*begin scrc search box sideblock*/
#scrc-side-search{
    border: 1px solid #ddd;
    color: #555;
    margin-bottom: 10px;
    padding: 5%;
    width: 196px;
}
#scrc-side-submit{
    background: #A30D01;
    border: 0px;
    color: #FFF;
    float: right;
    margin-bottom: 10px;
    padding: 10px;
}
#scrc-side-form-wrapper h3{
    font-size: 1.4em;
    margin-bottom: 10px;
}
#scrc-side-form-wrapper .more-links{
    float: left;
    list-style-type: none;
    margin: 0px;
    width: 100%;
}
#scrc-side-form-wrapper .more-links li{
    background: none;
    float: left;
    padding: 0px;
    width: 100%;
}
#scrc-side-form-wrapper .more-links li a{
    font-size: 0.85em;
}


/*begin news feed*/


#scrc-news{
    float: left;
    width: 100%;
}
#page #scrc-news h2{
    margin: 0px 0px 15px 0px;
}
#page #news-feed{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#page #news-feed li{
    background: none;
    float: left;
    margin: 0px 0px 35px 0px;
    padding: 0px;
}
#news-feed .img{
    float: left;
    margin: 0px 3% 0px 0px;
    width: 25%;
}
#news-feed .content{
    float: left;
    width: 70%;
}
#page #news-feed h3{
    margin: 0px 0px 0px 0px;
}
#page #news-feed p{
    margin: 0px 0px 10px 0px;
}
#page #news-feed p.date{
    font-size: 0.9em;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
}
.view-all{
    padding-left: 28%;
}
/*end news feed*/













.grid-5.g5-5 {
    width: 275px;
    margin-left: 5px;
}

.grid-11.g11-5 {
    width: 635px;
    margin-right: 5px;
}

.big-button a {
    display: block;
    padding-top: 186px;
}

.views-field-title a {
    font-size: 2em;
}

.view-slideshows, .scrc-about {
    background: rgb(241, 241, 241);
    box-shadow: inset 1px 1px 13px rgb(218, 218, 218);
}

.view-slideshows {
    padding: 5px;
    height: 322px;
}

.big-button span {
    display: block;
    background: rgba(241, 241, 241, 0.95);
    box-shadow: inset 1px 1px 13px rgba(218, 218, 218, 0.95);
    font-weight: 700;
    font-size: 18px;
    padding: 5px 0 5px 10px;
}

.scrc-logo {
    /*background: url('/sites/default/files/scrc/scrc-logo.png') no-repeat 0 3px;*/
    /*text-indent: -9999px;*/
}

.scrc-search {
    height: 220px;
    background: url('/sites/default/files/scrc/search.jpg') no-repeat;
}

.scrc-visit {
    height: 220px;
    background: url('/sites/default/files/scrc/visit.jpg') no-repeat;
}

.scrc-donate {
    height: 220px;
    background: url('/sites/default/files/scrc/donate.jpg') no-repeat;
}

.scrc-about {
    height: 220px;
}
