/* DV: backgrounds */
 .courseviews {
    background: url("/sites/default/files/dataviews/webpage_widget.jpg") no-repeat 100% 0 #99AA77;
}
.device-lending {
    background: url("/sites/default/files/dataviews/laptop_widget.jpg") no-repeat 100% 0 #99AA77;
}
.online-access {
    background: url("/sites/default/files/dataviews/mouse_widget.jpg") no-repeat 100% 0 #99AA77;
}
.new-books {
    background: url("/sites/default/files/dataviews/book_widget.jpg") no-repeat 100% 0 #99AA77;
}
.computer-logins {
    background: url("/sites/default/files/dataviews/keyboard_widget.jpg") no-repeat 100% 0 #99AA77;
}
.cost-per-use {
    background: url("/sites/default/files/dataviews/serial_widget.jpg") no-repeat 100% 0 #99AA77;
}
.collection-use {
    background: url("/sites/default/files/dataviews/distorted_spider_widget.jpg") no-repeat 100% 0 #99AA77;
}
.gate-counts {
    background: url("/sites/default/files/dataviews/dh_hill_widget.jpg") no-repeat 100% 0 #99AA77;
}
.hours-open {
    background: url("/sites/default/files/dataviews/clock_widget.jpg") no-repeat 100% 0 #99AA77;
}
/* DV: content prefix and suffixes */
 .online-access .views-field-expression .field-content:after {
    content:"%";
}
.cost-per-use .views-field-expression .field-content:before {
    content:"$";
}
.collection-use .views-field-expression .field-content:after {
    content:" million";
}
/* DV: Sidebars
        displaying in one of the sidebar columns (left or right)
        setting "global" values for styling in these columns
    */
 .sidebar .view-dv-hours-open {
    box-shadow: 0 0px 2px #C9C9C7 inset;
    border: 1px solid #C9C9C7;
}
.dataviews {
    height: 214px;
}
.sidebar .view-dv-hours-open .views-field-expression .field-content {
    color: #000;
    display: block;
    font-size: 5em;
    line-height: 1;
    margin: 0 0 0 19px;
    padding: 15px 0 7px 0;
    text-shadow: 0 1px 1px #000;
}
#page .sidebar .view-dv-hours-open .views-field-body .field-content p, #page .sidebar .view-dv-hours-open .views-field-field-dv-pre .field-content {
    color: black;
    font-size: 1.65em;
    line-height: 1.1;
    padding-left: 21px;
    margin: 0;
}
#page .sidebar .view-dv-hours-open .views-field-field-dv-pre .field-content {
    padding: 20px 0 0 21px;
}
.sidebar .view-dv-hours-open .views-field-field-dv-date {
    color: #000;
    font-style: italic;
    float: left;
    left:0;
}
.sidebar .view-dv-hours-open .views-field-field-dv-action-text {
    font-weight: 700;
    text-align: right;
    padding: 0;
}
#page .sidebar .view-dv-hours-open .views-field-field-dv-action-text a {
    font-size: .9em;
    color: #fff;
    background: url('/sites/default/files/dataviews/more_arrow_white.jpg') 100% no-repeat;
    padding-right: 10px;
}
/* DV: Sidebars
        displaying in one of the sidebar columns (left or right)
        setting "overrides" for styling in these columns
    */
 #page div#block-views-dv-hours-open-block-1 .views-field-expression .field-content {
    margin-top: 0;
    font-size: 4em;
}
/* DV: Sidebars
        fix for sidebar-left rule that only puts 2px of margin-bottom on each block of
        content in the sidebar
        */
 #page #sidebar-left div[id^="block-views-dv"] {
    margin-top: 1.5em;
}
/* mopping up */
 .views-field-field-dv-action-text, .views-field-field-dv-date {
    margin-left: 6px;
    margin-right: 6px;
}
/**
 * Because of an odd thing where blocks on the left sidebar have a
 * margin-bottom of 2px and blocks on the right sidebar have a margin-bottom
 * of 1.5em
 */
 .region-sidebar-second .views-field-field-dv-action-text, .region-sidebar-second .views-field-field-dv-date {
    position: absolute;
    bottom: 19px;
    right: 0;
}
.region-sidebar-second .views-field-field-dv-date {
    left: 0;
}
.region-sidebar-first .views-field-field-dv-action-text, .region-sidebar-first .views-field-field-dv-date {
    position: absolute;
    bottom: 0;
    right: 0;
}
#main .views-row.collection-use .views-field-expression .field-content {
    font-size: 4em;
    padding-top: 10px;
}
#page div#block-views-dv-hours-open-block-1 .collection-use .views-field-expression .field-content {
    font-size: 3.5em;
}