#page .block ul {
	margin: 0;
	padding:0;
}
#page ul {
	margin: 0;
}
#page ul li {
	background: none;
	margin: 0 0 10px 0;
	padding: 0;
	clear: left;
}
.views-field-node-image {
	float: left;
	padding: 5px 5px 2px 5px;
	border: 1px solid #ccc;
	margin: 0 20px 10px 0;
	line-height: normal;
	-moz-box-shadow: 3px 3px 3px #ddd;
	-webkit-box-shadow: 3px 3px 3px #ddd;
	box-shadow: 3px 3px 3px #ddd;
}
.views-field-node-image img{
	vertical-align: text-bottom;
}
.view-digital-collections .views-field-title a {
	font-weight: bold;
	font-size: 16px;
}
.view-digital-collections .item-list ul li {
	padding-top: 15px;
	padding-right: 10px;
}
