#page .view-display-id-block_6 .views-field-title a {
    font-size: 12px;
    font-weight: 700;
}

.views-row-even {
    background-color: #F1F1F1;
}

.view-upcoming-events .views-row {
    padding: 5px 0;
    margin: 0;
}

.view-display-id-block_6 .view-upcoming-events .views-field-title {
    margin: 0;
}

.view-upcoming-events .views-field-title {
    margin: 0;
}

.views-field {
    width: 33%;
    display: block;
    float: left;
}

.views-field-field-time {
    width: 25%;
}

.views-field-title {
    width: 42%;
}

.view-upcoming-events .views-field-field-time, .view-upcoming-events .views-field-field-event-start, .view-upcoming-events .views-field-field-space {
    padding-left: 0;
}

.view-upcoming-events h3 {
    margin-top: 30px;
}

.view-upcoming-events h3:first-child {
    margin-top: 0;
}
