/* slideshow image polaroid border */
.views-field-node-image {
	float: left;
	padding: 5px 5px 2px 5px;
	border: 1px solid #ccc;
	margin: 0 20px 10px 0;
	line-height: normal;
	-moz-box-shadow: 3px 3px 3px #ddd;
	-webkit-box-shadow: 3px 3px 3px #ddd;
	box-shadow: 3px 3px 3px #ddd;
}