/*begin rotating artbox*/
.block-views-slideshows-block-4{
    margin-bottom: 30px;
}
.block-views-slideshows-block-4 img{
    width: 100%;
}
/*end rotating artbox*/


/*begin hunt promo 1*/
#hunt-promo-1{
    margin-bottom: 20px;
}
/*end hunt promo 1*/


/*begin hunt promo 2*/
#hunt-promo-2{
    margin-bottom: 20px;
}
/*end hunt promo 1*/


/*begin events block*/
.main .events-block{
    padding-left: 0px;
}

/*end events block*/

/*begin news block*/
#block-aggregator-feed-7 {
    margin-bottom: 30px;
}

@media only screen and (max-width : 768px){
    #block-aggregator-feed-7 {
        padding: 0px;
    }
}

#block-aggregator-feed-7 ul{
    list-style-type: none;
}

#block-aggregator-feed-7 ul li{
    margin: 0px 0px 10px 0px;
}
/*begin news block*/





a.nav-item {
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 10px;
    display: block;
}

.storify-item {
    border: 1px solid #e0e0e0;
    margin: 50px 0;
    clear: both;
    overflow: auto;
}

.post-attribution {
    padding: 5px 27px;
    padding: 4px 27px;
    overflow-y: auto;
    border-top: 1px solid #e0e0e0;
}

.by-image {
    width: 48px;
    height: 48px;
    float: left;
    border: 1px solid gray;
    margin-right: 12px;
    padding: 2px;
    margin-left: 390px;
}

#page p.storify-quote {
    padding: 14px;
    font-size: 1.25em;
    line-height: 1.5;
}

#page p.by-name {
    font-size: 1.5em;
    margin-top: 18px;
    line-height: .1;
}

.twitter {
    background-color: rgba(190,241,253,0.34);
    overflow-y: auto;
}

.storify-item {
    background-image: url(/sites/default/files/huntlibrary/storify/connect.png);
    padding: 0;
}

.storify-item:nth-child(1) {
    margin-top: 25px;
}

.storify-post-content {
    overflow-y: auto;
    word-wrap: break-word;
    background: #fff;
    background-clip: content-box;
}

.center-align {
    text-align: center;
}

.item-image {
    max-width: 577px;
    margin-top: 7px;
}

.storify-title {
    text-align: center;
    padding-top: 16px;
}

.powered {
    text-align: center;
}

.invisible {
    display: none;
}

.powered-link {
    background: url("/sites/default/files/huntlibrary/storify/logo.png") no-repeat;
    display: inline-block;
    height: 18px;
    width: 73px;
    position: relative;
    top: 5px;
    left: 3px;
}

.powered-link:hover {
    background-position-y: -18px;
}

.storify-container {
    border-top: 1px solid #E0E0E0;
    padding-top: 30px;
}



#block-views-upcoming-events-block-5 {
    clear: left;
    padding-top: 6px;
}

#block-views-upcoming-events-block-1 {
    margin-bottom: 0;
}

.featured-event-link {
    font-size: 1.5em;
    line-height: 1;
}

.view-display-id-block_1 .date-display-single {
    font-size: 1.3em;
}

.mock-li {
    margin: 0;
    padding: 0 0 0 18px;
    background: url(/sites/all/themes/ncsulibraries/images/graybullet.png)7px 5px no-repeat;
}

.view-display-id-block_5 .views-field {
    line-height: 1.4;
}

.view-display-id-block_5 .views-field-title {
    float: left;
    margin-right: 10px;
    width: 171px;
}

.view-display-id-block_5 .views-field-field-event-start {
    color: gray;
}

.event-featured-image {
    float: left;
    border: 1px solid gray;
    padding: 3px;
    margin-right: 10px;
}

.view-display-id-block_1 .views-field-field-image .field-content {
    height: 67px;
}

.block-views h2,.block-aggregator h2 {
    margin-bottom: 22px;
}

.video-div {
    margin-left: 50px;
    margin-top: 10px;
}

.video-info,.link-info {
    padding: 0 20px;
}

.sfy-story {
    margin-top: 290px;
    border-top: 1px solid #ddd;
}
