.views-slideshow-controls-bottom {
    text-align: right;
    margin-right: 36px;
    position: relative;
    top: -30px;
    z-index: 50;
}

.views_slideshow_controls_text_previous {
    height: 17px;
    width: 17px;
    background: url('/artbox/includes/artbox-prev.png') no-repeat;
    display: inline-block;
    background-size: 17px 17px;
    opacity: .5;
}

.views_slideshow_controls_text_pause.control-resume{
  background-image: url('/artbox/includes/artbox-resume.png');
}

.views_slideshow_controls_text_pause {
    height: 17px;
    width: 17px;
    background-image: url('/artbox/includes/artbox-pause.png');
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 17px 17px;
    opacity: .5;
}

.views_slideshow_controls_text_next {
    height: 17px;
    width: 17px;
    background: url('/artbox/includes/artbox-next.png') no-repeat;
    display: inline-block;
    background-size: 17px 17px;
    opacity: .5;
}

.views_slideshow_controls_text_previous:hover,
.views_slideshow_controls_text_pause:hover,
.views_slideshow_controls_text_next:hover {
    opacity: 1;
}

.views-slideshow-controls-bottom a {
    display: none;
}
