.container-16 .grid-8 {
	margin-left: 17px;
	width: 450px;
}

img.thumb {
	cursor: pointer;
	margin: 0 7px 7px;
	border:1px solid #b2b1ac;
}
img.thumb:hover, img.active-thumb {
	border:1px solid #fff;
	margin: 0 7px 7px;
}
div.highlight {
	background: #2F3237;
	display: none;
	padding-bottom: 7px;
	width: 510px;
	height: 593px; /* Firefox is a pixel shy, hence hack below*/
}
@-moz-document url-prefix() {
  div.highlight {
     height:594px;
  }
}

.highlight h3 {
	background: black;
	background: rgba(0, 0, 0, 0.7);
	margin-top: -56px;
	z-index: 1;
	color: whiteSmoke;
	position: absolute;
	width: 478px;
	padding: 16px;
	font-size: 18px;
}

#page div.highlight p {
	font-size: 13px;
	line-height: 1.2;
	color: white;
	padding: 2px 50px;
}
#node-1148 .highlight a:hover{
    color: #4C83AF;  
} 

div#highlight1 {
	display: block;
}

.container-16 .grid-6 {
	background: #CCC;
width: 315px;
margin-left: -20px;
padding-left: 4px;
padding-top: 16px;
overflow: hidden;
border-left: 57px solid #CCC;
border-right: 34px solid #CCC;
	/* override, yes i know this defeats the purpose :P */
	overflow: hidden;
}

div#gallery {
	height: 536px;
	overflow: hidden;
	width: 312px;
}

div.gal {
	float: left;
	width: 312px;
}

div.highlight img {
	width: 510px;
}

div#menu {
	padding-left: 119px;
}

div#menu ul li a.active-view {
	background: url("/sites/default/files/learningspaces/dot.png") no-repeat;
	height: 19px;
	width: 19px;
	display: block;
	cursor: default;
}

div#menu ul li a.inactive-view {
	background: url("/sites/default/files/learningspaces/dot.png") no-repeat -19px 0px;
	height: 19px;
	width: 19px;
	display: block;
	cursor: pointer;
}

div#menu ul li {
	background: none;
	display: inline-block;
	padding: 0;
}
