#searchtabs > div {
	background-color: #999;
	padding: 17px 17px;
}

.js #searchtabs .ui-tabs-hide {
	display:none;
}

.ui-widget-header {
	background-color: transparent;
	background-image: none;
}

.ui-corner-all {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}


.ui-widget-cotent {
	border-width: 0;
	background-color: transparent;
	background-image: none;
}

.ui-state-active {
	background-color: transparent;
	background-image: none;
}

/* Search tabs */
#mainsearch {
	margin-top: 10px;
	line-height: 1.5;
}

#mainsearch h1 {
	color: #8f3931;
	font-size: 1.6875em;
	font-weight: bold;
	padding: 5px 0;
	margin: 0;
	line-height: normal;
	font-family: Helvetica, Arial, sans-serif;
	border-bottom: none
}

#page #searchtabs .main-search-field {
	border-width: 0 0 0 0;
	border-color: #999;
	height: 32px;
	line-height: 32px;
	padding: 0 1px 0 4px;
	vertical-align: bottom;
	width: 415px;
}
#page #searchtabs .articles-search-field {
	width: 270px;
	height: 23px;
	font-size:1em;
	border-width: 0 0 0 0;
	border-color: #999;
	vertical-align: bottom;
	padding: 0 1px 0 4px;
}
#page #searchtabs .books-media-search-field {
	width: 270px;
	height: 23px;
	font-size:1em;
	border-width: 0 0 0 0;
	border-color: #999;
	vertical-align: bottom;
	padding: 0 1px 0 4px;
}

.front-page-submit {
	background: #979797 url("/website/images/searchtabs-button-sprite.png") no-repeat 0px 4px;
	border: 0;
	margin: 0;
	padding: 0;
	display:inline-block;
	width: 60px;
	height: 32px;
	margin-left: 0px;
	padding-top: 0px;
}

.front-page-submit:hover {
	cursor: pointer;
}

.front-page-submit:active{
	cursor: pointer;
	background-position: 0 -19px;
	-ms-background-position-x: 1px;
	-ms-background-position-y: -19px;
}

label.main-search-label {
	font-size: .7em;
	padding-left: 5px;
}

#searchtabs {
	background-color: transparent;
	background-image: none;
	border-width: 0;
	margin-left: 0px;
	padding-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

#searchtabs .ui-state-default {
	background-image: none;
}

#searchtabs ul.ui-tabs-nav {
	padding-left: 0;
	-moz-border-top-right-radius: 0;
	-webkit-border-top-right-radius: 0;
	line-height:.8;
}

#searchtabs .ui-tabs-nav li {
	margin-right: 0;
	font-size: .7em;
}

#searchtabs .ui-tabs-nav li a {
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
}

#page #searchtabs .ui-state-active {
	background-color: #A30D01;
	border-color: #A30D01;
	border-radius: 0px;
}
#searchtabs .ui-state-default a {
	color: #777;
}
#searchtabs .ui-state-active a {
	color: white;

}
#searchtabs .ui-tabs-panel {
	border-width: 0 1px 1px 1px;
	border-color: #A30D01;
	-moz-border-bottom-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-top-right-radius: 0;
	-webkit-border-top-right-radius: 0;
	border-radius: 0px;
	background-color: #A30D01;
}

#searchtabs .ui-widget-header {
	border-width: 0 0 1px 0;
}

#searchtabs .main-search-field p {
	font-size: .7em;
}

#searchtabs .active {
	color: #000;
}

#page p.search-more, #page p.search-options {
	font-size: .9em;
	text-align: left;
	color: white;
	margin: 0px;
}

#page p.search-more a {
	color: white;
}

#page p.search-example {
	color: white;
	margin-bottom: 0px;
	text-align: left;
}

#page p.search-options label{
	display: inline !important;
	font-weight: normal !important;
}

/*div#mainsearch select#Ntk {
	width: 90px;
	margin: 0 6px 0 2px;
}*/


.search-more {
	float: right;
}
#page .ui-widget input, #page .ui-widget select, #page .ui-widget textarea, #page .ui-widget button { font-family: Arial, sans-serif; font-size: 1em; }
#page .ui-widget input {
}
.button {
	background: #888;
	color: #fff;
	border: 1px solid #666;
	padding: 2px;
	padding-bottom: 5px;
	margin: 0px;
	height: 22px;
}

/* D7 adds */
#page .ui-tabs{
	position: relative;
	zoom: 1;
}
/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
#page .ui-tabs .ui-tabs-nav{
	border-radius: 0px;
	margin: 0;
}
#page .ui-tabs .ui-tabs-nav li{
	list-style: none;
	float: left;
	position: relative;
	top: 1px;
	margin: 0 .0 1px 0;
	border-bottom: 0 !important;
	padding: 0;
	white-space: nowrap;
	background;
	font-size:1em;
	border-radius: 0px;
}
#page .ui-tabs .ui-tabs-nav li a 																				{ float: left; padding: .5em 1em; text-decoration: none; }
 #page .ui-state-default, #page .ui-widget-content .ui-state-default, #page .ui-widget-header .ui-state-default {
   background: #E6E6E6;}
.ui-widget-header {border:none;}
#research-options {margin:5px 0 0 5px}
